extends layout

append header
  meta(name='description', content=`${horse.birthname} - ${horse.sire} x ${horse.damsire}`)

block content
    .page-header-wrapper.bg-offwhite
      .container
        .row
          .col-12.text-center
            .page-header-content.d-flex
              h1(style="margin-top:50px;")= horse.birthname
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
      .product-details-content-wrap.mt-120.mt-md-80.mt-sm-60
        .container
          .row
            // Start Product Thumbnail Area
            .col-lg-6
              .product-thumb-area.element-sticky.mb-sm-24.mb-md-30
                .ht-slick-slider.prod-thumb-inner(data-slick='{"slidesToShow": 1, "infinite": false, "responsive": [{"breakpoint": 991,"settings": {"dots": false}}]}')
                  if !horse.file[0]
                    img(src=`/uploads/No-Pic.jpg`, alt=horse.birthname)
                  else
                    each file in horse.file
                      figure.port-details-thumb-item
                        a.btn-img-gallery(href=file)
                          img(src=`/uploads/${file}`, alt=horse.birthname)
            // End Product Thumbnail Area
            // Start Product Info Area
            .col-lg-6
              .product-details-info-content-wap
                .prod-details-info-content
                  h2= horse.birthname
                  h5.config-name
                    if horse.gender=="No Gender"
                      =__("Draagmoeder") 
                      b= horse.draagmoeder
                    else
                      =__("Gender") 
                      b= __(horse.gender)
                  h5.config-name
                    =__("Age") 
                    - if (horse.category.includes('Embryo'))
                      b= `° ${h.moment(horse.dateOfBirth).format('DD-MM-YYYY')}`
                    - if (!horse.category.includes('Embryo'))
                      b= `° ${h.moment(horse.dateOfBirth).format('YYYY')}`
                  if horse.level>0
                    h5.config-name
                      =__("Level") 
                      b=` ${horse.level} m`
                  h5.config-name 
                    b= horse.damline
                  //
                    <p>Created from either wood or recycled materials, it can be moulded into just about any shape and hardens to provide a hard shell. Additives can make it water resistant and it can be produced in a rainbow of colours.</p>
                    <p>Created from either wood or recycled materials, it can be moulded into just about any shape and hardens to provide a hard shell. Additives can make it water resistant.</p>
                  //- .product-action.mt-38.mb-20
                  //-   button.btn-wishlist.trio-tooltip(data-tippy-content='Add to Wishlist')
                  //-     i.fa.fa-heart-o
                  //-     | Add to Wishlist
                  .port-details-con-inner
                    .single-post-details__footer.m-0
                      .single-post-details__footer__item
                        .footer-item-left
                          h5.item-head
                            i.fa.fa-tags
                            =__("Categories")
                        .footer-item-right
                          ul.cate-list.nav
                            each category in horse.category
                              li
                                a(href=`/${locale}/${category}`)= category
                      .single-post-details__footer__item
                        .footer-item-left
                          h5.item-head
                            i.fa.fa-share-alt
                            = __("Share")
                        .footer-item-right
                          .share-item
                            -const site=path;
                            -const url= locale+site;
                            //a.trio-tooltip(target='popup', data-href=`/${locale}${path}`, href=`https://www.facebook.com/sharer/sharer.php?u=https://domani.shop/${locale}${site}&src=sdkpreparse`, data-tippy-content='Share On Facebook')
                              i.fab.fa-facebook
                            .fb-share-button(data-href=`/${locale}${path}`, data-layout='button', data-size='small')
                                a.fb-xfbml-parse-ignore(target='_blank', href=`https://www.facebook.com/sharer/sharer.php?u=/${locale}${site}&src=sdkpreparse`) Delen
                            a.trio-tooltip(href=`mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.domani.shop/${locale}${site}.`, data-tippy-content='Share Via Mail' style="margin-left:15px;")
                              i.far.fa-envelope
                            a.trio-tooltip(href=`whatsapp://send?text=http://www.domani.shop/${locale}${site}` data-action="share/whatsapp/share", data-tippy-content='Share On Whatsapp')
                              i.fab.fa-whatsapp
            // End Product Info Area
      .page-wrapper
        .product-details-content-wrap.mt-120.mt-md-80.mt-sm-60
          .container
            .row
              .product-description-review(style="width:100%;")
                // Product Description Tab Menu
                ul#desc-review-tab.nav.nav-tabs.desc-review-tab-menu(role='tablist')
                  li
                    a#desc-tab.active(data-toggle='tab', href='#pedigree', role='tab') Pedigree
                  //li
                    a#profile-tab.active(data-toggle='tab', href='#blackType') Black Type Pedigree
                  if horse.description
                    li
                      a#desc-tab(data-toggle='tab', href='#information', aria-selected='false')= __("Description")
                  if horse.result.length > 0
                    li
                      a#desc-tab(data-toggle='tab', href='#results', aria-selected='false')= __("Results")
                // Product Description Tab Content
                #myTabContent.tab-content
                  #pedigree.tab-pane.fade.active.show
                    .description-content
                                  #wrapper
                                    span.label.current-horse= horse.birthname
                                    .branch.lv1
                                      // vader kant
                                      .entry.eersteped
                                        span.label
                                          = horse.sire
                                        .branch.lv2
                                          .entry
                                            span.label
                                              = horse.siresire
                                            .branch.lv3
                                              .entry
                                                span.label
                                                  =horse.siredam
                                              .entry
                                                span.label
                                                  =horse.siresiredam
                                          .entry
                                            span.label
                                              =horse.siredam
                                            .branch.lv3
                                              .entry
                                                span.label
                                                  =horse.siredamsire
                                              .entry
                                                span.label
                                                  =horse.siredamdam
                                      // moeder kant
                                      .entry.eersteped
                                        span.label
                                          = horse.dam
                                        .branch.lv2
                                          .entry
                                            span.label
                                              =horse.damsire
                                            .branch.lv3
                                              .entry
                                                span.label
                                                  =horse.damsiresire
                                              .entry
                                                span.label
                                                  =horse.damsiredam
                                          .entry
                                            span.label
                                              =horse.damdam
                                            .branch.lv3
                                              .entry
                                                span.label
                                                  =horse.damdamsire
                                              .entry
                                                span.label
                                                  =horse.damdamdam
                  //#blackType.tab-pane.fade.active.show
                    .product-ratting-wrap
                      iframe(src='https://www.hippomundo.com/pedigree/black/360685?api_token=986f6c131dfdc1c75e3c8ab51fc1b356c200714a&tree=1', style='width:100%; height: 1000px; border: none;')
                  #information.tab-pane.fade
                    .description-content
                      p= horse.description
                  #results.tab-pane.fade
                    .description-content
                      each result in horse.result
                        li= result
      //- section.pedigree.related-products-area.mt-md-80.mt-sm-60.mb-120.mb-md-80.mb-sm-60(style='margin-top:50px;')
      //-   .container
      //-     .row
      //-       .col-12
      //-         .area-title.text-center.mb-54.mb-sm-34
      //-           h2 Pedigree
      //-         #wrapper
      //-           span.label.current-horse= horse.birthname
      //-           .branch.lv1
      //-             // vader kant
      //-             .entry.eersteped
      //-               span.label
      //-                 = horse.sire
      //-               .branch.lv2
      //-                 .entry
      //-                   span.label
      //-                     = horse.siresire
      //-                   .branch.lv3
      //-                     .entry
      //-                       span.label
      //-                         =horse.siredam
      //-                     .entry
      //-                       span.label
      //-                         =horse.siresiredam
      //-                 .entry
      //-                   span.label
      //-                     =horse.siredam
      //-                   .branch.lv3
      //-                     .entry
      //-                       span.label
      //-                         =horse.siredamsire
      //-                     .entry
      //-                       span.label
      //-                         =horse.siredamdam
      //-             // moeder kant
      //-             .entry.eersteped
      //-               span.label
      //-                 = horse.dam
      //-               .branch.lv2
      //-                 .entry
      //-                   span.label
      //-                     =horse.damsire
      //-                   .branch.lv3
      //-                     .entry
      //-                       span.label
      //-                         =horse.damsiresire
      //-                     .entry
      //-                       span.label
      //-                         =horse.damsiredam
      //-                 .entry
      //-                   span.label
      //-                     =horse.damdam
      //-                   .branch.lv3
      //-                     .entry
      //-                       span.label
      //-                         =horse.damdamsire
      //-                     .entry
      //-                       span.label
      //-                         =horse.damdamdam
      if horse.youtube.length>=1 && horse.youtube[0]!==""
        section.related-products-area.mt-120.mt-md-80.mt-sm-60.mb-120.mb-md-80.mb-sm-60
          .container
            .row
              .col-12
                .area-title.text-center.mb-54.mb-sm-34
                  h2 Videos
              .col-12
                .products-wrapper
                  .ht-slick-slider-wrapper
                    .ht-slick-slider.slick-row-10(data-slick='{"slidesToShow":3, "slidesToScroll": 3, "dots": true, "responsive": [{"breakpoint": 481,"settings": {"slidesToShow":1,"slidesToScroll": 1}},{"breakpoint": 769,"settings": {"slidesToShow":2,"slidesToScroll": 2}}]}')
                      // Start Single Product Wrap
                      each youtube in horse.youtube
                        .single-product-wrap
                          figure.product-thumb
                            a(href=youtube)
                              iframe(width='100%', height='250px;', src=`//www.youtube.com/embed/${horse.convertlink[0]}`, frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                      // End Single Product Wrap
                      // Start Single Product Wrap


block append scripts
      script(src="https://code.jquery.com/jquery-3.1.1.slim.js")
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
