extends email-layout

block content
  h2 #{subject}
  p= `From ${sender} - ${email} - ${phone}`
  p= message
  p With kinds regards,
  p Team Balou du Reventon
  br
  p(style="font-size:10px;text-align:center;") © 2021 Balou du Reventon
  p(style="font-size:10px;text-align:center;")
    | This e-mail was send via our 
    a(href='https://www.baloudureventon.com/nl/contact') Contact form
    | . If you didn't request this email, please ignore it.