extends email-layout

block content
  h2 #{subject}
  p Stallion Name: #{stallionname}
  p Type of Semen: #{sementype}

  h3 Mare Details
  p Mare Name: #{marename}
  p UELN nr Mare: #{UELN}
  p Date of Birth mare: #{dateOfBirthMare}
  p Studbook: #{studbookmare}
  p Sire of the mare: #{siremare}
  p Damsire of the mare: #{damsiremare}
  p Insemination type: #{insemination}
  p Previous Year: #{previous}
  p Embryotransplantation: #{etoption}
  p Breeding Association: #{breedingass}
  p Membership Number: #{membershipnr}
  p Delivery Location: #{delivery}
  p Semen required on: #{deliveryDate}
  p Shipping Type: #{shipoption}
  p Alternative Delivery Address: #{locationother}
  p Comments: #{comments}

  h3 Mare Owner Details
  p First & Last Name of the Owner / Company Name*: #{sender}
  p Address of the Owner / Ordering party*: #{locationowner}
  p VAT number: #{VAT}
  p Telephone number: #{phoneowner1}
  if phoneowner2!=""
    p Mobile number: #{phoneowner2}
  p E-mailadress:#{email}
  
  h3 Veterinarian Details
  p First & Last Name of the Vet / Insemination technician: #{namevet}
  p Address of the Vet / Insemination Center: #{locationvet}
  p Telephone number Vet: #{phonevet1}
  if phonevet2!=""
    p Mobile number Vet: #{phonevet2}
  p E-mailadress Vet: #{emailvet}

  p With kinds regards,
  p= sender
  br
  p(style="font-size:10px;text-align:center;") © 2018 JumpingStallions.com
  p(style="font-size:10px;text-align:center;")
    | This e-mail was send via our 
    a(href='https://www.JumpingStallions.com') Order Semen form
    | . If you didn't request this email, please ignore it.