extends layout

include mixins/_horseCard

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __(title)
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
                    = ` / ${__(title)}`
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row
                    .col-12
                        .product-filter-area.mb-30
                            .product-filter-item.col-md-6.col-sm-6.col-xs-12(style="padding-left:30px;")
                                p.m-0= `${__("Showing")} ${count} ${__("results")}`
                            .product-filter-item.mt-sm-14
                            .product-sorting.col-md-6.col-sm-6.col-xs-12(style="padding-right:30px;")
                                select(name='product-sort' onChange="window.location.href=this.value" style="float:right;margin: 0.5em 0 1.5em;")
                                    option(value=`/${locale}/3-year-olds`)= __("Default Sorting")
                                    //- option(value=`/${locale}/yearlings/level`)= __("Sort by Level: High to Low")
                                    //- option(value=`/${locale}/yearlings/levelZ`)= __("Sort by Level: Low to High")
                                    option(value=`/${locale}/3-year-olds/name`)= __("Sort By Name: A to Z")
                                    option(value=`/${locale}/3-year-olds/nameZ`)= __("Sort By Name: Z to A")
                                    option(value=`/${locale}/3-year-olds/sire`)= __("Sort By Sire: A to Z")
                                    option(value=`/${locale}/3-year-olds/sireZ`)= __("Sort By Sire: Z to A")
                                    option(value=`/${locale}/3-year-olds/dam`)= __("Sort By Dam: A to Z")
                                    option(value=`/${locale}/3-year-olds/damZ`)= __("Sort By Dam: Z to A")
                .row.mtm-30.mb-60
                    // Start Single Case Study
                    section.staff.opt.page-block-large
                        .container
                            .col-md-12.col-sm-12.col-xs-12
                                .row
                                    each horse in horses
                                        +horseCard(horse)
