extends layout

block content
    .page-header-wrapper.bg-offwhite
      .container
        .row
          .col-12.text-center
            .page-header-content.d-flex
              h1= 404
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
      .blog-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60
        .container
          .row
            h3(style="text-align:center;")= i18n.__("Oops")
          .row  
            img(src="/uploads/Refusal.gif" style="margin-left:auto;margin-right:auto;")