script(id="stallion-card" type="text/template")
    .stallions.col-md-3.card.p-0
        .stallion__action
            if user
                .stallion__action--edit.stallion__action-heart
                    form.heart(method="POST" action="/api/stallions/{ID}/heart")
                        button.heart__button(type="submit" name="heart" class="")
                            != h.icon('heart')
                    //- .stallion__action--edit.stallion__action--heart
                    //-     form.heart(method="POST" action=`/api/stallions/{ID}/heart`)
                    //-         -const heartStrings = user.hearts.map(obj => obj.toString())
                    //-         -const heartClass = heartStrings.includes({ID}.toString()) ? 'heart__button--hearted' : ''
                    //-         button.heart__button(type="submit" name="heart" class=heartClass)
                    //-                 != h.icon('heart')
            //- if user && stallion.owner.equals(user._id)
            //-         .stallion__action--edit.stallion__action-pencil
            //-             a(href=`/stallions/{ID}/edit`)
            //-                 != h.icon('pencil')
            .stallion__action--edit
                .stallion__action.stallion__action--count
                    != h.icon('review')
                    span {COMMENTS}
            .stallion__action--edit
                .stallion__action.stallion__action--count
                    != h.icon('commentaar')
                    span {REVIEWS}
        .imagediv
            a(href=`/stallion/{SLUG}` style="width:100%;height:100%;")
                img.stallion-img(src="/uploads/{FILE}" onerror="this.src = '../images/icons/favicon.png';")
        h3 {BIRTHNAME}
        h7 {SIRE} x {SIREDAM}
        .stallion-info
            .stallion-text
                p.left-key=i18n.__("Height")
                p.right-value {HEIGHT} cm
                div(style="clear: both;")
            .stallion-text
                p.left-key=i18n.__("Date Of Birth")
                p.right-value {DOB}
                div(style="clear: both;")
            .stallion-text
                p.left-key=i18n.__("Color")
                p.right-value {COLOR}
            .stallion-text
                p.left-key=i18n.__("Level")
                p.right-value {LEVEL} m
                div(style="clear: both;")
            .stallion-text
                p.left-key=i18n.__("Studbook")
                p.right-value {STUDBOOK}
                div(style="clear: both;")
            .stallion-text
                p.left-key=i18n.__("Approved for")
                p.right-value {APPROVED}
                div(style="clear: both;")
            .stallion-text
                p.left-key=i18n.__("Studfee")
                p.right-value {STUDFEE} euro
                div(style="clear: both;")
            .stallion-text
                p.left-key=i18n.__("Semen")
                p.right-value  {SEMEN}
                div(style="clear: both;")
        if {ORDERSEMEN}==0
            a.btn-brand-news(href=`/stallion/{SLUG}`)=i18n.__("View Stallion")
        else
            a.btn-brand-stallion(href=`/stallion/{SLUG}`)=i18n.__("View Stallion")
            a.btn-pink-stallion(href=`/orderSemen/{ID}`)=i18n.__("Order Semen")