extends layout

include mixins/_stallionAccountCard
include mixins/_stallionOwnedCard
include mixins/_mareOwnedCard
include mixins/_orderCard

block content
    .small-header
      img.small-header-img(src="/images/photos/LogoFull-DarkBG.png")
      .contact-container
        h4= i18n.__("My Profile")
        h3= i18n.__("Profile Text")
        .stallions-individual.justify-content-md-center
          .col-md-9.profile-page.text-left(style="margin-left:auto;margin-right:auto;")
            form(action="/account" method="POST" enctype="multipart/form-data")
              .row
                .col-md-5
                    if user.file!==""
                      img.avatar(src=`/uploads/${user.file}`)
                    else
                      img.avatar(src=user.gravatar + '&d=retro')
                    .row
                      label.col-sm-4.col-form-label(for="picture")= `${i18n.__("Change Picture")}*`
                      #files
                      .col-sm-8
                          input#file(name="file[]" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                          small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                            | You can only upload .png, .jpg or .pdf files
                .col-md-7
                  .favorites.row.justify-content-md-center
                    .col-md-12(style="margin-top:20px;")
                      h3.title(style="margin-left:20px;")= `${i18n.__("My")} ${user.hearts && user.hearts.length} ${i18n.__("Favorite")}`
                        each stallion in stallions
                          -for (var j=0; j <user.hearts.length; j++)
                                if stallion._id.equals(user.hearts[j])
                                    +stallionAccountCard(stallion)

              .row
                .col-md-5
                  h3.title(style="margin-left:20px;")= i18n.__("My Profile")
                .col-md-7
                  h3.title= i18n.__("Additional")
              .row
                .col-md-5
                  .stallion-info(style="margin-top:0%;")
                    .stallion-text
                      p.left-key= i18n.__("Name")
                      p.right-value= user.name
                      div(style="clear: both;")
                    .stallion-text
                      p.left-key= i18n.__("Email")
                      p.right-value= user.email
                      div(style="clear: both;")
                    .stallion-text
                      p.left-key= i18n.__("Address")
                      p.right-value= user.location.address
                      div(style="clear: both;")
                    .stallion-text
                      p.left-key= i18n.__("Date Of Birth")
                      p.right-value= h.moment(user.dateOfBirth).format('DD/MM/YYYY')
                      div(style="clear: both;")
                    .stallion-text
                      p.left-key= i18n.__("Phone")
                      p.right-value= user.phone
                      div(style="clear: both;")
                    .stallion-text
                      p.left-key= i18n.__("Newsletters")
                      p.right-value= i18n.__(user.marketing)
                    .stallion-text
                      p.left-key= i18n.__("Category")
                      p.right-value= i18n.__(user.category)
                      div(style="clear: both;")
                .col-md-7
                  
                    .form-group.input-group.flex-nowrap
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-globe-americas
                      input.form-control(type="text" id="address" name="location[address]" value=user.location.address placeholder="Update address")
                    .form-group.row(style="display:none")
                      label.col-sm-4.col-form-label(for="lng") Longitude
                      .col-sm-8
                        input.form-control(type="text" id="lng" name="location[coordinates][0]" value=(user.location && user.location.coordinates[0]))
                    .form-group.row(style="display:none")
                      label.col-sm-4.col-form-label(for="lat") Latitude
                      .col-sm-8
                        input.form-control(type="text" id="lat" name="location[coordinates][1]" value=(user.location && user.location.coordinates[1]))
                    .form-group.input-group.flex-nowrap(style="width:47%;display:inline-flex;")
                      .input-group-prepend
                        span.input-group-text
                          i.fa.fa-envelope
                      select.form-control(name="marketing")
                        option(value=user.marketing selected="" )= i18n.__(user.marketing)
                        option(value="All")= i18n.__("All Newsletters")
                        option(value="Monthly")= i18n.__("Monthly Newsletters")
                        option(value="Giveaways")= i18n.__("Giveaway Newsletters")
                        option(value="No")= i18n.__("No Newsletters")
                    .form-group.input-group.flex-nowrap(style="width:47%;display:inline-flex;float:right;")
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-award
                      select.form-control(name="category")
                        option(value=user.category selected="" )= i18n.__(user.category)
                        option(value="Breeder")= i18n.__("Breeder")
                        option(value="Stallion Owner")= i18n.__("Stallion Owner")
                        option(value="Rider")= i18n.__("Rider")
                        option(value="Journalist")= i18n.__("Journalist")
                        option(value="Other")= i18n.__("Other")
                    .form-group.input-group.flex-nowrap
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-phone
                      input.form-control(name="phone" placeholder=user.phone type="text")
                    .form-group.input-group.flex-nowrap
                      .input-group-prepend
                        span.input-group-text
                          i.far.fa-calendar-alt
                      input.form-control(type="date" name="dateOfBirth" value=h.moment(user.dateOfBirth).format('YYYY-MM-DD'))
                    // form-group end.//
                    //- .form-group
                    //-   #files
                    //-       input#file(name="file[]" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                    //-       small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    //-         | You can only upload .png, .jpg or .pdf files

                    .form-group.input-group.flex-nowrap
                      .input-group-prepend
                        span.input-group-text
                          i.fa.fa-lock
                      input.form-control(placeholder="Update password" type="password")
                    .form-group.input-group.flex-nowrap
                      .input-group-prepend
                        span.input-group-text
                          i.fa.fa-lock
                      input.form-control(placeholder="Repeat password" type="password")
                    // form-group//
                    .form-group.input-group
                      label.form-group-label(for="exampleCheck1")
                        input#exampleCheck1.form-group-input(type="checkbox" style="vertical-align: middle")
                        = i18n.__("Termstext")
                    .form-group
                      input.btn.btn-pink.btn-block(type="submit" style="line-height: 0;" value="Update my account")  
                    // form-group//
              .row(style="margin-top:75px;")
                .col-md-12
                  h3.title(style="margin-left:20px;")= i18n.__("Owned Stallions")
                      each stallion in stallions
                          if stallion.owner.equals(user._id)
                            +stallionOwnedCard(stallion)
              .row(style="margin-top:75px;")
                .col-md-8
                  h3.title(style="margin-left:20px;line-height:52px;")= i18n.__("My Mares")
                .col-md-4
                  a.btn-blue(href=`/addMare` style="text-align:center;")= i18n.__("Add Mare")
              .row
                .col-md-12
                      each mare in mares
                          if mare.owner.equals(user._id)
                            +mareOwnedCard(mare)
              .row(style="margin-top:75px;")
                .col-md-12
                  h3.title(style="margin-left:20px;")= i18n.__("My orders")
                      each order in orders
                          if order.author.equals(user._id)
                            +orderCard(order)