extends layout

include mixins/_horseForm

block prepend header
  link(href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" rel="stylesheet")

block content
    // :::  BREADCRUMBS :::
    section.breadcrumbs.breadcrumbs2.clients.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
      .boxedeb
        .container.page-block-small
          .col-md-12.col-sm-12.col-xs-12
            h2= __(`${title}`)
            span.line
            .rightText
              a(href='index.html', title='Home') Home
              = ` / ${__(`${title}`)}`
        // end-contai
                h1= i18n.__(`${title}`)
    section#contact.opt
      .container.page-block.text-center.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.50s')
              +horseForm(horse)


block append scripts
    script(src="/javascripts/find-sire.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script.
      jQuery(function() {
        jQuery('.js-find-sire-form').findSire({});
      });
    script(src="/javascripts/find-dam.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script.
      jQuery(function() {
        jQuery('.js-find-dam-form').findDam({});
      });
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['result[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_feed()
      {
      var div1 = document.createElement('div');
      // Get template data
      div1.innerHTML = document.getElementById('addresult').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('palmares').appendChild(div1);
      }
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['offspring[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_offspring()
      {
      var div2 = document.createElement('div');
      // Get template data
      div2.innerHTML = document.getElementById('addchild').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('offspring').appendChild(div2);
      }
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['youtube[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_video()
      {
      var div4 = document.createElement('div');
      // Get template data
      div4.innerHTML = document.getElementById('addlink').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('youtube').appendChild(div4);
      }
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="/javascripts/find-sire.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script.
      jQuery(function() {
        jQuery('.js-find-sire-form').findSire({});
      });
    script(src="/javascripts/find-dam.js")
    script.
      jQuery(function() {
        jQuery('.js-find-dam-form').findDam({});
      });
    script.
    script.
      var j = jQuery.noConflict();
      $(document).ready(function() {
      //Entire document/Dom/scripts are loaded now you can bind
      });
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script(src="/javascripts/horse-edit.js")
    script.
      jQuery(function() {
        jQuery('.js-horse-edit-form').horseEdit({});
      });
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
    script(src="/dist/App.bundle.js")
