extends layout

include mixins/_homeForm

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __(title)
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
            h1= Home
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row.mtm-30.mb-60
                    // Start Single Case Study
                    section.staff.opt.page-block-large
                        .container
                          .col-md-12.col-sm-12.col-xs-12
                            +homeForm(home)

block append scripts
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script(src="/javascripts/home-edit.js")
    script.
      jQuery(function() {
        jQuery('.js-home-edit-form').homeEdit({});
      });
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
    script(src="/dist/App.bundle.js")
