extends layout

block content
        // :::  BREADCRUMBS :::
        section.breadcrumbs.breadcrumbs2.clients.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
            .boxedeb
                .container.page-block-small
                    .col-md-12.col-sm-12.col-xs-12
                        h2= __("ADMIN")
                        span.line
                        .rightText
                            a(href='index.html', title='Home') Home
                            |  / Admin
                // end-container
        // ::: END :::
        // == Start Our Services Feature Area ==
        section.our-services-feature-area.bg-offwhite(style="margin-top:50px;margin-bottom:100px;")
            .container
                .row
                    // Start Single Services Feature
                    .col-lg-4.col-sm-6
                        .single-welcome-feature.d-flex
                            .feature-info
                                a.btn.btn-primary(href=`/${locale}/allhorses` style="display:block;margin-bottom:20px;") Bekijk & wijzig alle paarden
                            // End Single Services Feature
                    // Start Single Services Feature
                    .col-lg-4.col-sm-6
                        .single-welcome-feature.d-flex
                            .feature-info
                                a.btn.btn-primary(href=`/${locale}/addHorse` style="display:block;margin-bottom:20px;") Voeg paard toe
                            // End Single Services Feature
                    // Start Single Services Feature
                    .col-lg-4.col-sm-6
                        .single-welcome-feature.d-flex
                            .feature-info
                                a.btn.btn-primary(href=`/${locale}/allArticles` style="margin-bottom:20px;") Bekijk & wijzig alle nieuws
                        // End Single Services Feature
                    // Start Single Services Feature
                    .col-lg-4.col-sm-6
                        .single-welcome-feature.d-flex
                            .feature-info
                                a.btn.btn-primary(href=`/${locale}/addArticle` style="display:block;margin-bottom:20px;") Voeg nieuws toe
                        // End Single Services Feature
                    // Start Single Services Feature
                    .col-lg-4.col-sm-6
                        .single-welcome-feature.d-flex
                            .feature-info
                                a.btn.btn-primary(href=`/${locale}/home/5eebd3b6a54a4b2f5c3af39d/edit` style="display:block;margin-bottom:20px;") Wijzig Homepage
                        // End Single Services Feature
                    // Start Single Services Feature
                    .col-lg-4.col-sm-6
                        .single-welcome-feature.d-flex
                            .feature-info
                                a.btn.btn-primary(href=`/${locale}/logout` style="display:block;margin-bottom:20px;") Uitloggen
                        // End Single Services Feature
            // == End Our Services Feature Area ==
        // == End Page Content Wrapper ==
