extends layout

include mixins/_articleHomeCard

block content
  section#page-content
    .container
      // post content
      // Page title
      .page-title
        h1= __("News") YRED
        .breadcrumb.float-left
          ul
            li
              a(href=`/${locale}/home`, title='Home') Home
            li.active
              a(href=`/${locale}/news`, title='News')= __("News") 
      // end: Page title
      // Blog
      #blog.grid-layout.post-3-columns.m-b-30(data-item='post-item')
        each article in articles
          +articleHomeCard(article)
        // end: post content