extends layout

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __(title)
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
                    = ` / ${__(title)}`
                // end-container
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row.mtm-30.mb-60
                    // Start Single Case Study
                    section.staff.opt.page-block-large
                        .container
                            .col-md-12.col-sm-12.col-xs-12
                                .row
                                    each horse in horses
                                        .col-md-4.col-sm-6.col-xs-6.wow.zoomIn(data-wow-duration='0.50s', data-wow-delay='0.75s')
                                            .team.rectangle
                                                .img
                                                    a(href=`/${locale}/horses/${horse.id}/edit`, title=horse.birthname)
                                                        if !horse.file[0]
                                                            img.img-responsive(src=`/uploads/No-Pic.jpg`, alt=horse.birthname)
                                                        else
                                                            img.img-responsive(src=`/uploads/${horse.file[0]}`, alt=horse.birthname)
                                                // end img
                                                .info
                                                    a(href=`/${locale}/horses/${horse.id}/edit`, title=horse.birthname)
                                                        h5= horse.birthname
                                                            small= `${horse.sire} x ${horse.damsire}`
                                                // end info
                                                ul.social
                                                    li
                                                        p=`° ${h.moment(horse.dateOfBirth).format('YYYY')}`
                                                    li
                                                        p=`${__(horse.gender)}`
                                                    if horse.level>0
                                                        li
                                                            p=`${horse.level}m level`
                                            // end team
                                            // end col-md-4

