extends layout

block content
  section#page-content.sidebar-right
    .container
      .row
        // content
        .content.col-lg-12
          // Blog
          #blog.single-post
            // Post single item
            .post-item
              .post-item-wrap
                .carousel.dots-inside.arrows-visible(data-items='1' data-lightbox='gallery')
                  each file in article.file.reverse()
                    a(href=`/uploads/${file}` data-lightbox='gallery-image')
                      img(alt=article.title src=`/uploads/${file}`)
                .post-item-description
                  if (getLocale() === 'nl')
                    h2= article.title
                  else
                    h2= article.title_EN
                  .post-meta
                    span.post-meta-date
                      i.fa.fa-calendar-o
                      = `${h.moment(article.updated).format('LL')}`
                    span.post-meta-category
                      each tag in article.tags
                        a(href=`/${locale}/news`)
                        i.fa.fa-tag
                        = tag
                    .post-meta-share
                      a.btn.btn-xs.btn-slide.btn-facebook(href=`https://www.facebook.com/sharer/sharer.php?u=/${locale}${site}&src=sdkpreparse`)
                        i.fab.fa-facebook-f
                        span Facebook
                      a.btn.btn-xs.btn-slide.btn-twitter(href=`whatsapp://send?text=http://www.baloudureventon.com/${locale}${site}` data-width='100')
                        i.fab.fa-whatsapp
                        span Whatsapp
                      a.btn.btn-xs.btn-slide.btn-googleplus(href=`mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.baloudureventon.com/${locale}${site}.` data-width='80')
                        i.icon-mail
                        span Mail
                  p 
                    if (getLocale() === 'nl')
                      != article.text_nl
                    else
                      != article.text_en
                .post-navigation
                    if (getLocale() === 'nl')
                      a.post-prev(href=`/${locale}/news/${prevarticle.slug}`)
                        .post-prev-title
                          span Previous Post
                          = prevarticle.title
                      a.post-all(href=`/${locale}/news`)
                        i.icon-grid  
                      a.post-next(href=`/${locale}/news/${nextarticle.slug}`)
                        .post-next-title
                          span Next Post
                          = nextarticle.title
                    else
                      a.post-prev(href=`/${locale}/news/${last5article.slug}`)
                        .post-prev-title
                          span Previous Post
                          = last5article.title_EN
            // end: Post single item
            // end: content
            // Sidebar

  // end: Page Content

    // :::  BREADCRUMBS :::
    section.breadcrumbs.breadcrumbs2.servicesBG.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
      .boxedeb
        .container.page-block-small
          .col-md-12.col-sm-12.col-xs-12
            h2= __("News")
            span.line
            .rightText
              a(href=`/${locale}/home`, title='Home') Home
              |  / 
              a(href=`/${locale}/news`, title='News')= __("News")
              = `/ ${article.title_EN}`
        // end-container
    // ::: END :::
    // :::  SERVICES :::
    section#services-single.page-block-large
      .container
        //- .col-md-3.col-sm-4.col-xs-12.text-center.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.50s')
        //-   .meta-data
        //-     .meta.BGprime= `${h.moment(article.updated).format('LL')}`
        //-     .meta.counter.BGlight
        //-       div
        //-         .fb-share-button(data-href=`/${locale}${path}`, data-layout='button', data-size='small')
        //-                         a.fb-xfbml-parse-ignore(target='_blank', href=`https://www.facebook.com/sharer/sharer.php?u=/${locale}${site}&src=sdkpreparse`) Delen
        //-       div
        //-         a.trio-tooltip(href=`mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.domani.shop/${locale}${site}.`, data-tippy-content='Share Via Mail' style="margin-left:15px;")
        //-                       i.far.fa-envelope
        //-       div
        //-         a.trio-tooltip(href=`whatsapp://send?text=http://www.domani.shop/${locale}${site}` data-action="share/whatsapp/share", data-tippy-content='Share On Whatsapp')
        //-                       i.fab.fa-whatsapp
        // end col-md-4
        .col-md-12.col-sm-12.col-xs-12.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.75s')
          h1.big
            if (getLocale() === 'nl')
              strong= article.title
              if article.subtitle
                = article.subtitle
            else
              strong= article.title_EN
              if article.subtitle_EN
                = article.subtitle_EN
          .smallSlider
            ul.bxslider
              each file in article.file.reverse()
                li
                  img.img-responsive(src=`/uploads/${file}`, width='725', height='475', alt=article.title)
          br
          p
            if (getLocale() === 'nl')
              != article.text_nl
            else
              != article.text_en
          .gapS
          h4= __("More News")
          span.line
          ul.list-default
            each last5article in last5articles
              if (getLocale() === 'nl')
                li
                  a(href=`/${locale}/news/${last5article.slug}`)= last5article.title
              else
                li
                  a(href=`/${locale}/news/${last5article.slug}`)= last5article.title_EN
        // end container
    // ::: END :::