extends layout

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __("Breeding")
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
                    = ` / ${__(title)}`
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row
                    .col-12
                        .product-filter-area.mb-30
                            .product-filter-item.col-md-6.col-sm-6.col-xs-12
                                p.m-0= `${__("Showing")} ${count} ${__("results")}`
                            .product-filter-item.mt-sm-14
                            .product-sorting.col-md-6.col-sm-6.col-xs-12
                                select(name='product-sort' onChange="window.location.href=this.value" style="float:right;margin: 0.5em 0 1.5em;")
                                    option(value=`/${locale}/sporthorses`)= __("Default Sorting")
                                    option(value=`/${locale}/sporthorses/level`)= __("Sort by Level: High to Low")
                                    option(value=`/${locale}/sporthorses/levelZ`)= __("Sort by Level: Low to High")
                                    option(value=`/${locale}/sporthorses/name`)= __("Sort By Name: A to Z")
                                    option(value=`/${locale}/sporthorses/nameZ`)= __("Sort By Name: Z to A")
                                    option(value=`/${locale}/sporthorses/age`)= __("Sort By Age: Old to Young")
                                    option(value=`/${locale}/sporthorses/ageZ`)= __("Sort By Age: Young to Old")
                .row.mtm-30.mb-60
                    // Start Single Case Study
                    each horse in horses
                        .col-lg-4.col-md-6
                            .single-portfolio-wrap
                                figure.portfolio-thumb
                                    if !horse.file[0]
                                        img(src=`/uploads/No-Pic.jpg`, alt=horse.birthname)
                                    else
                                        img(src=`/uploads/${horse.file[0]}`, alt=horse.birthname)
                                    figcaption.portfolio-details
                                            .port-info
                                                h3
                                                    a(href=`/${locale}/horse/${horse.slug}`)= horse.birthname
                                                nav.nav.portfolio-cate
                                                    a(href=`/${locale}/horse/${horse.slug}`)= `${horse.sire} x ${horse.damsire}`
                                                    if horse.level>0
                                                        a(href=`/${locale}/horse/${horse.slug}`)= `° ${h.moment(horse.dateOfBirth).format('YYYY')} - ${horse.level}m level`
                                                    else
                                                        a(href=`/${locale}/horse/${horse.slug}`)= `° ${h.moment(horse.dateOfBirth).format('YYYY')}`
                                            a.btn-view-work(href=`/${locale}/horse/${horse.slug}`)
                                                = __("More info")
                                                i.fa.fa-long-arrow-right
                            .product-details
                                .d-flex.justify-content-between
                                h3.product-title
                                    a(href=`/${locale}/horse/${horse.slug}`)= horse.birthname
                                .slogan
                                    h6= horse.damline
                                .price-group
                                    span.old-price= `${horse.sire} x ${horse.damsire}`
                                    span.price= `° ${h.moment(horse.dateOfBirth).format('YYYY')} - ${__(horse.gender)}`
                    // End Single Case Study
                    // Start Single Case Study

