extends layout

block content
    .page-header-wrapper.bg-offwhite
    .container
        .row
        .col-12.text-center
            .page-header-content.d-flex(style="margin-top:15%;")
            h1= title
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row
                    .col-lg-3
                        .heading-1-column-4
                            p.h1 Sire
                    .col-lg-3
                        .heading-1-column-4
                            p.h1 Dam
                    .col-lg-3
                        .heading-1-column-4
                            p.h1 Due date
                    .col-lg-3
                        .heading-1-column-4
                            p.h1 More info
                .row
                        .col-lg-3
                            p
                                | Franzen kinfolk quinoa, yuccie whatever food truck dreamcatcher offal. Cornhole poutine pug forage meh godard. Fashion axe blue bottle bespoke, food truck hella poutine kale chips viral.
                        .col-lg-3
                            p
                                | Franzen kinfolk quinoa, yuccie whatever food truck dreamcatcher offal. Cornhole poutine pug forage meh godard. Fashion axe blue bottle bespoke, food truck hella poutine kale chips viral.
                        .col-lg-3
                            p
                                | Franzen kinfolk quinoa, yuccie whatever food truck dreamcatcher offal. Cornhole poutine pug forage meh godard. Fashion axe blue bottle bespoke, food truck hella poutine kale chips viral.
                        .col-lg-3
                            p
                                | Franzen kinfolk quinoa, yuccie whatever food truck dreamcatcher offal. Cornhole poutine pug forage meh godard. Fashion axe blue bottle bespoke, food truck hella poutine kale chips viral.
