extends layout

include mixins/_eventCard

block content
    .small-header
      img.small-header-img(src="/images/photos/LogoFull-DarkBG.png")
    .news-container.container-fluid
      h4= i18n.__("Calendar")
      h3= i18n.__("Calendar Text")
      .row.justify-content-md-center.mt-5
        .input-group.col-md-4
          input#example-search-input.form-control.py-2.border-right-0.border(type="search" value="Search by name")
          span.input-group-append
            button.btn.btn-outline-secondary.border-left-0.border(type="button")
              i.fa.fa-search
      .row.justify-content-md-center.mt-4
        .col-md-7
          ul.tags
            each c in categorys
              li.category
                a.tag__link(href=`/category/${c._id}` class=(c._id === category ? 'tag__link--active' : ''))
                        span.tag__text= i18n.__(c._id})
                        span.tag__count= c.count
    .event-container.container-fluid
      .row.justify-content-md-center.pt-4
        .col-md-8
          ul.event-list
            each event in events
              +eventCard(event)
