extends layout

include mixins/_stallionCard

block content
    .inner
        h2 #{category || 'Categories'}
        pre= h.dump(category)
        ul.tags
            each c in categories
                li.tag
                    //- a.tag__link(href=`/categories/${t._id}` class=(c._id === category ? 'tag__link--active' : ''))
                        span.tag__text= c._id
                        span.tag__count= c.count
        //-.stallions
            each stallion in stallions
                +stallionCard(stallion)