extends layout

block content
    .small-header
      img.small-header-img(src="/images/photos/LogoFull-DarkBG.png")
    .news-container.container-fluid
      h4= i18n.__("Breeding Services")
      h3= i18n.__("Breeding Text")
      .row.justify-content-md-center
        .search-vets.input-group.col-md-4
          input.search__input.form-control.py-2.border-right-0.border(type="search" value="Search by name" name="search")
          span.input-group-append
            button.btn.btn-outline-secondary.border-left-0.border(type="button")
              i.fa.fa-search
          .search__results.col-md-12
      .row.justify-content-md-center.mt-4
        .col-md-7
            ul.tags
                each s in services
                    li.tag
                        a.tag__link(href=`/center/${s._id}` class=(s._id === service ? 'tag__link--active' : ''))
                            span.tag__text= i18n.__(`${s._id}`)
                            span.tag__count= s.count
      .row.justify-content-md-center
        .map-container.col-md-7
          .autocomplete
            input.autocomplete__input(type="text" placeholder="Type any location" name="geolocate" style="width:80% !important;")
            select#radius.btn-brand-radius(name="radius")
                    option(value="30000")= i18n.__("Radius")
                    option(value="10000") 10 km
                    option(value="25000") 25 km
                    option(value="50000") 50 km
                    option(value="100000") 100 km
          #map(style="height:500px")
            p= i18n.__("Loading")