extends layout

block content
    //- // :::  BREADCRUMBS :::
    //- section.breadcrumbs.breadcrumbs2.contact.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
    //-   .boxedeb
    //-     .container.page-block-small
    //-       .col-md-12.col-sm-12.col-xs-12
    //-         h2=__("Contact")
    //-         span.line
    //-         .rightText
    //-           a(href='index.html', title='Home') Home
    //-           = ` / ${__("Contact")}`
    //-     // end-container
    // ::: END :::
    // :::  CONTACT :::
    section#contact.opt
      #map_canvas1.wow.fadeInDown(data-wow-duration='0.50s', data-wow-delay='0.50s')
      // SCROLL to bottom to edit map
      .contact-info.BGdark.page-block
        .container.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.50s')
          .office
            h2.white.text-center Get in touch with us
            hr.light
            .col-md-4.col-sm-12.col-xs-12
              span
                a(href='https://www.google.com/maps?q=Schipperstraat%2060,%203583%20Beringen' style="text-decoration: none;")
                  i.fa.fa-map-marker.squareSmall.BGsec
                  |  Schipperstraat 60
                  br
                  |  3583 Beringen - Belgium
            .col-md-4.col-sm-12.col-xs-12
              span
                a(href="tel:+32 475 65 21 36" style="text-decoration: none;")
                  i.fa.fa-phone.squareSmall.BGsec
                  |  +32 475 65 21 36 (Thierry)
                a(href="tel:+32 468 33 59 37" style="text-decoration: none;")
                  br
                  |  +32 468 33 59 37 (Sandra)
            .col-md-4.col-sm-12.col-xs-12
              span
                i.fa.fa-envelope.squareSmall.BGsec
                a(href='mailto:thierry.hendrikx@telenet.be', title='Contact') thierry.hendrikx@telenet.be
                br
                a(href='mailto:second.life.horses@telenet.be', title='Contact') second.life.horses@telenet.be
            .clear
      .container.page-block.text-center.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.50s')
        h3.prime=__("Contact")
        span.line
        p.text-center
          =__("ContactText")
        form#contactform(action=`/${locale}/contact` method="POST")
          .col-md-6
            input#name.form-control(type='text' name='sender' placeholder='Your Name (Required)' required='')
          .col-md-6
            input#email.form-control(type='email' name='email' placeholder='Your Email (Required)' required='')
          .col-md-12
            textarea#comment.form-control(name='subject' cols='30' rows='10' placeholder='Your Message')
          .col-md-12
            input#security.form-control.hide(type='text', name='security', value='')
            input#submit.btn.btn-primary.btn-lg(type='submit', value=`${__("Send")}`, name='submit')
    // ::: END :::

block append scripts
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-8r2KKAf81jVSSm8ng9-UezWmLKGDLB0')
    script.
        function initialize() {
        var myLatlng = new google.maps.LatLng(51.066790, 5.199458); // Add your coordinates here
        var mapOptions = {
        zoom: 17,
        scrollwheel:false,
        center: myLatlng,
        disableAutoPan: true
        }
        var map = new google.maps.Map(document.getElementById('map_canvas1'), mapOptions);
        var contentString = '<div class="info_content">' +
        '<h5>Second Life Stables<small>Schipperstraat 60, 3583 Beringen</small></h5>'; // name and city here
        var infowindow = new google.maps.InfoWindow({
        content: contentString
        });
        var marker = new google.maps.Marker({
        position: myLatlng,
        map: map
        });
        google.maps.event.addListener(marker, 'click', function() {
        infowindow.open(map,marker);
        });
        infowindow.open(map,marker);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
