extends layout

include mixins/_horseForm

block prepend header
  link(href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.min.css" rel="stylesheet")

block content
    .main(role='main')
        section.page-header.page-header-modern.bg-color-light-scale-1.page-header-md.pt-5
            .container-fluid.pt-5
                .row.align-items-center
                    .col
                        .row
                            .col-md-12.align-self-center.p-static.order-2.text-center
                                .overflow-hidden.pb-2
                                    h1.text-dark.font-weight-bold.text-9.appear-animation(data-appear-animation='maskUp', data-appear-animation-delay='100')= __(title)
                            .col-md-12.align-self-center.order-1
                                ul.breadcrumb.d-block.text-center.appear-animation(data-appear-animation='fadeIn', data-appear-animation-delay='300')
                                    li
                                        a(href=`/${locale}/home`) Home
                                    li.active= __(title)
    // End Breadcaump Area
    section#contact.opt
        .container.page-block.text-center.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.50s')
                +horseForm(horse)


block append scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
    script.
        $('.sortable-list').sortable({
        connectWith: '.sortable-list',
        update: function(event, ui) {
          var changedList = this.id;
          var order = $(this).sortable('toArray');
          var positions = order.join(';');
          var horse = !{JSON.stringify(horse.file)};
          var urllong = window.location.pathname;
          var pathArray = window.location.pathname.split('/');
          var urlid = pathArray[3];
          //console.log("files =" + horse);
          const containsAll = (positions, horse) => 
                horse.²²  (horseItem => positions.includes(horseItem))
          const sameMembers = (positions, horse) => 
                containsAll(positions, horse) && containsAll(horse, positions);
          var outcome = sameMembers(positions, horse);
          var positions1 = positions.split(";");
          var popped = positions1.pop();
          //console.log(horse);
          //console.log("array1: " + arr1);
          var difference = horse.filter(horseItem => !positions1.includes(horseItem));
          allFiles = positions1.concat(difference);
          var test = allFiles.join();

        var updatedFile = $.ajax({
        url: `/api/horses/${urlid}/updateFiles/+${test}`,
        type: "POST",
        data: JSON.stringify(test),
        cache: false, 
        contentType: "text/plain"
        });
        }
      });
    script(src="/javascripts/find-sire.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script.
      jQuery(function() {
        jQuery('.js-find-sire-form').findSire({});
      });
    script(src="/javascripts/find-dam.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script.
      jQuery(function() {
        jQuery('.js-find-dam-form').findDam({});
      });
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['result[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_feed()
      {
      var div1 = document.createElement('div');
      // Get template data
      div1.innerHTML = document.getElementById('addresult').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('palmares').appendChild(div1);
      }
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['offspring[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_offspring()
      {
      var div2 = document.createElement('div');
      // Get template data
      div2.innerHTML = document.getElementById('addchild').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('offspring').appendChild(div2);
      }
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['youtube[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_video()
      {
      var div4 = document.createElement('div');
      // Get template data
      div4.innerHTML = document.getElementById('addlink').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('youtube').appendChild(div4);
      }
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="/javascripts/find-sire.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script.
      jQuery(function() {
        jQuery('.js-find-sire-form').findSire({});
      });
    script(src="/javascripts/find-dam.js")
    script.
      jQuery(function() {
        jQuery('.js-find-dam-form').findDam({});
      });
    script.
    script.
      var j = jQuery.noConflict();
      $(document).ready(function() {
      //Entire document/Dom/scripts are loaded now you can bind
      });
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script(src="/javascripts/horse-edit.js")
    script.
      jQuery(function() {
        jQuery('.js-horse-edit-form').horseEdit({});
      });
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
    script(src="/dist/App.bundle.js")
