extends layout

include mixins/_articleForm

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __(title)
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
                    = ` / ${__(title)}`
            h1= i18n.__(`${title}`)
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row.mtm-30.mb-60
                    // Start Single Case Study
                    section.staff.opt.page-block-large
                        .container
                          .col-md-12.col-sm-12.col-xs-12
                            +articleForm(article)

block append scripts
    script.
        $('.sortable-list').sortable({
        connectWith: '.sortable-list',
        update: function(event, ui) {
          var changedList = this.id;
          var order = $(this).sortable('toArray');
          var positions = order.join(';');
          var article = !{JSON.stringify(article.file)};
          var urllong = window.location.pathname;
          var pathArray = window.location.pathname.split('/');
          var urlid = pathArray[3];
          console.log("files =" + article);
          const containsAll = (positions, article) => 
                article.every(articleItem => positions.includes(articleItem))
          const sameMembers = (positions, article) => 
                containsAll(positions, article) && containsAll(article, positions);
          var outcome = sameMembers(positions, article);
          var positions1 = positions.split(";");
          var popped = positions1.pop();
          //console.log(horse);
          //console.log("array1: " + arr1);
          var difference = article.filter(articleItem => !positions1.includes(articleItem));
          allFiles = positions1.concat(difference);
          var test = allFiles.join();

        var updatedFile = $.ajax({
        url: `/api/news/${urlid}/updateFiles/+${test}`,
        type: "POST",
        data: JSON.stringify(test),
        cache: false, 
        contentType: "text/plain"
        });
        }
      });
    script(src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script.
      var j = jQuery.noConflict();
      $(document).ready(function() {
      //Entire document/Dom/scripts are loaded now you can bind
      });
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script(src="/javascripts/article-edit.js")
    script.
      jQuery(function() {
        jQuery('.js-article-edit-form').articleEdit({});
      });
    script(src="/dist/App.bundle.js")
