extends layout

include mixins/_eventForm

block content
    .small-header
      img.small-header-img(src="/images/photos/LogoFull-DarkBG.png")
    .stallion-add.container-fluid
      h2(style="padding-bottom:4%;")= i18n.__(`${title}`)
      +eventForm(event)

block scripts
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['result[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_feed()
      {
      var div1 = document.createElement('div');
      // Get template data
      div1.innerHTML = document.getElementById('addresult').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('palmares').appendChild(div1);
      }
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['offspring[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_offspring()
      {
      var div2 = document.createElement('div');
      // Get template data
      div2.innerHTML = document.getElementById('addchild').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('offspring').appendChild(div2);
      }
    script(type="text/javascript").
      function validate(frm)
      {
      var ele = frm.elements['youtube[]'];
      if (! ele.length)
      {
      alert(ele.value);
      }
      for(var i=0; i<ele.length; i++)
      {
      alert(ele[i].value);
      }
      return true;
      }
      function add_video()
      {
      var div4 = document.createElement('div');
      // Get template data
      div4.innerHTML = document.getElementById('addlink').innerHTML;
      // append to our form, so that template data
      //become part of form
      document.getElementById('youtube').appendChild(div4);
      }
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    script.
        function checkScroll(){
        var startY = $('.navbar').height() * 3; //The point where the navbar changes in px
        if($(window).scrollTop() > startY){
        $('.navbar').addClass("bg-blue");
        }else{
        $('.navbar').removeClass("bg-blue");
        }
        }
        if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
        checkScroll();
        });
        }
    script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
    script(src="/dist/App.bundle.js")
