extends layout

include mixins/_commentaarEvent
include mixins/_commentaarEventForm

block content
    .small-header
      h4.small-header-img(style="color:#98878f;min-height: 30vh;line-height: 30vh;") #{event.name}
    .stallions-individual.justify-content-md-center
      .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;")
        //
          <div class="row">
          <div class="col-md-7 offset-md-5"><h3 class="title">Pedigree</h3></div>
          </div>
        .row
          .col-md-7.offset-md-5
            h3.title= i18n.__("Description")
        .row
          .col-md-5
            .stallion-info(style="margin-top:0%;")
              .stallion-text
                p.left-key= i18n.__("Name")
                p.right-value= event.name
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Location")
                p.right-value= event.location.address
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Startdate")
                p.right-value= `${h.moment(event.date).format('DD/MM/YYYY')} at ${event.hour}`
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Enddate")
                p.right-value= `${h.moment(event.enddate).format('DD/MM/YYYY')} at ${event.endhour}`
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Phonenumber")
                p.right-value= event.phone
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Email")
                p.right-value= event.email
              .stallion-text
                p.left-key= i18n.__("Category")
                p.right-value= event.category
                div(style="clear: both;")
              if event.website!==""
                .stallion-text
                  p.left-key= i18n.__("Website")
                  p.right-value
                    a(href=event.website)= i18n.__("Click Here")
                  div(style="clear: both;")
              if event.facebook!==""
                .stallion-text
                  p.left-key Facebook
                  p.right-value
                    a(href=event.facebook)= i18n.__("Click Here")
                  div(style="clear: both;")
              if event.twitter!==""
                .stallion-text
                  p.left-key Twitter
                  p.right-value
                    a(href=event.twitter)= i18n.__("Click Here")
                  div(style="clear: both;")
              if event.livestream!==""
                .stallion-text
                  p.left-key Livestream
                  p.right-value
                    a(href=event.livestream)= i18n.__("Click Here")
                  div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Routedescription")
                p.right-value
                  a(href=`https://www.google.com/maps/dir/?api=1&destination=${event.location.address}`)= i18n.__("Click Here")
                div(style="clear: both;")
          .col-md-7
            p(style="text-align: justify;color:#414141;")= event.description_en
              .col-md-6
        .row  
          #mapevent(style="width:100%;height:310PX;margin-bottom: 100px;")= i18n.__("Loading")
        if user
          .row
            .col-md-12
              h3.title= i18n.__("Comments")
              if user && event.commentaarEvent.length==0
                p(style="text-align: justify;color:#414141;margin-bottom:4rem;font-size:1rem;")= i18n.__("NoComment")
              else
                each commentaar in event.commentaarEvent
                  +commentaarEvent(commentaar)
          .row.justify-content-md-center
                +commentaarEventForm(event)
block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      script.
        function checkScroll(){
        var startY = $('.navbar').height() * 5; //The point where the navbar changes in px
        if($(window).scrollTop() > startY){
        $('.navbar').addClass("bg-blue");
        }else{
        $('.navbar').removeClass("bg-blue");
        }
        }
        if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
        checkScroll();
        });
        }
      script.
        function myMap() {
        var mapCanvas = document.getElementById("mapevent");
        var mapOptions = {
        center: new google.maps.LatLng(`#{event.location.coordinates[1]}`, `#{event.location.coordinates[0]}`),
        zoom: 10
        };
        var map = new google.maps.Map(mapCanvas, mapOptions);
        }
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=myMap`)