extends layout

include mixins/_horseCard

append header
  meta(name='description', content=`${horse.birthname} - ${horse.sire} x ${horse.damsire}`)

block content
    section.breadcrumbs.breadcrumbs2.clients.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
      .boxedeb
        .container.page-block-small
          .col-md-12.col-sm-12.col-xs-12
            h2= horse.birthname
            if user
              .row
                i.fa.fa-pencil-alt.square.BGsec(href=`/${locale}/horses/${horse.id}/edit`)
                a.btn-brand(href=`/${locale}/horses/${horse.id}/edit` style="padding:10px;color:#133068;") Wijzig dit paard
            span.line(style="margin-top: 20px;")
            .rightText
              a(href=`/${locale}/home`, title='Home') Home
              = ` / ${__(`${title}`)}`

      // == End Page Header Area ==
      section.page-block-large.recent-project.smallSlider
        .container
          .col-md-6.col-sm-6.col-xs-12.content-box.wow.fadeInLeft(data-wow-duration='0.50s', data-wow-delay='0.75s')
            if !horse.file[0]
                img.img-responsive(src=`/uploads/No-Pic.jpg`, alt=horse.birthname, style="margin-bottom:2em;" width='725', height='475')
            else
              ul.bxslider
                each file in horse.file
                    li
                      img.img-responsive(src=`/uploads/${file}`, alt=horse.birthname, width='725', height='475')
                //- if horse.updatedFile.length > 0
                //-   each updatedFile in horse.updatedFile
                //-     li
                //-       img.img-responsive(src=`/uploads/${updatedFile}`, alt=horse.birthname, width='725', height='475')
                //- else
                //-   each file in horse.file.reverse()
                //-     li
                //-       img.img-responsive(src=`/uploads/${file}`, alt=horse.birthname, width='725', height='475')
            p
              if horse.gender=="No Gender"
                //=__("Draagmoeder") 
                //b= horse.draagmoeder
              else
                =__("Gender") 
                b= __(horse.gender)
            p
              =__("Age") 
              - if (horse.category.includes('Embryo'))
                b= `° ${h.moment(horse.dateOfBirth).format('DD-MM-YYYY')}`
              - if (!horse.category.includes('Embryo'))
                b= `° ${h.moment(horse.dateOfBirth).format('YYYY')}`
            if horse.level>0
              p
                =__("Level") 
                b=` ${horse.level} m`
            p
              b= horse.damline
            p
              each category in horse.category
                    a(href=`/${locale}/${category}`)= category
            
          .col-md-6.col-sm-6.col-xs-12.content-box.wow.fadeInRight(data-wow-duration='0.50s', data-wow-delay='0.75s')
            p.big= horse.birthname
            hr
            if (locale === 'nl')
              p!= horse.description
            else
              p!= horse.descriptionEN
            p
              each result in horse.result
                  li= result
        // end-container
        // ::: END :::
        // :::  ABOUT :::
      if horse.youtube.length>=1
        section.staff.opt.page-block-large.BGlight
            .container
              .col-md-12.col-sm-12.col-xs-12
                .section-heading.wow.fadeInDown(data-wow-duration='0.50s', data-wow-delay='0.50s')
                  h2
                    i.fa.fa-users.square.BGsec
                    | Videos
                    small Videos of #{horse.birthname}
                  .clear
                .row
                  if horse.youtube.length>=1 && horse.youtube[0]!==""
                    -var collength= (12/horse.youtube.length)
                    -var colleke= "col-md-" + collength
                    -var linkomgekeerdnull = horse.convertlink.reverse();
                    -var nullelement = linkomgekeerdnull.shift();
                      each youtube, i in horse.youtube
                                              .single-product-wrap
                                                figure(class=`product-thumb col-md-12`)
                                                  a(href=youtube)
                                                    iframe(width='100%', height='500px', src=`//www.youtube.com/embed/${linkomgekeerdnull[i]}`, frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
      if horse.offspring.length > 0
        section.staff.opt.page-block-small
            .container
              .col-md-12.col-sm-12.col-xs-12
                .section-heading.wow.fadeInDown(data-wow-duration='0.50s', data-wow-delay='0.50s')
                  h2(style="color:#133068;")
                    i.fa.fa-users.square.BGsec
                    | Offspring
                    small(style="color:#133068;") Progeny of #{horse.birthname}
                  .clear
                .row
                  each child in horse.offspring
                    +horseCard(child)
      if relateds.length > 0
        section.staff.opt.page-block-small
            .container
              .col-md-12.col-sm-12.col-xs-12
                .section-heading.wow.fadeInDown(data-wow-duration='0.50s', data-wow-delay='0.50s')
                  h2(style="color:#133068;")
                    i.fa.fa-users.square.BGsec
                    | Related
                    small(style="color:#133068;") Family of #{horse.birthname}
                  .clear
                .row
                  each related in relateds
                    +horseCard(related)
            //- #blackType.BGlight
            //-                             .product-ratting-wrap
            //-                               iframe(src='https://www.hippomundo.com/pedigree/black/360685?api_token=986f6c131dfdc1c75e3c8ab51fc1b356c200714a&tree=1', style='width:100%; height: 1000px; border: none;')
      section.page-block-large.BGlight
        .container
          .col-md-6.col-sm-6.col-xs-12.content-box.wow.fadeInLeft(data-wow-duration='0.50s', data-wow-delay='0.50s')
                #pedigree
                  .description-content
                                #wrapper(style="text-transform: uppercase;")
                                  span.label.current-horse= horse.birthname
                                  .branch.lv1
                                    // vader kant
                                    .entry.eersteped
                                      span.label
                                        = horse.sire
                                      .branch.lv2
                                        .entry
                                          span.label
                                            = horse.siresire
                                          .branch.lv3
                                            .entry
                                              span.label
                                                =horse.siredam
                                            .entry
                                              span.label
                                                =horse.siresiredam
                                        .entry
                                          span.label
                                            =horse.siredam
                                          .branch.lv3
                                            .entry
                                              span.label
                                                =horse.siredamsire
                                            .entry
                                              span.label
                                                =horse.siredamdam
                                    // moeder kant
                                    .entry.eersteped
                                      span.label
                                        = horse.dam
                                      .branch.lv2
                                        .entry
                                          span.label
                                            =horse.damsire
                                          .branch.lv3
                                            .entry
                                              span.label
                                                =horse.damsiresire
                                            .entry
                                              span.label
                                                =horse.damsiredam
                                        .entry
                                          span.label
                                            =horse.damdam
                                          .branch.lv3
                                            .entry
                                              span.label
                                                =horse.damdamsire
                                            .entry
                                              span.label
                                                =horse.damdamdam
        // end container
        // ::: END :::
        // :::  TEAM :::



block append scripts
      script(src="https://code.jquery.com/jquery-3.1.1.slim.js")
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
