extends layout

include mixins/_horseHomeCard
include mixins/_articleHomeCard

block content
            // == Start Slider Area Wrapper ==
            .slider-area-wrapper.fix
              #rev_slider_13_1_wrapper.rev_slider_wrapper.fullscreen-container(data-alias='classic-agency', data-source='gallery')
                #rev_slider_24_1.rev_slider.fullscreenbanner(style='display:none;', data-version='5.4.7')
                  ul
                    // SLIDE
                    li(data-index='rs-54', data-transition='slotfade-horizontal', data-slotamount='default', data-hideafterloop='0', data-hideslideonmobile='off', data-easein='default', data-easeout='default', data-masterspeed='default', data-thumb='/dist/assets//img/rev-slider/home-business/100x50_homepage-business-slide04-bg.jpg', data-rotate='0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
                      // MAIN IMAGE
                      img.rev-slidebg(src='/dist/assets//img/rev-slider/kudde.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
                      // LAYERS
                      // LAYER NR. 1
                      #slide-54-layer-3.tp-caption.tp-resizeme(data-x="['center','center','center','center']", data-hoffset="['1','-11','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['-54','-82','-59','-171']", data-fontsize="['90','70','50','25']", data-lineheight="['110','110','80','50']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='text', data-responsive_offset='on', data-frames='[{"delay":450,"speed":1500,"frame":"0","from":"x:-200px;skX:85px;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[30,30,30,30]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[30,30,30,30]', style='z-index: 5; white-space: nowrap; font-size: 90px; line-height: 110px; font-weight: 700; color: #0a304a;font-family:Poppins;text-transform:uppercase;margin-top:-200px;')
                        | Kattenheye
                      // LAYER NR. 2
                      #slide-54-layer-4.tp-caption.tp-resizeme(data-x="['center','center','center','center']", data-hoffset="['8','-12','0','-4']", data-y="['middle','middle','middle','middle']", data-voffset="['69','53','46','-84']", data-fontsize="['18','18','18','16']", data-lineheight="['24','24','24','22']", data-width="['700','600','601','320']", data-height='none', data-whitespace='normal', data-type='text', data-responsive_offset='on', data-frames='[{"delay":1050,"speed":1000,"frame":"0","from":"x:left;skX:45px;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]', data-textalign="['center','center','center','center']", data-paddingtop='[0,0,0,0]', data-paddingright='[30,30,30,30]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[30,30,30,30]', style='z-index: 6; min-width: 700px; max-width: 700px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 600; color: rgba(255,255,255,1);margin-top:-100px;')
                        = __('Slogan')
                      // LAYER NR. 3
                      a.slide-54-layer-5.tp-caption.trio-button-06.rev-btn.btn.btn-brand(href=`/${locale}/broodmares` data-x="['center','center','center','center']", data-hoffset="['-126','-126','-126','-104']", data-y="['middle','middle','middle','middle']", data-voffset="['176','176','176','43']", data-fontweight="['500','500','500','600']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='button', data-responsive_offset='on', data-frames='[{"delay":1600,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(31,31,31,1);bg:rgba(255,255,255,1);"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[21,21,21,21]', data-paddingright='[30,30,30,30]', data-paddingbottom='[21,21,21,21]', data-paddingleft='[30,30,30,30]', style='z-index: 7; white-space: nowrap;border-color:rgba(255,255,255,1);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-top:50px;')
                        = __('Fokmerries')
                      // LAYER NR. 4
                      a.slide-54-layer-6.tp-caption.btn.btn-brand(href=`/${locale}/forsale` data-x="['center','center','center','center']", data-hoffset="['89','89','89','94']", data-y="['middle','middle','middle','middle']", data-voffset="['176','176','176','42']", data-fontweight="['500','500','500','600']", data-color="['rgb(31,31,31)','rgb(31,31,31)','rgb(31,31,31)','rgb(0,0,0)']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='button', data-responsive_offset='on', data-frames='[{"delay":1600,"speed":1000,"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(31,31,31);bg:rgb(255,204,0);bc:rgba(255,255,255,0);"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[21,21,21,21]', data-paddingright='[30,30,30,30]', data-paddingbottom='[21,21,21,21]', data-paddingleft='[30,30,30,30]', style='z-index: 8; white-space: nowrap;border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;margin-top: 50px;')
                        = __('Paarden te koop')
                    // SLIDE
                    li(data-index='rs-55', data-transition='slotfade-horizontal', data-slotamount='default', data-hideafterloop='0', data-hideslideonmobile='off', data-easein='default', data-easeout='default', data-masterspeed='default', data-thumb='/dist/assets//img/rev-slider/home-business/100x50_homepage-business-slide02-bg.jpg', data-rotate='0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
                      // MAIN IMAGE
                      img.rev-slidebg(src='/dist/assets//img/rev-slider/Landgravin.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
                      // LAYERS
                      // LAYER NR. 5
                      #slide-55-layer-3.tp-caption.tp-resizeme(data-x="['center','center','center','center']", data-hoffset="['0','-7','0','0']", data-y="['middle','middle','middle','middle']", data-voffset="['30','14','34','-37']", data-fontsize="['90','70','50','25']", data-lineheight="['100','80','60','50']", data-width="['742','782','552','none']", data-height='none', data-whitespace="['normal','normal','normal','nowrap']", data-type='text', data-responsive_offset='on', data-frames='[{"delay":900,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]', data-textalign="['center','center','center','inherit']", data-paddingtop='[0,0,0,0]', data-paddingright='[30,30,30,30]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[30,30,30,30]', style='z-index: 5; min-width: 742px; max-width: 742px; white-space: normal; font-size: 90px; line-height: 100px; font-weight: 700; color: rgba(255,255,255,1);')
                        | Kattenheye
                      // LAYER NR. 6
                      //
                        <div class="tp-caption   tp-resizeme" id="slide-55-layer-4" data-x="['center','center','center','center']" data-hoffset="['-1','-18','-14','-4']" data-y="['middle','middle','middle','middle']" data-voffset="['-138','-108','-73','-84']" data-fontsize="['36','18','18','16']"
                        data-lineheight="['36','24','24','22']" data-fontweight="['400','600','600','600']" data-width="['none','600','601','320']" data-height="none" data-whitespace="['nowrap','normal','normal','normal']" data-type="text" data-responsive_offset="on"
                        data-frames='[{"delay":400,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 6; white-space: nowrap; font-size: 36px; line-height: 36px; font-weight: 400; color: rgba(255,255,255,1);">
                        Internationale Sportpaarden
                        </div>
                      // LAYER NR. 7
                      a.slide-55-layer-6.tp-caption.trio-button-white.rev-btn(href=`/${locale}/sporthorses` data-x="['center','center','center','center']", data-hoffset="['0','-1','-1','6']", data-y="['middle','middle','middle','middle']", data-voffset="['208','163','163','45']", data-fontweight="['500','500','500','600']", data-color="['rgb(31,31,31)','rgb(31,31,31)','rgb(31,31,31)','rgb(0,0,0)']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='button', data-responsive_offset='on', data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(31,31,31);bg:rgb(255,204,0);bc:rgba(255,255,255,0);"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[21,21,21,21]', data-paddingright='[30,30,30,30]', data-paddingbottom='[21,21,21,21]', data-paddingleft='[30,30,30,30]', style='z-index: 7; white-space: nowrap; border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;')
                        =__("Bekijk hier al onze sportpaarden")
                    // SLIDE
                    li(data-index='rs-56', data-transition='slotfade-horizontal', data-slotamount='default', data-hideafterloop='0', data-hideslideonmobile='off', data-easein='default', data-easeout='default', data-masterspeed='default', data-thumb='/dist/assets//img/rev-slider/home-business/100x50_homepage-business-slide03-bg.jpg', data-rotate='0', data-saveperformance='off', data-title='Slide', data-param1='', data-param2='', data-param3='', data-param4='', data-param5='', data-param6='', data-param7='', data-param8='', data-param9='', data-param10='', data-description='')
                      // MAIN IMAGE
                      img.rev-slidebg(src='/dist/assets//img/rev-slider/paard-mrunoz-bk-wk-18-49966.jpg', alt='', data-bgposition='center center', data-bgfit='cover', data-bgrepeat='no-repeat', data-no-retina='')
                      // LAYERS
                      // LAYER NR. 8
                      #slide-56-layer-3.tp-caption.tp-resizeme(data-x="['center','center','center','center']", data-hoffset="['2','-11','0','-6']", data-y="['middle','middle','middle','middle']", data-voffset="['-63','-82','-59','-89']", data-fontsize="['70','70','50','25']", data-lineheight="['70','70','50','30']", data-fontweight="['700','400','400','400']", data-width="['946','862','731','425']", data-height='none', data-whitespace='normal', data-type='text', data-responsive_offset='on', data-frames='[{"delay":400,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]', data-textalign="['center','center','center','center']", data-paddingtop='[0,0,0,0]', data-paddingright='[30,30,30,30]', data-paddingbottom='[0,0,0,0]', data-paddingleft='[30,30,30,30]', style='z-index: 5; min-width: 946px; max-width: 946px; white-space: normal; font-size: 70px; line-height: 70px; font-weight: 700; color: rgba(255,255,255,1);text-transform:uppercase;')
                        | Kattenheye
                      // LAYER NR. 9
                      //
                        <div class="tp-caption   tp-resizeme" id="slide-56-layer-4" data-x="['center','center','center','center']" data-hoffset="['9','-12','-1','-1']" data-y="['middle','middle','middle','middle']" data-voffset="['69','53','53','21']" data-fontsize="['18','18','18','16']"
                        data-lineheight="['24','24','24','22']" data-width="['700','600','601','320']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"delay":1200,"speed":700,"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[30,30,30,30]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[30,30,30,30]" style="z-index: 6; min-width: 700px; max-width: 700px; white-space: normal; font-size: 18px; line-height: 24px; font-weight: 600; color: rgba(255,255,255,1);">
                        Responsive & retina ready, Tri-o looks professional and elegant on all devices and screen sizes.
                        </div>
                      // LAYER NR. 10
                      a.slide-56-layer-6.tp-caption.trio-button-white.rev-btn(href=`/${locale}/references` data-x="['center','center','center','center']", data-hoffset="['0','0','0','3']", data-y="['middle','middle','middle','middle']", data-voffset="['176','176','176','135']", data-fontweight="['500','500','500','600']", data-color="['rgb(31,31,31)','rgb(31,31,31)','rgb(31,31,31)','rgb(0,0,0)']", data-width='none', data-height='none', data-whitespace='nowrap', data-type='button', data-responsive_offset='on', data-frames='[{"delay":1200,"speed":700,"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(31,31,31);bg:rgb(255,204,0);bc:rgba(255,255,255,0);"}]', data-textalign="['inherit','inherit','inherit','inherit']", data-paddingtop='[21,21,21,21]', data-paddingright='[30,30,30,30]', data-paddingbottom='[21,21,21,21]', data-paddingleft='[30,30,30,30]', style='z-index: 7; white-space: nowrap;border-color:rgb(255,255,255);outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;')
                        =__("Bekijk onze Referenties")
                  .tp-bannertimer.tp-bottom(style='visibility: hidden !important;')
            // == End Slider Area Wrapper ==
            // == Start Case Study Area Wrapper ==
            section.case-studies-wrapper.pt-120.pt-md-80.pt-sm-60.pb-120.pb-md-80.pb-sm-60
              .container
                .row
                  // Start Section title
                  .col-lg-6.m-auto.text-center
                    .section-title-wrap.layout--2
                      h2=__("Paarden te koop")
                      p.mb-0= __("SaleText") 
                  // End Section title
                .row.mtm-30
                  // Start Single Case Study
                  each horse in horses
                      +horseHomeCard(horse)
                  //- .col-lg-4.col-md-6
                  //-   .single-portfolio-wrap
                  //-     figure.portfolio-thumb
                  //-       img(src='/dist/assets//img/paarden/Landgravin.JPG', alt='Case Study')
                  //-       figcaption.portfolio-details
                  //-         .port-info
                  //-           h3
                  //-             a(href='/paard-detail.html') Landgravin van de Donkhoeve
                  //-           nav.nav.portfolio-cate
                  //-             a(href='/paard-detail.html') For Passion d'Ive x Canaletto
                  //-             a(href='/paard-detail.html') °2011 - 1m35 level
                  //-         a.btn-view-work(href='/paard-detail.html')
                  //-           | More info
                  //-           i.fa.fa-long-arrow-right
                  //- // End Single Case Study
                  //- // Start Single Case Study
                  //- .col-lg-4.col-md-6
                  //-   .single-portfolio-wrap
                  //-     figure.portfolio-thumb
                  //-       img(src='/dist/assets//img/paarden/Iloise.jpg', alt='Case Study')
                  //-       figcaption.portfolio-details
                  //-         .port-info
                  //-           h3
                  //-             a(href='/paard-detail.html') Iloise-K van 't Kattenheye
                  //-           nav.nav.portfolio-cate
                  //-             a(href='/paard-detail.html') Indoctro x Corrado I
                  //-             a(href='/paard-detail.html') °2011 - 1m30 level
                  //-         a.btn-view-work(href='/paard-detail.html')
                  //-           | More info
                  //-           i.fa.fa-long-arrow-right
                  //- // End Single Case Study
                  //- // Start Single Case Study
                  //- .col-lg-4.col-md-6
                  //-   .single-portfolio-wrap
                  //-     figure.portfolio-thumb
                  //-       img(src='/dist/assets//img/paarden/Trigger.jpg', alt='Case Study')
                  //-       figcaption.portfolio-details
                  //-         .port-info
                  //-           h3
                  //-             a(href='/paard-detail.html') Trigger-K van Kattenheye
                  //-           nav.nav.portfolio-cate
                  //-             a(href='/paard-detail.html') Comme Il Faut x Indoctro
                  //-             a(href='/paard-detail.html') °2019 - Colt
                  //-         a.btn-view-work(href='/paard-detail.html')
                  //-           | More info
                  //-           i.fa.fa-long-arrow-right
                  //- // End Single Case Study
                  //- // Start Single Case Study
                  //- .col-lg-4.col-md-6
                  //-   .single-portfolio-wrap
                  //-     figure.portfolio-thumb
                  //-       img(src='/dist/assets//img/paarden/Tyson.jpg', alt='Case Study')
                  //-       figcaption.portfolio-details
                  //-         .port-info
                  //-           h3
                  //-             a(href='/paard-detail.html') Tyson-K van Kattenheye
                  //-           nav.nav.portfolio-cate
                  //-             a(href='/paard-detail.html') Nixon Meulenhof x Vivaldi du Seigneur
                  //-             a(href='/paard-detail.html') °2019 - Colt
                  //-         a.btn-view-work(href='/paard-detail.html')
                  //-           | More info 
                  //-           i.fa.fa-long-arrow-right
                  //- // End Single Case Study
                  //- // Start Single Case Study
                  //- .col-lg-4.col-md-6
                  //-   .single-portfolio-wrap
                  //-     figure.portfolio-thumb
                  //-       img(src='/dist/assets//img/paarden/Tracey.jpg', alt='Case Study')
                  //-       figcaption.portfolio-details
                  //-         .port-info
                  //-           h3
                  //-             a(href='/paard-detail.html') Tracey-K van Kattenheye
                  //-           nav.nav.portfolio-cate
                  //-             a(href='/paard-detail.html') Harley VDL x Casall
                  //-             a(href='/paard-detail.html') °2019 - Filly
                  //-         a.btn-view-work(href='/paard-detail.html')
                  //-           | More info
                  //-           i.fa.fa-long-arrow-right
                  //- // End Single Case Study
                  //- // Start Single Case Study
                  //- .col-lg-4.col-md-6
                  //-   .single-portfolio-wrap
                  //-     figure.portfolio-thumb
                  //-       img(src='/dist/assets//img/paarden/Incredible.jpg', alt='Case Study')
                  //-       figcaption.portfolio-details
                  //-         .port-info
                  //-           h3
                  //-             a(href='/paard-detail.html') Incredible-K van Kattenheye
                  //-           nav.nav.portfolio-cate
                  //-             a(href='/paard-detail.html') Indoctro x Kannan
                  //-             a(href='/paard-detail.html') °2014 - 1m10 level
                  //-         a.btn-view-work(href='/paard-detail.html')
                  //-           | More info
                  //-           i.fa.fa-long-arrow-right
                  //- // End Single Case Study
                .row
                  .col-12.text-center
                    .portfolio-view-more-btn.mt-60.mt-sm-30
                      a.btn.btn-brand(href=`/${locale}/forsale`)= __("Meer paarden te koop")
            // == End Case Study Area Wrapper ==
            // == Start Testimonial Area Wrapper ==
            section.testimonial-area.showcase-layout.parallaxBg.bg-img(data-bg='/dist/assets//img/Achtergrond1.jpg')
              .container
                .row
                  // Start Section title
                  .col-lg-6.m-auto.text-center
                    .section-title-wrap.layout--2
                      h2(style='color:#d9b310;')= __("Onze Diensten")
                  // End Section title
                .row
                  .col-lg-12
                    .testimonial-content-wrap
                      .ht-slick-slider.dots-style-two(data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "adaptiveHeight": true, "dots": true, "centerMode": true, "centerPadding": 0, "responsive": [{"breakpoint": 991,"settings": {"slidesToShow": 1}}] }')
                        // Single Testimonial Start
                        .single-testimonial-wrap.layout--4
                          figure.author-thumb
                            img(src='/dist/assets//img/producten/capsules.png', alt='Testimonial')
                          p
                            =__("Dienst1Text")
                          h3.client-name
                            =__("Dienst1")
                            // <span class="client-designation">Bezoek onze webshop
                            // Single Testimonial End
                            // Single Testimonial Start
                        .single-testimonial-wrap.layout--4
                              figure.author-thumb
                                img(src='/dist/assets//img/producten/pension.png', alt='Testimonial')
                              p
                                =__("Dienst2Text")
                              h3.client-name
                                =__("Dienst2")
                                // <span class="client-designation">JavaScript Dev
                                // Single Testimonial End
                                // Single Testimonial Start
                        //- .single-testimonial-wrap.layout--4
                        //-           figure.author-thumb
                        //-             img(src='/dist/assets//img/producten/treintje.jpg', alt='Testimonial')
                        //-           p
                        //-             | Wilt u graag een rondrit maken door het landelijke Laarne? U kunt bij ons terecht voor een rit met de huifkar alsook met het toeristisch treintje
                        //-           h3.client-name
                        //-             | Rondritten
                        //-             // <span class="client-designation">Front End</span>
                        //-             // Single Testimonial End
                        //-             // Single Testimonial Start
                        .single-testimonial-wrap.layout--4
                                      figure.author-thumb
                                        img(src='/dist/assets//img/producten/bezoeken.jpg', alt='Testimonial')
                                      p
                                        =__("Dienst3Text")
                                      h3.client-name
                                        =__("Dienst3")
                                        // <span class="client-designation">JavaScript Dev
                                        // Single Testimonial End
                        .single-testimonial-wrap.layout--4
                                      figure.author-thumb
                                        img(src='/dist/assets//img/producten/bezoeken.jpg', alt='Testimonial')
                                      p
                                        =__("Dienst4Text")
                                      h3.client-name
                                        =__("Dienst4")
                                        // <span class="client-designation">JavaScript Dev
                                        // Single Testimonial End

            section.business-plan-area.mt-120.mt-md-80.mt-sm-60.mb-120
                                          .container
                                            .row.mtm-30.mbm-30
                                              .col-lg-4.col-md-6
                                                // Start Single Plan Item #1
                                                .architect-project-item
                                                  figure.project-thumbnail
                                                    a(href=`/${locale}/broodmares`)
                                                      img(src='/dist/assets//img/home/fokmerries.jpg', alt='Broodmares & Fokmerries')
                                                  .project-info
                                                    h2= __("Fokmerries")
                                                    p
                                                      = __("FokmerriesText")
                                                    a.btn-read-more(href=`/${locale}/broodmares`)= __("Bekijk onze fokmerries")
                                              .col-lg-4.col-md-6
                                                // Start Single Plan Item #2
                                                .architect-project-item
                                                  figure.project-thumbnail
                                                    a(href=`/${locale}/younghorses`)
                                                      img(src='/dist/assets//img/home/jongepaarden.jpg', alt='Young Horses & Jonge Paarden')
                                                  .project-info
                                                    h2= __("Jonge Paarden")
                                                    p
                                                      = __("JongePaardenText")
                                                    a.btn-read-more(href=`/${locale}/younghorses`)= __("Bekijk onze jonge paarden")
                                              .col-lg-4.col-md-6
                                                // Start Single Plan Item #3
                                                .architect-project-item
                                                  figure.project-thumbnail
                                                    a(href=`/${locale}/foals`)
                                                      img(src='/dist/assets//img/home/veulens.jpg', alt='Veulens & Foals')
                                                  .project-info
                                                    h2= __("Veulens")
                                                    p
                                                      = __("VeulenText")
                                                    a.btn-read-more(href=`/${locale}/foals`)= __("Bekijk onze veulens")
                                                  // == End Business Plan Area ==