extends layout

include mixins/_horseHomeCard
include mixins/_articleHomeCard

block content
    // Fullscreen HTML5 video
    section.fullscreen(data-bg-video='/video/Balou-Knokke.mp4')
        .bg-overlay
        .container
            .text-middle
                    .row
                        .col-lg-7.mb-xs-5
                            .text-light
                                h2.text-medium.no-margin.text-colored CSI5* GP
                                h2.text-lg.no-margin= __("Winner")
                        .col-lg-5
                            #book
                                form#form2.form-validate(action=`/${locale}/contact` role='form' method='post')
                                    .row
                                        .col-md-12
                                            h3.text-light= __("Order semen now")
                                            .form-group
                                                input.form-control(type='text' name='sender' placeholder=__("Your Name") required='')
                                            .form-group
                                                input.form-control(type='text' name='email' placeholder=__("Your Email") required='')
                                            .form-group
                                                input.form-control(type='text' name='phone' placeholder=__("Your Phone Number") required='')
                                        .col-md-12
                                            .form-group#about
                                                button.btn(type='submit')= __("Submit")
    // About us
    section#section-about
        .container
            .row
                .col-lg-12
                    .row
                        // features box
                        .col-lg-6.mb-xs-5
                            h4=__("About Balou du Reventon")
                            if (getLocale() === 'nl')
                                p!= stallion.description
                            else
                                p!= stallion.descriptionEN
                            a.btn.btn-rounded(href='#order')=__("Order Semen")
                        // end: features box
                        // Progress bar
                        .col-lg-6
                            h4=__("Results")
                                ul.list-icon.list-icon-colored
                                    each result in stallion.result
                                        li
                                            i.fa.fa-trophy
                                            p(style="display:inline;")= result
                        // end: Results
                        // end features box
    section.background-colored.text-center
        .container
            .col-lg-12.center
                #pedigree
                  .description-content
                                #wrapper(style="text-transform: uppercase;")
                                  span.label.current-horse= stallion.birthname
                                  .branch.lv1
                                    // vader kant
                                    .entry.eersteped
                                      span.label= stallion.sire
                                      .branch.lv2
                                        .entry
                                          span.label= stallion.siresire
                                          .branch.lv3
                                            .entry
                                              span.label= stallion.siresiresire
                                            .entry
                                              span.label= stallion.siresiredam
                                        .entry
                                          span.label= stallion.siredam
                                          .branch.lv3
                                            .entry
                                              span.label= stallion.siredamsire
                                            .entry
                                              span.label= stallion.siredamdam
                                    // moeder kant
                                    .entry.eersteped
                                      span.label= stallion.dam
                                      .branch.lv2
                                        .entry
                                          span.label= stallion.damsire
                                          .branch.lv3
                                            .entry
                                              span.label= stallion.damsiresire
                                            .entry
                                              span.label= stallion.damsiredam
                                        .entry
                                          span.label= stallion.damdam
                                          .branch.lv3
                                            .entry
                                              span.label= stallion.damdamsire
                                            .entry
                                              span.label= stallion.damdamdam

    // end: About us
    // Page title
    // Content
    section#page-content
        .container#media
            // Page title
            .page-title
                h1(style="color:white;margin-bottom:20px;")= __("Media")
            // Portfolio
            #portfolio.grid-layout.portfolio-3-columns(data-margin='20')
                each file in stallion.file
                    // portfolio item
                    .portfolio-item.img-zoom.ct-photography.ct-marketing.ct-media
                        .portfolio-item-wrap
                            .portfolio-image
                                a(href=`/uploads/${file}`)
                                    img(src=`/uploads/${file}` alt=`${stallion.birthname} - Photo Credit: Stefano Grasso`)
                            .portfolio-description
                                a(title=stallion.birthname data-lightbox='image' href=`/uploads/${file}`)
                                    i.icon-maximize
                                a(href=`/uploads/${file}` target='_blank')
                                    i.icon-link
                    // end: portfolio item
                // end: Portfolio
    // end: Content
    // Content
    section#page-content(style="background-color:#4a9590;")
        .container#news
            // post content
            // Page title
            .page-title
                h1(style="color:white;margin-bottom:20px;")= __("Latest News")
            // end: Page title
            // Blog
            #blog.grid-layout.post-3-columns.m-b-30(data-item='post-item')
                each article in articles
                    +articleHomeCard(article)
                // end: Blog
                // end: post content
    // end: Content
    // Content
    section#page-content
        .container#offspring
            .page-title
                h1(style="margin-bottom:20px;")= __("Offspring")
            // Portfolio
            #portfolio.grid-layout.portfolio-3-columns(data-margin='20')
                each baby, i in stallion.fileOffspring
                    // portfolio item
                    .portfolio-item.no-overlay.img-zoom.ct-photography.ct-marketing.ct-media
                        .portfolio-item-wrap
                            .portfolio-image
                                a(href=`/uploads/${baby}` target="_blank")
                                    img(src=`/uploads/${baby}` alt=stallion.offspring[i])
                            .portfolio-description
                                a(href=`/uploads/${baby}` target="_blank")
                                    h3= stallion.offspring[i]
                                    span= __("Offspring")
                    // end: portfolio item
                // end: Portfolio
    // end: Content


    // end: Fullscreen HTML5 video
        // :::  HOME SLIDER :::
        section#slides.BGdark
            ul.bxslider
                if home.updatedFile
                    each file in home.updatedFile
                        li
                            img.img-responsive(src=`/uploads/${file}`, alt="Second Life Stables")
                else
                    each file in home.file
                        li
                            img.img-responsive(src=`/uploads/${file}`, alt="Second Life Stables")
        section.calltoAction
            .boxedw.page-block
                .container
                    each article in articles
                      +articleHomeCard(article)
                // end container
                // end boxedw

        section.BGlight.page-block-small
            .container.wow.fadeInDown(data-wow-duration='0.50s', data-wow-delay='0.50s')
                .col-md-12
                    .section-heading.zeroM
                        h2
                            i.fa.fa-check.square.BGsec
                            span#text(style="font-size:1em;line-height:1em;background-color: #ffffff;background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;")= __("Expected Foals")
                            small(style="background-color: #ffffff;background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;")= __("BuyNowText")
                        a.btn.btn-primary(href=`/${locale}/embryos`, title='Expected Foals')
                            =__("Buy Now")
                            i.fa.fa-chevron-circle-right
                        .clear
            // end-container
        // :::  ABOUT :::
        section.page-block-large
            .container
                .col-md-12col-xs-12.content-box.wow.fadeInLeft(data-wow-duration='0.50s', data-wow-delay='0.50s' )
                    .section-heading
                        h2
                            i.fa.fa-award.square.BGsec
                            = __("AboutUs") 
                            small= __("AboutUsSlogan")
                        .clear
                    .text(style="-webkit-column-width: 450px;-moz-column-width: 450px;column-width: 450px;  -webkit-column-gap: 2em;-moz-column-gap: 2em;column-gap: 2em;")
                        if (locale === 'en')
                            != home.title_EN
                        if (locale === 'nl')
                            != home.title
            // end container
        // ::: END :::
