doctype html
html(lang='en')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='content-type' content='text/html; charset=utf-8')
    meta(name='author' content='Domani Equestrian')
    meta(name='description' content='Balou Du Reventon (Cornet\'s Balou) - CSI5* Grand Prix winning stallion by Cornet Obolensky x Continue.')
    link(rel='icon' type='image/png' href='/images/equimedic.ico')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://www.baloudureventon.com/')
    meta(property='og:image', content='https://www.baloudureventon.com/images/Equimedic.png')
    meta(property='og:site_name', content='Balou Du Reventon')
    // Document title
    title Balou Du Reventon
    // Stylesheets & Fonts
    link(href='/css/plugins.css' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
    script(src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=p5r7dx82qc043nde5pirajcskkwawv1a0l7jftbcjzlg9d76")
    script.
        tinymce.init({
            selector: '#mytextareaNL',
            plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern noneditable help charmap quickbars emoticons',
            menubar: 'file edit view insert format tools table help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | media link anchor codesample | ltr rtl',
            toolbar_sticky: true,
            autosave_ask_before_unload: true,
            autosave_interval: "30s",
            autosave_prefix: "{path}{query}-{id}-",
            autosave_restore_when_empty: false,
            autosave_retention: "2m",
            link_list: [
                { title: 'Second Life Stables', value: 'http://www.secondlifestables.be' }
            ],
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quicktable',
            noneditable_noneditable_class: "mceNonEditable",
            toolbar_mode: 'sliding',
            height: 500
            });
    script.
        tinymce.init({
        selector: '#mytextareaEN',
        plugins: 'print preview paste importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media codesample table charmap hr pagebreak nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern noneditable help charmap quickbars emoticons',
        menubar: 'file edit view insert format tools table help',
        toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | link anchor codesample | ltr rtl',
        autosave_ask_before_unload: true,
        autosave_interval: "30s",
        autosave_prefix: "{path}{query}-{id}-",
        autosave_restore_when_empty: false,
        autosave_retention: "2m",
        link_list: [
            { title: 'Second Life Stables', value: 'http://www.secondlifestables.be' }
        ],
        height: 500
        });
// Body Inner
.body-inner

    block header
        // Header
        header#header.dark.submenu-light(data-transparent='true' data-fullwidth='true')
            .header-inner
                .container
                    // Logo
                    #logo
                        a(href=`/${locale}/home`)
                            span.logo-default BALOU DU REVENTON
                            span.logo-dark BALOU DU REVENTON
                    // End: Logo
                    // Search
                    //- #search
                    //- 	a#btn-search-close.btn-search-close(aria-label='Close search form')
                    //- 		i.icon-x
                    //- 	form.search-form(action='search-results-page.html' method='get')
                    //- 		input.form-control(name='q' type='text' placeholder='Type & Search...')
                    //- 		span.text-muted Start typing & press "Enter" or "ESC" to close
                    //- // end: search
                    // Header Extras
                    .header-extras
                        ul
                            //- li
                            //- 	a#btn-search(href='#')
                            //- 		i.icon-search
                            li
                                .p-dropdown
                                    a(href='#')
                                        i.icon-globe
                                        if (getLocale() === 'nl')
                                            span NL
                                        else
                                            span EN
                                    ul.p-dropdown-content
                                        li
                                            a(href="/nl/home" data-locale="nl")= __("Dutch")
                                        li
                                            a(href="/en/home" data-locale="en")= __("English")
                    // end: Header Extras
                    // Navigation Resposnive Trigger
                    #mainMenu-trigger
                        a.lines-button.x
                            span.lines
                    // end: Navigation Resposnive Trigger
                    // Navigation
                    #mainMenu
                        .container
                            nav
                                ul
                                    li
                                        a(href=`/${locale}/home`)= __("Home")
                                    li.dropdown
                                        a(href='/#about')= __("About")
                                        ul.dropdown-menu
                                            li
                                                a(href='/#about')= __("Info")
                                            li
                                                a(href='/#about')= __("Results")
                                            li
                                                a(href='/#pedigree')= __("Pedigree")
                                    li
                                        a(href='/#media')= __("Media")
                                    li
                                        a(href='/#news')= __("News")
                                    li
                                        a(href='/#offspring')= __("Offspring")
                                    li
                                        a(href='/#order')= __("Order Semen")
                                    li
                                        a(href='/#contact')= __("Contact us")
                    // end: Navigation
                    // end: Header

    block messages
            if locals.flashes
                .inner
                    .flash-messages.ml-5.mr-5.row.justify-content-center
                        - const categories = Object.keys(locals.flashes)
                        each category in categories
                            each message in flashes[category]
                                .flash(class=`flash--${category}`)
                                    p.flash__text!= message
                                    button.flash__remove(onClick="this.parentElement.remove()") &times;
                
    block content

    block footer
        // Call to action
        section.background-colored.text-center
            .container
                .col-lg-9.center
                    h3.text-light= __("OrderText")
                    a.btn.btn-light.btn-rounded(type='button' href="#order")= __("Order Semen")
        // end: Call to action
        // Footer
        footer#footer
            .footer-content
                .container#contact
                    .row#order
                        .col-lg-6
                            // Footer widget area 1
                            .widget.widget-contact-us(style="background-image: url('images/world-map-dark.png'); background-position: 50% 20px; background-repeat: no-repeat")
                                h4= __("Verdeler")
                                ul.list-icon
                                    li
                                        i.fa.fa-map-marker-alt
                                        |  Ekerstraat 5 
                                        br
                                        p(style="color:#484848;margin-left:10px;") 3540 Berbroek - Belgium
                                    li
                                        i.fa.fa-phone
                                        |  +32 (0)497 420 093
                                    li
                                        i.far.fa-envelope
                                        a(href='mailto:info@baloudureventon.com' style="magin-left:2px;") info@baloudureventon.com
                                    li
                                        i.far.fa-building
                                        = __("VAT") 
                                        strong BE0806.409.104
                            // end: Footer widget area 1
                        .col-lg-6
                            form#form2.form-validate(action=`/${locale}/contact` role='form' method='post')
                                .input-group.mb-2
                                    .input-group-prepend
                                        span#basic-addon1.input-group-text
                                            i.fa.fa-user
                                    input.form-control.required.name(type='text' aria-required='true' name='sender' placeholder=__("Your Name"))
                                .input-group.mb-2
                                    .input-group-prepend
                                        span#basic-addon1.input-group-text
                                            i.fa.fa-envelope
                                    input.form-control.required.email(type='email' aria-required='true' required='' name='email' placeholder=__("Your Email"))
                                .form-group.mb-2
                                    textarea.form-control.required(type='text' name='message' rows='5' placeholder=__("Your Message"))
                                .form-group
                                    button#form-submit.btn(type='submit')
                                        i.fa.fa-paper-plane
                                        =__("Submit")

            .copyright-content
                .container
                    .copyright-text.text-center
                        - var year = new Date().getFullYear()
                        = `© ${year} - All Rights Reserved.`
                        a(href='http://equimedic.be/' target='_blank' rel='noopener')  Equimedic
        // end: Footer
        // end: Body Inner
        // Scroll top
        a#scrollTop
            i.icon-chevron-up
            i.icon-chevron-up

block scripts
        // Plugins
        script(src='/js/jquery.js')
        script(src='/js/plugins.js')
        // Template functions
        script(src='/js/functions.js')
