doctype html
html
  head
    title= `${title} | Star Stables Kattenheye`
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Star Stables Kattenheye
    script(src='https://kit.fontawesome.com/7426b1e512.js')
    // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-149422509-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149422509-1');
    // === Favicon ===
    link(rel='shortcut icon', href='/dist/assets/img/favicon.ico', type='image/x-icon')
    // == Google Fonts ==
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700%7CPlayfair+Display:400,400i', rel='stylesheet')
    // === All Plugins CSS ===
    link(href='/dist/assets/css/plugins.css', rel='stylesheet')
    // === All Vendor CSS ===
    link(href='/dist/assets/css/vendor.css', rel='stylesheet')
    // === Main Style CSS ===
    link(href='/dist/assets/css/style.css', rel='stylesheet')
    // Modernizer JS
    script(src='/dist/assets/js/modernizr-2.8.3.min.js')
    #fb-root
    script(async='', defer='', crossorigin='anonymous', src='https://connect.facebook.net/nl_BE/sdk.js#xfbml=1&version=v4.0&appId=502718607226537&autoLogAppEvents=1')
    //if lt IE 9
      script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')



  body
    block preloader.preloader-active
      // == Start PreLoader Wrap ==
      .preloader-area-wrap
        .spinner.d-flex.justify-content-center.align-items-center.h-100
          .bounce1
          .bounce2
          .bounce3
    block header
      header.header-area-wrapper.header-four.transparent-header.sticky-header
        .container-fluid
          .position-relative.d-flex.justify-content-between.justify-content-lg-start.align-items-center
            .header-left-wrapper
              // Start Logo Area Wrap
              a.logo-wrap.d-block(href='index.html')
                img(src='/dist/assets/img/favicon.png', style='height:60px;', alt='White Logo')
                img.sticky-logo(src='/dist/assets/img/favicon.png', style='height:60px;', alt='Black Logo')
              // End Logo Area Wrap
              // Start Main Navigation Wrap
            .header-right-wrapper
                .header-right-area.d-flex.justify-content-between.align-items-center
                  .navigation-area-wrap.align-left.d-none.d-lg-block
                    nav.main-navigation
                      ul.main-menu.nav.justify-content-end
                        li.dropdown-navbar
                          a(href='/' style="vertical-align: sub;") Home
                        li.dropdown-navbar
                          a(href=`/${locale}/news` style="vertical-align: sub;")= __("News")
                        li.dropdown-navbar.arrow
                          a(href=`/${locale}/sporthorses`)= __("Onze Paarden")
                          ul.dropdown-nav
                            li.dropdown-navbar
                              a(href=`/${locale}/sporthorses`)= __("Sporthorses")
                            li.dropdown-navbar
                              a(href=`/${locale}/broodmares`)= __("Broodmares")
                            li.dropdown-navbar
                              a(href=`/${locale}/younghorses`)= __("Young Horses")
                            li.dropdown-navbar
                              a(href=`/${locale}/foals`)= __("Jumping Foals")
                            li.dropdown-navbar
                              a(href=`/${locale}/dressagefoals`)= __("Dressage Foals")
                            li
                              a(href=`/${locale}/forsale`)= __("For Sale")
                            if user
                              li
                                a(href=`/${locale}/embryos`)= __("Embryos")
                        li.dropdown-navbar.arrow
                          a(href=`/${locale}/services`)= __("Services")
                          ul.dropdown-nav
                            li
                              a(href="https://www.paardenmelkerij.info")= __("Paardenmelkerij")
                            li
                              a(href=`/${locale}/stabling`)= __("Stabling")
                            li
                              a(href=`/${locale}/rearing`)= __("Rearing")
                        li.dropdown-navbar.full-width
                          a(href=`/${locale}/references` style="vertical-align: sub;")= __("References")
                        li.dropdown-navbar.full-width.bg-menu
                          a(href=`/${locale}/contact` style="vertical-align: sub;")= __("Contact")
                        if user
                          a.btn.btn-brand(href=`/${locale}/admin` style="padding:0px !important;margin-right:30px;") Wijzig Website
                        li.dropdown-navbar.arrow
                          a(href=`//${locale}`)= __("Language")
                            if (getLocale() === 'en')
                                img(src="/images/icons/gb.png" style="margin-left:10px;width:22px;" alt="English")
                            else
                                img(src="/images/icons/nl.png" style="margin-left:10px;width:22px;" alt="Nederlands")
                          ul.dropdown-nav
                              li
                                img(src="/images/icons/nl.png" style="width:22px;" alt="Nederlands")
                                a(href="/nl/home" data-locale="nl")  Nederlands
                              li
                                img(src="/images/icons/gb.png" style="width:22px;" alt="English")
                                a(href="/en/home" data-locale="en")  English             
                  .header-right-sub-area.d-flex.align-items-center
                    .footer-social-icons.nav.d-none.d-sm-block
                      a.trio-tooltip(href='https://www.facebook.com/Kattenheye/', target='_blank', data-tippy-content='Facebook')
                        i.fab.fa-facebook
                      a.trio-tooltip(href='https://www.youtube.com/channel/UCmcRkSKhY2xLegBfQPtKC4Q?view_as=subscriber', target='_blank', data-tippy-content='Youtube')
                        i.fab.fa-youtube
                    .off-canvas-area-wrap.d-flex.d-lg-block
                      button.search-box-open.d-block.d-lg-none
                        i.fa.fa-search
                      button.off-canvas-btn.d-none.d-lg-block
                        span.bar-txt Menu
                        i.fa.fa-bars
                      // Mobile Responsive Menu Button
                      button.mobile-menu.text-white.d-lg-none.ml-md-30.ml-sm-30
                        i.fa.fa-bars

    block messages
      if locals.flashes
        .inner
          .flash-messages.ml-5.mr-5.row.justify-content-center
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
    .content
      block content

    block footer
      footer.footer-wrapper
                                          // Start Footer Widget Area
                                          .footer-widget-wrapper.pt-120.pt-md-80.pt-sm-60.pb-116.pb-md-78.pb-sm-60
                                            .container
                                              .row.mtm-44
                                                // Start Single Widget Wrap
                                                .col-lg-4.col-md-6
                                                  .single-widget-wrap
                                                    h3.widget-title Contact
                                                    .widget-body
                                                      .about-text
                                                        address
                                                          | Kattenheye 
                                                          br
                                                          |                                     Lagen Heirweg 9 
                                                          br
                                                          |                                     9720 Laarne - België 
                                                          br
                                                          br
                                                        p(style="margin-bottom:0px;") Tony & Mieke Raman
                                                        a(href='mailto:your@example.com') Email: info@kattenheye.com
                                                        br
                                                        a(href="tel:0032498167805") Tel: + 32 498 16 78 05
                                                // End Single Widget Wrap
                                                // Start Single Widget Wrap
                                                .col-lg-4.col-md-6
                                                  .single-widget-wrap
                                                    h3.widget-title Links
                                                    .widget-body
                                                      ul.widget-list
                                                        li
                                                          a(href='index.html') Home
                                                        li
                                                          a(href=`/${locale}/news`)= __("News")
                                                        li
                                                          a(href=`/${locale}/sporthorses`)= __("Sporthorses")
                                                        li
                                                          a(href=`/${locale}/foals`)= __("Foals")
                                                        li
                                                          a(href=`/${locale}/forsale`)= __("For Sale")
                                                        li
                                                          a(href=`/${locale}/references`)= __("References")
                                                        li
                                                          a(href=`/${locale}/contact`) Contact
                                                // End Single Widget Wrap
                                                // Start Single Widget Wrap
                                                .col-lg-4.col-md-6
                                                  .fb-page(data-href='https://www.facebook.com/Kattenheye/', data-tabs='timeline', data-width='', data-height='340px', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false' style="margin-top:45px;")
                                                    blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/Kattenheye/')
                                                      a(href='https://www.facebook.com/Kattenheye/') Star Stables Kattenheye
                                                  //- .single-widget-wrap
                                                  //-   h3.widget-title Laatste nieuws
                                                  //-   .widget-body
                                                  //-     .latest-blog-widget
                                                        //- .single-blog-item
                                                        //-   h3
                                                        //-     a(href='blog-details.html') BWFA Veiling
                                                        //-   span.post-date
                                                        //-     i.fa.fa-clock-o
                                                        //-     |   July 20, 2019
                                                        //- .single-blog-item
                                                        //-   h3
                                                        //-     a(href='blog-details.html') Goede resultaten
                                                        //-   span.post-date
                                                        //-     i.fa.fa-clock-o
                                                        //-     |   March 8, 2019
                                                // End Single Widget Wrap
                                          .footer-bottom-area
                                                  .container
                                                    .row.align-items-center
                                                      .col-md-6.col-sm-7.order-last
                                                        .footer-copyright-area.mt-xs-10.text-center.text-sm-left
                                                          p Copyright © 2019 Domani Equestrian - All Rights Reserved.
                                                      .col-md-6.col-sm-5.order-first.order-sm-last
                                                        .footer-social-icons.nav.justify-content-center.justify-content-md-end
                                                          img(src='/images/photos/FIT_Entiteitslogo_op1lijn_EN.jpg', style='height:20px;', alt='White Logo')
                                                          a.trio-tooltip(href='https://www.facebook.com/Kattenheye/', target='_blank', data-tippy-content='Facebook')
                                                            i.fab.fa-facebook
                                                          a.trio-tooltip(href='https://www.youtube.com/channel/UCmcRkSKhY2xLegBfQPtKC4Q?view_as=subscriber', target='_blank', data-tippy-content='Youtube')
                                                            i.fab.fa-youtube
      aside.off-canvas-area-wrapper
        // Off Canvas Overlay
        .off-canvas-overlay
        // Start Off Canvas Content Area
        .off-canvas-content-wrap
          .off-canvas-content
            // Start Search Box Wrap
            //- .search-box-wrap.off-canvas-item
            //-   form(action='#', method='post')
            //-     input(type='search', placeholder='Search..')
            //-     button.btn-search
            //-       i.fa.fa-search
            // Start About Content Wrap
            .about-content.off-canvas-item
              h2= __("Who We Are")
              p
                = __("OverOnsText")
            // Start Useful Links Content
            .useful-link-wrap.off-canvas-item
              h2= __("Links")
              ul.useful-link-menu
                li
                  a(href='/') Home
                li
                  a(href=`/${locale}/news`)= __("News")
                li
                  a(href=`/${locale}/forsale`)= __("For Sale")
                li
                  a(href=`/${locale}/references`)= __("References")
                li
                  a(href=`/${locale}/contact`)= __("Contact")
            // Start Social Links Content
            .social-links-wrap.off-canvas-item
              h2= __("Connect")
              .social-links
                a.trio-tooltip(href='https://www.facebook.com/Kattenheye/', data-tippy-content='Facebook')
                  i.fab.fa-facebook
                a.trio-tooltip(href='https://www.youtube.com/channel/UCmcRkSKhY2xLegBfQPtKC4Q', data-tippy-content='YouTube')
                  i.fab.fa-youtube
          // Off Canvas Close Icon
          button.btn-close.trio-tooltip(data-tippy-content='Close', data-tippy-placement='left')
            i.fa.fa-close
        // End Off Canvas Content Area
      aside.off-canvas-responsive-menu
        // Off Canvas Overlay
        .off-canvas-overlay
        // Start Off Canvas Content Area
        .off-canvas-content-wrap
          .off-canvas-content
            .slicknav_menu
              a.slicknav_btn.slicknav_collapsed(href='#', aria-haspopup='true', role='button', tabindex='0', style='outline: none;')
                span.slicknav_menutxt MENU
                span.slicknav_icon
                  span.slicknav_icon-bar
                  span.slicknav_icon-bar
                  span.slicknav_icon-bar
              //- ul.slicknav_nav.slicknav_hidden(aria-hidden='true', role='menu', style='display: none;')
                li.slicknav_collapsed.slicknav_parent
                  a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                  a(href='index.html', tabindex='-1') Home
                  span.slicknav_arrow
                    i.fa.fa-angle-down
                  ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Home Group 01
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='index.html', role='menuitem', tabindex='-1') Classic Agency
                        li
                          a(href='index-corporate.html', role='menuitem', tabindex='-1') Corporate
                        li
                          a(href='index-shop-classic.html', role='menuitem', tabindex='-1') Shop Classic
                        li
                          a(href='index-shop-creative.html', role='menuitem', tabindex='-1') Shop Creative
                        li
                          a(href='index-classic-blog.html', role='menuitem', tabindex='-1') Classic Blog
                        li
                          a(href='index-creative-agency.html', role='menuitem', tabindex='-1') Creative Agency
                        li
                          a(href='index-showcase.html', role='menuitem', tabindex='-1') Showcase
                        li
                          a(href='index-architecture.html', role='menuitem', tabindex='-1') Architecture
                        li
                          a(href='index-event.html', role='menuitem', tabindex='-1') Event
                        li
                          a(href='index-modern-studio.html', role='menuitem', tabindex='-1') Modern Studio
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Home Group 02
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='index-restaurant.html', role='menuitem', tabindex='-1') Restaurant
                        li
                          a(href='index-business.html', role='menuitem', tabindex='-1') Business
                        li
                          a(href='index-startup.html', role='menuitem', tabindex='-1') Startup
                        li
                          a(href='index-baber.html', role='menuitem', tabindex='-1') Baber
                        li
                          a(href='index-marketing.html', role='menuitem', tabindex='-1') Marketing
                        li
                          a(href='index-artist.html', role='menuitem', tabindex='-1') Artist
                        li
                          a(href='index-help.html', role='menuitem', tabindex='-1') Help
                        li
                          a(href='index-creative-studio.html', role='menuitem', tabindex='-1') Creative Studio
                        li
                          a(href='index-fashion.html', role='menuitem', tabindex='-1') Fashion
                        li
                          a(href='index-landing-page.html', role='menuitem', tabindex='-1') Landing page
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Home Group 03
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='index-blog-metro.html', role='menuitem', tabindex='-1') Blog Metro
                        li
                          a(href='index-portfolio-right.html', role='menuitem', tabindex='-1') Portfolio Right Side
                        li
                          a(href='index-portfolio-agency.html', role='menuitem', tabindex='-1') Portfolio Agency
                        li
                          a(href='index-creative-freelancer.html', role='menuitem', tabindex='-1') Creative Freelancer
                        li
                          a(href='index-portfolio-metro.html', role='menuitem', tabindex='-1') Portfolio Metro
                        li
                          a(href='index-vcard.html', role='menuitem', tabindex='-1') Vcard
                        li
                          a(href='index-parallax.html', role='menuitem', tabindex='-1') Parallax
                        li
                          a(href='index-videography.html', role='menuitem', tabindex='-1') Videography
                        li
                          a(href='index-photography.html', role='menuitem', tabindex='-1') Photography
                li.slicknav_collapsed.slicknav_parent
                  a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                  a(href='#', tabindex='-1') Pages
                  span.slicknav_arrow
                    i.fa.fa-angle-down
                  ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') About Us
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='about-modern.html', role='menuitem', tabindex='-1') About Us - Modern
                        li
                          a(href='about-modern-2.html', role='menuitem', tabindex='-1') About Us - Modern 2
                        li
                          a(href='about-modern-3.html', role='menuitem', tabindex='-1') About Us - Modern 3
                        li
                          a(href='about-creative.html', role='menuitem', tabindex='-1') About Us - Creative
                        li
                          a(href='about.html', role='menuitem', tabindex='-1') About Us - Simple
                        li
                          a(href='about-me.html', role='menuitem', tabindex='-1') About Me
                        li
                          a(href='about-me-2.html', role='menuitem', tabindex='-1') About Me 2
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Our Services
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='services.html', role='menuitem', tabindex='-1') Services - Simple
                        li
                          a(href='services-creative.html', role='menuitem', tabindex='-1') Services - Creative
                        li
                          a(href='services-left-side.html', role='menuitem', tabindex='-1') Services - Left Side
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Our Team
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='team.html', role='menuitem', tabindex='-1') Team 01
                        li
                          a(href='team-2.html', role='menuitem', tabindex='-1') Team 02
                        li
                          a(href='team-3.html', role='menuitem', tabindex='-1') Team 03
                        li
                          a(href='team-4.html', role='menuitem', tabindex='-1') Team 04
                        li
                          a(href='team-5.html', role='menuitem', tabindex='-1') Team 05
                        li
                          a(href='team-member.html', role='menuitem', tabindex='-1') Team Member
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Contact
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='contact.html', role='menuitem', tabindex='-1') Contact - Simple
                        li
                          a(href='contact-modern.html', role='menuitem', tabindex='-1') Contact - Modern
                        li
                          a(href='contact-creative.html', role='menuitem', tabindex='-1') Contact - Creative
                        li
                          a(href='contact-minimal.html', role='menuitem', tabindex='-1') Contact - Minimal
                        li
                          a(href='contact-left-side.html', role='menuitem', tabindex='-1') Contact - Left Side
                    li
                      a(href='pricing.html', role='menuitem', tabindex='-1') Pricing
                    li
                      a(href='faq.html', role='menuitem', tabindex='-1') Faq
                    li
                      a(href='partner.html', role='menuitem', tabindex='-1') Partners
                    li
                      a(href='404.html', role='menuitem', tabindex='-1') 404
                    li
                      a(href='coming-soon.html', role='menuitem', tabindex='-1') Coming Soon
                    li
                      a(href='typography.html', role='menuitem', tabindex='-1') Typography
                li.slicknav_collapsed.slicknav_parent
                  a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                  a(href='shop.html', tabindex='-1') Shop
                  span.slicknav_arrow
                    i.fa.fa-angle-down
                  ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                    li
                      a(href='shop.html', role='menuitem', tabindex='-1') Product Page
                    li
                      a(href='single-product.html', role='menuitem', tabindex='-1') Product Details
                    li
                      a(href='cart.html', role='menuitem', tabindex='-1') Shopping Cart
                    li
                      a(href='checkout.html', role='menuitem', tabindex='-1') Checkout
                    li
                      a(href='wishlist.html', role='menuitem', tabindex='-1') Wishlist
                li.slicknav_collapsed.slicknav_parent
                  a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                  a(href='blog.html', tabindex='-1') Blog
                  span.slicknav_arrow
                    i.fa.fa-angle-down
                  ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Blog Basic
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='blog.html', role='menuitem', tabindex='-1') Basic – Column No Sidebar
                        li
                          a(href='blog-basic-column-left-sidebar.html', role='menuitem', tabindex='-1') Basic – Column Left Sidebar
                        li
                          a(href='blog-basic-column-right-sidebar.html', role='menuitem', tabindex='-1') Basic – Column Right Sidebar
                        li
                          a(href='blog-basic-list-no-sidebar.html', role='menuitem', tabindex='-1') Basic – List No Sidebar
                        li
                          a(href='blog-basic-list-left-sidebar.html', role='menuitem', tabindex='-1') Basic – List Left Sidebar
                        li
                          a(href='blog-basic-list-right-sidebar.html', role='menuitem', tabindex='-1') Basic – List Right Sidebar
                        li
                          a(href='blog-basic-split-no-sidebar.html', role='menuitem', tabindex='-1') Basic – Split No Sidebar
                        li
                          a(href='blog-basic-split-left-sidebar.html', role='menuitem', tabindex='-1') Basic – Split Left Sidebar
                        li
                          a(href='blog-basic-split-right-sidebar.html', role='menuitem', tabindex='-1') Basic – Split Right Sidebar
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Blog Classic
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='blog-classic.html', role='menuitem', tabindex='-1') Classic – No Sidebar
                        li
                          a(href='blog-classic-left-sidebar.html', role='menuitem', tabindex='-1') Classic – Left Sidebar
                        li
                          a(href='blog-classic-right-sidebar.html', role='menuitem', tabindex='-1') Classic – Right Sidebar
                        li
                          a(href='blog-mix-big-post-then-split.html', role='menuitem', tabindex='-1') Mix – Big Post Then Split
                        li
                          a(href='blog-mix-big-post-then-list.html', role='menuitem', tabindex='-1') Mix – Big Post Then List
                        li
                          a(href='blog-mix-big-post-then-column.html', role='menuitem', tabindex='-1') Mix – Big Post Then Column
                        li
                          a(href='blog-mix-big-post-then-column-no-sidebar.html', role='menuitem', tabindex='-1') Mix – Big Post Column (No Sidebar)
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Blog Masonry
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='blog-masonry-full-width-4-column.html', role='menuitem', tabindex='-1') Masonry – Fullwidth 4 Columns
                        li
                          a(href='blog-masonry-full-width-3-column.html', role='menuitem', tabindex='-1') Masonry – Fullwidth 3 Columns
                        li
                          a(href='blog-masonry-left-sidebar.html', role='menuitem', tabindex='-1') Masonry – Left Sidebar
                        li
                          a(href='blog-masonry-right-sidebar.html', role='menuitem', tabindex='-1') Masonry – Right Sidebar
                        li
                          a(href='blog-masonry-no-sidebar.html', role='menuitem', tabindex='-1') Masonry – No Sidebar
                        li
                          a(href='blog-mix-big-post-then-list-no-sidebar.html', role='menuitem', tabindex='-1') Mix – Big Post Then List (No Sidebar)
                        li
                          a(href='blog-mix-big-post-then-split-no-sidebar.html', role='menuitem', tabindex='-1') Mix – Big Post Then Split (No Sidebar)
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Blog Details
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='blog-details.html', role='menuitem', tabindex='-1') Blog Details
                        li
                          a(href='blog-details-gallery.html', role='menuitem', tabindex='-1') Blog Details – Gallery
                        li
                          a(href='blog-details-video.html', role='menuitem', tabindex='-1') Blog Details – Video
                        li
                          a(href='blog-details-audio.html', role='menuitem', tabindex='-1') Blog Details – Audio
                        li
                          a(href='blog-details-quote.html', role='menuitem', tabindex='-1') Blog Details – Quote
                        li
                          a(href='blog-details-left-sidebar.html', role='menuitem', tabindex='-1') Blog Details Left Sidebar
                        li
                          a(href='blog-details-no-sidebar.html', role='menuitem', tabindex='-1') Blog Details No Sidebar
                li.slicknav_collapsed.slicknav_parent
                  a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                  a(href='portfolio.html', tabindex='-1') Portfolio
                  span.slicknav_arrow
                    i.fa.fa-angle-down
                  ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Portfolio Masonry
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='portfolio-fullwidth-masonry-style-1.html', role='menuitem', tabindex='-1') Fullwidth Masonry Style 1
                        li
                          a(href='portfolio-fullwidth-masonry-style-2.html', role='menuitem', tabindex='-1') Fullwidth Masonry Style 2
                        li
                          a(href='portfolio-fullwidth-masonry-style-3.html', role='menuitem', tabindex='-1') Fullwidth Masonry Style 3
                        li
                          a(href='portfolio-fullwidth-2-column.html', role='menuitem', tabindex='-1') Fullwidth – 2 Columns
                        li
                          a(href='portfolio-fullwidth-3-column.html', role='menuitem', tabindex='-1') Fullwidth – 3 Columns
                        li
                          a(href='portfolio.html', role='menuitem', tabindex='-1') Fullwidth – 4 Columns
                        li
                          a(href='portfolio-modern-masonry-2-column.html', role='menuitem', tabindex='-1') Modern Masonry – 2 Columns
                        li
                          a(href='portfolio-modern-masonry-3-column.html', role='menuitem', tabindex='-1') Modern Masonry – 3 Columns
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Portfolio Basic
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='portfolio-modern-masonry-4-column.html', role='menuitem', tabindex='-1') Modern Masonry – 4 Columns
                        li
                          a(href='portfolio-basic-title-2-column.html', role='menuitem', tabindex='-1') Basic w Tittle – 2 Columns
                        li
                          a(href='portfolio-basic-title-3-column.html', role='menuitem', tabindex='-1') Basic w Tittle – 3 Columns
                        li
                          a(href='portfolio-basic-title-4-column.html', role='menuitem', tabindex='-1') Basic w Tittle – 4 Columns
                        li
                          a(href='portfolio-basic-2-column.html', role='menuitem', tabindex='-1') Basic – 2 Columns
                        li
                          a(href='portfolio-basic-3-column.html', role='menuitem', tabindex='-1') Basic – 3 Columns
                        li
                          a(href='portfolio-basic-4-column.html', role='menuitem', tabindex='-1') Basic – 4 Columns
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Creative Modern
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='portfolio-creative-1.html', role='menuitem', tabindex='-1') Creative Style 1
                        li
                          a(href='portfolio-creative-2.html', role='menuitem', tabindex='-1') Creative Style 2
                        li
                          a(href='portfolio-creative-3.html', role='menuitem', tabindex='-1') Creative Style 3
                        li
                          a(href='portfolio-creative-4.html', role='menuitem', tabindex='-1') Creative Style 4
                        li
                          a(href='portfolio-modern-4-column.html', role='menuitem', tabindex='-1') Modern – 4 Columns
                        li
                          a(href='portfolio-modern-3-column.html', role='menuitem', tabindex='-1') Modern – 3 Columns
                        li
                          a(href='portfolio-modern-2-column.html', role='menuitem', tabindex='-1') Modern – 2 Columns
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Portfolio Details
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='portfolio-details.html', role='menuitem', tabindex='-1') Portfolio Details
                        li
                          a(href='portfolio-details-2.html', role='menuitem', tabindex='-1') Portfolio Details 2
                        li
                          a(href='portfolio-details-3.html', role='menuitem', tabindex='-1') Portfolio Details 3
                        li
                          a(href='portfolio-details-4.html', role='menuitem', tabindex='-1') Portfolio Details 4
                        li
                          a(href='portfolio-details-5.html', role='menuitem', tabindex='-1') Portfolio Details 5
                        li
                          a(href='portfolio-details-6.html', role='menuitem', tabindex='-1') Portfolio Details 6
                        li
                          a(href='portfolio-details-7.html', role='menuitem', tabindex='-1') Portfolio Details 7
                li.slicknav_collapsed.slicknav_parent
                  a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                  a(href='#', tabindex='-1') elements
                  span.slicknav_arrow
                    i.fa.fa-angle-down
                  ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Elements Group 01
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='element-gallery-box.html', role='menuitem', tabindex='-1') Gallery Boxes
                        li
                          a(href='element-heading-column.html', role='menuitem', tabindex='-1') Headings & Columns
                        li
                          a(href='element-icon-box.html', role='menuitem', tabindex='-1') Icon Boxes
                        li
                          a(href='element-latest-post.html', role='menuitem', tabindex='-1') Latest Post
                        li
                          a(href='element-latest-portfolios.html', role='menuitem', tabindex='-1') Latest Portfolios
                        li
                          a(href='element-team-member.html', role='menuitem', tabindex='-1') Team Member
                        li
                          a(href='element-testimonial-quote.html', role='menuitem', tabindex='-1') Testimonial & Quotes
                        li
                          a(href='element-progress-bar.html', role='menuitem', tabindex='-1') Progress Bar
                        li
                          a(href='element-carousel.html', role='menuitem', tabindex='-1') Brand Carousel
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Elements Group 02
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='element-pricing-table.html', role='menuitem', tabindex='-1') Pricing Table
                        li
                          a(href='element-pie-cart.html', role='menuitem', tabindex='-1') Pie Chart
                        li
                          a(href='element-tabs-highlights.html', role='menuitem', tabindex='-1') Tabs & Highlights
                        li
                          a(href='element-counters.html', role='menuitem', tabindex='-1') Counters
                        li
                          a(href='element-dropcaps.html', role='menuitem', tabindex='-1') Dropcaps
                        li
                          a(href='element-list.html', role='menuitem', tabindex='-1') List
                        li
                          a(href='element-accordion.html', role='menuitem', tabindex='-1') Accordion
                        li
                          a(href='element-alert.html', role='menuitem', tabindex='-1') Alert
                        li
                          a(href='element-contact-form.html', role='menuitem', tabindex='-1') Contact Form
                    li.slicknav_collapsed.slicknav_parent
                      a.slicknav_item.slicknav_row(href='#', role='menuitem', aria-haspopup='true', tabindex='-1', style='outline: none;')
                      a(href='#', tabindex='-1') Elements Group 03
                      span.slicknav_arrow
                        i.fa.fa-angle-down
                      ul.slicknav_hidden(role='menu', aria-hidden='true', style='display: none;')
                        li
                          a(href='element-map.html', role='menuitem', tabindex='-1') Map
                        li
                          a(href='element-button.html', role='menuitem', tabindex='-1') Buttons
                        li
                          a(href='element-call-out.html', role='menuitem', tabindex='-1') Call Out
          // Off Canvas Close Icon
          button.btn-close.trio-tooltip(data-tippy-content='Close', data-tippy-placement='right')
            i.fa.fa-close
        // End Off Canvas Content Area


    block scripts
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&libraries=places`)
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      // === All Vendor Js ===
      script(src='/dist/assets/js/vendor.js')
      // === All Plugins Js ===
      script(src='/dist/assets/js/plugins.js')
      // === Active Js ===
      script(src='/dist/assets/js/active.min.js')
      // === Revolution Slider Js ===
      script(src='/dist/assets/js/revslider/jquery.themepunch.tools.min.js')
      script(src='/dist/assets/js/revslider/jquery.themepunch.revolution.min.js')
      // SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading)
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.actions.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.carousel.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.kenburn.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.layeranimation.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.migration.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.navigation.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.parallax.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.slideanims.min.js')
      script(src='/dist/assets/js/revslider/extensions/revolution.extension.video.min.js')
      script(src='/dist/assets/js/revslider/revslider-active.js')