extends layout

include mixins/_loginForm
include mixins/_forgot

block content
    section#contact.opt(style="margin-top:12vh;")
      .container.page-block.text-center.wow.fadeInUp(data-wow-duration='0.50s', data-wow-delay='0.50s')
        h3.prime= i18n.__("Log In")
        +loginForm()
        +forgotForm()

