extends layout

block content
    .small-header
      h4.small-header-img(style="color:#98878f;min-height: 20vh;line-height: 20vh;font-size:3rem !important;") #{mare.birthname}
    .stallions-individual.justify-content-md-center
      .col-md-9.stallion__action(style="margin-left:auto;margin-right:auto;")
                if user && mare.owner.equals(user._id)
                    .offset-md-8.stallion__action--edit(style="vertical-align:middle !important;margin-right:10px !important;")
                        a(href=`/mares/${mare._id}/edit`)
                            != h.icon('pencil')
                if !user
                  .offset-md-8.stallion__action-edit
                    div.addthis_inline_share_toolbox
                else
                  .stallion__action-edit
                    div.addthis_inline_share_toolbox
      .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;")
        //
          <div class="row">
          <div class="col-md-7 offset-md-5"><h3 class="title">Pedigree</h3></div>
          </div>
        .row
          .col-md-5
            #carousel-custom.carousel.slide(data-ride="carousel")
              // Wrapper for slides
              .carousel-inner(style="height:325px;max-height:325px;")
                .carousel-item.active
                  img(src=`/uploads/${mare.file[0] || 'mare.png'}` onerror="this.src = '../images/icons/favicon.png';" alt=`${mare.birthname}` style="max-height: 100%;width: auto;margin-left: auto;margin-right: auto;max-width:100%;")
                if mare.file>1
                  -for (var j=1; j < mare.file.length; j++)
                  for file in mare.file
                    .carousel-item
                     img(src=`/uploads/${mare.file[j] || 'mare.png'}` alt=`${mare.birthname}` style="max-height: 100%;width: auto;margin-left: auto;margin-right: auto;max-width:100%;")
                //- for offspring, m in mare.fileOffspring
                //-   .carousel-item
                //-    img(src=`/uploads/${mare.fileOffspring[m] || 'mare.png'}` alt=`${mare.birthname}` style="max-height: 100%;width: auto;margin-left: auto;margin-right: auto;max-width:100%;")
                // Controls
                a.left.carousel-control(href="#carousel-custom" data-slide="prev")
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href="#carousel-custom" data-slide="next")
                  span.glyphicon.glyphicon-chevron-right
              // Indicators
              ol.carousel-indicators
                li.active(data-target="#carousel-custom" data-slide-to="0")
                  img(src=`/uploads/${mare.file[0] || 'mare.png'}` alt="" style="max-height:50px;")
                -for (var j=1; j < mare.file.length; j++)
                for file in mare.file
                  li(data-target="#carousel-custom" data-slide-to="1")
                    img(src=`/uploads/${mare.file[j] || 'mare.png'}` alt="" style="max-height:50px;")
                //- for offspring, m in mare.fileOffspring
                //-   li(data-target="#carousel-custom" data-slide-to=m)
                //-    img(src=`/uploads/${mare.fileOffspring[m] || 'mare.png'}` alt=`${mare.birthname}` style="max-height:50px;")

          .col-md-7
            .pedigree.row.justify-content-md-center.d-flex.align-items-center(style="height:350px!important;")
              .col-md-12(style="margin-top:20px;")
                table#pedigree(border="0" cellpadding="0" cellspacing="0" style="width:100%;box-shadow: 0 0 10px rgba(0,0,0,0.1);")
                  tbody
                    tr
                      td(rowspan="8" style="border-bottom:2px solid #192230;color: #414141;font-weight: 550;") #{mare.sire}
                      td(rowspan="4" style="color: #414141;font-weight: 550;") #{mare.siresire}
                      td(rowspan="2" style="color: #414141;font-weight: 550;") #{mare.siresiresire}
                    tr
                    tr
                      td(rowspan="2") #{mare.siresiredam}
                    tr
                    tr
                      td(width="25%" rowspan="4" style="border-bottom:2px solid #192230") #{mare.siredam}
                      td(width="25%" rowspan="2" style="color: #414141;font-weight: 550;") #{mare.siredamsire}
                    tr
                    tr
                      td(width="25%" rowspan="2" style="border-bottom:2px solid #192230") #{mare.siredamdam}
                    tr
                    tr
                      td(width="25%" rowspan="8") #{mare.dam}
                      td(width="25%" rowspan="4" style="color: #414141;font-weight: 550;") #{mare.damsire}
                      td(width="25%" rowspan="2" style="color: #414141;font-weight: 550;") #{mare.damsiresire}
                    tr
                    tr
                      td(width="25%" rowspan="2") #{mare.damsiredam}
                    tr
                    tr
                      td(width="25%" rowspan="4") #{mare.damdam}
                      td(width="25%" rowspan="2" style="color: #414141;font-weight: 550;") #{mare.damdamsire}
                    tr
                    tr
                      td(width="25%" rowspan="2") #{mare.damdamdam}
                    tr
        .row
          .col-md-5
            h3.title(style="margin-left:20px;")= i18n.__("Facts")
          .col-md-7
            h3.title= i18n.__("Description")
        .row
          .col-md-5
            .stallion-info(style="margin-top:0%;")
              .stallion-text
                p.left-key= i18n.__("Birthname")
                p.right-value #{mare.birthname}
                div(style="clear: both;")
              if mare.sportname!==""
                .stallion-text
                  p.left-key= i18n.__("Sportname")
                  p.right-value #{mare.sportname}
                  div(style="clear: both;")
              if mare.height!==""
                .stallion-text
                  p.left-key= i18n.__("Height")
                  p.right-value #{mare.height} cm
                  div(style="clear: both;")
              if mare.breeder!==""
                .stallion-text
                  p.left-key= i18n.__("Breeder")
                  p.right-value #{mare.breeder}
              .stallion-text
                p.left-key= i18n.__("Date Of Birth")
                p.right-value= h.moment(mare.dateOfBirth).format('DD/MM/YYYY')
                div(style="clear: both;")
              if mare.color!==""
                .stallion-text
                  p.left-key= i18n.__("Color")
                  p.right-value #{mare.color}
              if mare.level!==0
                .stallion-text
                  p.left-key= i18n.__("Level")
                  p.right-value= `${Number(mare.level).toFixed(2)} m`
                  div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Studbook")
                p.right-value #{mare.studbook}
                div(style="clear: both;")
              if mare.wffs!==""
                .stallion-text
                  p.left-key= i18n.__("WFFS")
                  p.right-value #{mare.wffs}
                  div(style="clear: both;")
              if mare.redfactor!==""
                .stallion-text
                  p.left-key= i18n.__("Red Factor")
                  p.right-value #{mare.redfactor}
                  div(style="clear: both;")
              if mare.category.length>0
                .stallion-text
                  p.left-key= i18n.__("Category")
                  p.right-value
                    each category in mare.category
                      | #{category}
                      br
                div(style="clear: both;")
              if mare.xxox!==null
                .stallion-text
                  p.left-key= i18n.__("xxox")
                  p.right-value #{mare.xxox} %
                  div(style="clear: both;")
              if mare.labels!==""
                .stallion-text
                  p.left-key= i18n.__("Labels")
                  p.right-value= mare.labels
                  div(style="clear: both;")
              if mare.damline!==""
                .stallion-text
                  p.left-key= i18n.__("Dam line")
                  p.right-value= mare.damline
                  div(style="clear: both;")  
          .col-md-7
            p(style="text-align: justify;color:#414141;")= mare.description
            .row
              .col-md-6
                h3.title2= i18n.__("Results")
                ul.results
                    each result in mare.result
                        li #{result}
              .col-md-6
                h3.title2= i18n.__("Offspring")
                ul.results
                    each offspring in mare.offspring
                        li #{offspring}
            .row
              .col-md-6
                a.btn-brand(target="_blank" href=mare.feilink)= i18n.__("More Results")
              .col-md-6
                a.btn-pink(href=".././contact")= i18n.__("Coming Soon")
        if mare.youtube.length>=1 && mare.youtube[0]!==""
          .container-fluid(style="max-width:100%!important;padding-right:0px!important;margin-bottom:75px;")
            h3.title= i18n.__("Videos")
            if mare.youtube.length==1
              .row.justify-content-between
                .col-md-12(style="display:inline-block;")
                 iframe(width='100%', height='500', src=`${mare.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            else if mare.youtube.length==2
              .row.justify-content-between
                .col-md-6(style="display:inline-block")
                 iframe(width='100%', height='325' src=`${mare.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-6(style="display:inline-block;")
                 iframe(width='100%', height='325', src=`${mare.youtube[1]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            else if mare.youtube.length==3
              .row.justify-content-between
                .col-md-4(style="display:inline-block")
                  iframe(width='100%', height='325' src=`${mare.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-4(style="display:inline-block;")
                  iframe(width='100%', height='325', src=`${mare.youtube[1]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-4(style="display:inline-block;")
                  iframe(width='100%', height='325', src=`${mare.youtube[2]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            else if mare.youtube.length>=3
              .row.justify-content-between
                .col-md-4(style="display:inline-block")
                  iframe(width='100%', height='325' src=`${mare.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-4(style="display:inline-block;")
                  iframe(width='100%', height='325', src=`${mare.youtube[1]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-4(style="display:inline-block;")
                  iframe(width='100%', height='325', src=`${mare.youtube[2]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        if mare.fileOffspring.length>0
          .container-fluid(style="max-width:100%!important;padding-right:0px!important;margin-top:10px;")
            h3.title= i18n.__("Pictures Offspring")
            if mare.fileOffspring.length>=5
              #carouselOffspring.carousel.slide(data-ride='carousel', data-interval='9000')
                .carousel-inner.test.row.w-100.mx-auto(role='listbox')
                  each file, i in mare.fileOffspring 
                    if mare.fileOffspring[i]==mare.fileOffspring[0]        
                      .carousel-item.count.col-md-3.active
                        img.img-fluid.mx-auto.d-block(src=`/uploads/${mare.fileOffspring[i] || 'mare.png'}`, alt=mare.slug)
                    else
                      .carousel-item.count.col-md-3
                        img.img-fluid.mx-auto.d-block(src=`/uploads/${mare.fileOffspring[i] || 'mare.png'}`, alt=mare.slug)
                a.carousel-control-prev(href='#carouselOffspring', role='button', data-slide='prev')
                      i.fa.fa-chevron-left.fa-lg.text-muted
                      span.sr-only Previous
                a.carousel-control-next.text-faded(href='#carouselOffspring', role='button', data-slide='next')
                      i.fa.fa-chevron-right.fa-lg.text-muted
                      span.sr-only Next
            else
              .row.justify-content-between
                each file, j in mare.fileOffspring
                  if mare.fileOffspring.length==1
                    .col-md-12
                      img.stallion-img(src=`/uploads/${mare.fileOffspring[j] || 'mare.png'}`, alt=mare.slug)
                  else if mare.fileOffspring.length==2
                    .col-md-6
                      img.stallion-img(src=`/uploads/${mare.fileOffspring[j] || 'mare.png'}`, alt=mare.slug)
                  else if mare.fileOffspring.length==3
                    .col-md-4
                      img.stallion-img(src=`/uploads/${mare.fileOffspring[j] || 'mare.png'}`, alt=mare.slug)
                  else
                    .col-md-3
                      img.stallion-img(src=`/uploads/${mare.fileOffspring[j] || 'mare.png'}`, alt=mare.slug)


              //- - const groupBy3 = arr => arr.reduce((acc, item) => {
              //- -    let last = acc[acc.length - 1]
              //- -    if(last.length === 3) {
              //- -      acc.push(last = []);
              //- -    }
              //- -    last.push(item)
              //- -    return acc;
              //- - }, [[]])

              //- each group in groupBy3(mare.fileOffspring)
              //-   .row
              //-     each item in group
              //-       .col-md-3
              //-         .well
              //-           img(src=mare.fileOffspring)

        .row
            h3.title(style="margin-left:auto;")= `${i18n.__("Last updated")} ${h.moment(mare.updated).format('DD/MM/YYYY')}`
        //- .row
        //-   h3 Distribution Points
        //- .row
        //-   -let result = [];
        //-   each vet in vets
        //-     -for (var j=0; j < vet.stallionlist.length; j++)
        //-       if mare._id.equals(vet.stallionlist[j])
        //-         = vet.location.address
        //-         br
        //-         -result.push(vet.name, vet.location.coordinates)
        //- img(style="width:100%;height:300PX;" src=h.staticMap(mare.location.coordinates)) 
      if mare.location.address!==""
        #mapmare(style="width:100%;height:300PX;")= i18n.__("Loading")
    //.stallions-individual.justify-content-md-center  
      .stallions-page.col-md-9(style="margin-left:auto;margin-right:auto;margin-top:0;")


block scripts
      script(src="https://code.jquery.com/jquery-3.1.1.slim.js")
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      script.
        function checkScroll(){
        var startY = $('.navbar').height() * 5; //The point where the navbar changes in px
        if($(window).scrollTop() > startY){
        $('.navbar').addClass("bg-blue");
        }else{
        $('.navbar').removeClass("bg-blue");
        }
        }
        if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
        checkScroll();
        });
        }
      script.
        //- function initMap() {
        //-   var myLatLng = {lat: Number(`#{mare.location.coordinates[1]}`), lng: Number(`#{mare.location.coordinates[0]}`)};
        //-   console.log(myLatLng);
          
        //-   var map = new google.maps.Map(document.getElementById('mapmare'), {
        //-     zoom: 10,
        //-     center: myLatLng
        //-   });


        //-   var image = '/images/icons/marker.png';
        //-   var beachMarker = new google.maps.Marker({
        //-   position: myLatLng,
        //-   map: map,
        //-   icon: image
        //- });
        //- }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('mapmare'), {
              zoom: 8,
              center: {lat: Number(`#{mare.location.coordinates[1]}`), lng: Number(`#{mare.location.coordinates[0]}`)}
            });

            setStallionMarkers(map);
          }


          function setStallionMarkers(map) {
              // Adds markers to the map.
              var image = '/images/icons/marker.png';

              var myLatLng = {lat: Number(`#{mare.location.coordinates[1]}`), lng: Number(`#{mare.location.coordinates[0]}`)};
              console.log(myLatLng);
          
              var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
              });
                  
                };
              
            
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)
      script.
            $('#carouselOffspring').on('slide.bs.carousel', function (e) {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 4;
                var totalItems = $('.count').length;
                
                if (idx >= totalItems-(itemsPerSlide-1)) {
                    var it = itemsPerSlide - (totalItems - idx);
                    for (var i=0; i<it; i++) {
                        // append slides to end
                        if (e.direction=="left") {
                            $('.count').eq(i).appendTo('.test');
                        }
                        else {
                            $('.count').eq(0).appendTo('.test');
                        }
                    }
                }
              });