extends layout

include mixins/_orderSemenForm

block content
    .small-header
      img.small-header-img(src=`/images/photos/LogoFull-DarkBG.png`)
    .stallion-add.container-fluid
      h2(style="padding-bottom:4%;")= i18n.__(title)
      +orderSemenForm(stallion)