extends layout

include mixins/_orderOverview

block content
    .small-header
      img.small-header-img(src=`/images/photos/LogoFull-DarkBG.png`)
    .stallion-add.container-fluid
      h2= title
      h5(style="padding-bottom:4%;") Ordernumber #{order._id}
      +orderOverview(order)
