extends layout

block content
    // == Start Page Content Wrapper ==
    .page-wrapper
    // == Start Service Hero Area ==
    section.about-hero-area.fixed-heightB.parallaxBg.bg-img(data-bg='/uploads/staldrone.jpg')
        .container.h-100
            .row.align-items-center.h-100
                .col-lg-11.text-center.m-auto
                    .about-us-content.white.mt-sm-70.mt-md-70
                        h2= __("Opfok")
                        p.paragraph-width
                        |   Laat uw veulen opgroeien in de luxueze weide's van Laarne
    // == End Service Hero Area ==
    // == Start Our Services Area ==
    section.our-services-wrapper.mt-120.mt-md-80.mt-sm-60.mb-110.mb-md-70.mb-sm-50
        .container
            .row.mtm-30
                // Start Single Service Item
                .col-sm-12.col-lg-12
                    .service-item-wrap
                        .single-desc-item-wrap.mt-24
                        h3.mb-20 Opfok
                        div(style="text-align:justify;")
                            p(style="text-align:justify;") Klanten die een veulentje bij ons aankopen bieden wij ook de mogelijkheid om deze bij ons op te laten groeien. Om uw nieuwe toekomstige kampioenen in de beste omstandigheden groot te brengen, voorzien we alle verblijfsmodaliteiten voor uw paard zoals: stallen, voederen, ontwormen en vaccineren. 
                            br
                            p(style="text-align:justify;") Daarnaast houden we continu toezicht op een uitgebalanceerde voeding van de paarden inclusief vaccinaties, driemaandelijks bezoek van onze smid of zelfs de eerste stappen op een trailer/ vrachtwagen in de beste omstandigheden.
                            br
                            p(style="text-align:justify;") Geclassificeerd op basis van leeftijd en geslacht kunnen de paarden iedere dag buiten bewegen. Zelfs in de winter kunnen ze met hun speelkameraden actief blijven. Dit komt de fysieke en mentale kracht van het paard volledig ten goede. Dankzij de dagelijkse omgang, raken ze gewend aan menselijke interactie, worden ze fysiek gecontroleerd op mogelijke blessures en profiteren ze natuurlijk van een goede nachtrust in hun individuele boxen.

                // End Single Service Item

    // == End Our Services Area ==
    // == Start Our Services Feature Area ==
    // section.our-services-feature-area.bg-offwhite.pt-60.pt-md-66.pt-sm-46.pb-98.pb-md-60.pb-sm-40
        .container
            .row
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-shield-alt
                        .feature-info
                            h3 Eigen zadelkastje
                            p
                                | Berg uw spullen veilig op (slot niet inbegrepen)
                        // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-mug-hot
                        .feature-info
                            h3 Drankautomaat & WC
                            p
                                | Geniet ten alle tijden van een drankje of ga rustig naar de wc
                        // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-sun
                        .feature-info
                            h3 Mooie buitenpiste
                            p
                                | Rijd of longeer uw paard in onze buitenpiste van 40m x 20m
                    // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-cloud-showers-heavy
                        .feature-info
                            h3 Nieuwe binnenpiste
                            p
                                | Regen of sneeuw vormt geen enkel probleem dankzij onze binnenpiste van 42m x 20m
                    // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-sync
                        .feature-info
                            h3 Longeercirkel & stapmolen
                            p
                                | Longeer uw paard in onze aparte longeercirkel of zet hem aan het werk in onze stapmolen.
                    // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-parking
                        .feature-info
                            h3 Parkeerruimte
                            p
                                | Plaats bij ons uw trailer of menkarretje voor 15 euro/maand buiten of voor 50 euro/maand overdekt.
                    // End Single Services Feature
        // == End Our Services Feature Area ==
    // == End Page Content Wrapper ==
