extends layout

block content
    .small-header
      .contact-container
        h4= i18n.__("Sign up")
        h3= i18n.__("SignText")
        .card.col-md-8(style="margin-left: auto;margin-right:auto;")
          article.card-body.mx-auto(style="max-width: 400px;")
            p
              a.btn.btn-block.btn-twitter(href="")
                i.fab.fa-twitter
                = i18n.__("SignTwitter")
              a.btn.btn-block.btn-facebook(href="")
                i.fab.fa-facebook-f
                = i18n.__("SignFacebook")
            p.divider-text
              span(style="background-color:white;white-space: inherit;top: -10px;") OR
            form(action=`/${locale}/register` method="POST")
              .form-group.input-group.flex-nowrap
                .input-group-prepend
                  span.input-group-text
                    i.fa.fa-user
                input.form-control(name="name" placeholder="Full name" type="text")
              // form-group//
              .form-group.input-group.flex-nowrap
                .input-group-prepend
                  span.input-group-text
                    i.fa.fa-envelope
                input.form-control(name="email" placeholder="Email address" type="email")
              // form-group//
              .form-group.input-group.flex-nowrap
                .input-group-prepend
                  span.input-group-text
                    i.fa.fa-lock
                input.form-control(placeholder="Create password" type="password" name="password")
              .form-group.input-group.flex-nowrap
                .input-group-prepend
                  span.input-group-text
                    i.fa.fa-lock
                input.form-control(placeholder="Repeat password" type="password" name="password-confirm")
              .form-group
                button.btn-brand-login(type="submit" value="Register")= i18n.__("Create Account") 
              p.text-center
                = i18n.__("Have an account?")
                a(href="./login")= i18n.__("Log In")
        // card.//
