extends layout

block content
    form.form(method="POST")
                  .form-group.input-group.flex-nowrap
                    .input-group-prepend
                      span.input-group-text
                        i.fa.fa-lock
                    input.form-control(placeholder="Update password" type="password")
                  .form-group.input-group.flex-nowrap
                    .input-group-prepend
                      span.input-group-text
                        i.fa.fa-lock
                    input.form-control(placeholder="Repeat password" type="password")
                    input(type="submit" value="Reset Password")