extends layout

block content
    each stallion, i in stallions
        .review-container.justify-content-md-center
            .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;margin-top:0;")
                .row
                    .col-md-9
                        h3.title Average Breeding Qualities
                .review.row
                    .review__header.col-md-12.pr-1.pl-1
                        .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${stallion.averageSizeRating} out of 5 stars`)
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left") Size
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        = `★`.repeat(stallion.averageSizeRating)
                                        = `☆`.repeat(5 - stallion.averageSizeRating)
                    //-             .reviewplacement(style="float:left;") Small
                    //-             .reviewplacement(style="float:right;") Large
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.model_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Geometric Model
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.model_size)
                    //-                     = `☆`.repeat(5 - review.model_size)
                    //-             .reviewplacement(style="float:left;") Square
                    //-             .reviewplacement(style="float:right;") Rectangular
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.type_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Type
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.type_size)
                    //-                     = `☆`.repeat(5 - review.type_size)
                    //-             .reviewplacement(style="float:left;") Short-legged
                    //-             .reviewplacement(style="float:right;") Long-legged
                    //-     .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${review.head_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Head
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.head_size)
                    //-                     = `☆`.repeat(5 - review.head_size)
                    //-             .reviewplacement(style="float:left;") Log
                    //-             .reviewplacement(style="float:right;") Chique
                    //- .review__header.col-md-12.pr-1.pl-1
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.neck_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Neck Orientation
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.neck_size)
                    //-                     = `☆`.repeat(5 - review.neck_size)
                    //-             .reviewplacement(style="float:left;") Horizontal
                    //-             .reviewplacement(style="float:right;") Vertical
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.orientation_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Geometric Orientation
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.orientation_size)
                    //-                     = `☆`.repeat(5 - review.orientation_size)
                    //-             .reviewplacement(style="float:left;") Downhill
                    //-             .reviewplacement(style="float:right;") Uphill
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.walklength_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Walk - Length
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.walklength_size)
                    //-                     = `☆`.repeat(5 - review.walklength_size)
                    //-             .reviewplacement(style="float:left;") Short
                    //-             .reviewplacement(style="float:right;") Long
                    //-     .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${review.walksupple_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Walk - Suppleness
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.walksupple_size)
                    //-                     = `☆`.repeat(5 - review.walksupple_size)
                    //-             .reviewplacement(style="float:left;") Stiff
                    //-             .reviewplacement(style="float:right;") Flexible
                    //- .review__header.col-md-12.pr-1.pl-1
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.brave_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Braveness
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.brave_size)
                    //-                     = `☆`.repeat(5 - review.brave_size)
                    //-             .reviewplacement(style="float:left;") Spooky
                    //-             .reviewplacement(style="float:right;") Brave
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.blood_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Blood
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.blood_size)
                    //-                     = `☆`.repeat(5 - review.blood_size)
                    //-             .reviewplacement(style="float:left;") Little
                    //-             .reviewplacement(style="float:right;") Lot
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.trotlength_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Trot - length
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.trotlength_size)
                    //-                     = `☆`.repeat(5 - review.trotlength_size)
                    //-             .reviewplacement(style="float:left;") Short
                    //-             .reviewplacement(style="float:right;") Long
                    //-     .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${review.trotsupple_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Trot - Suppleness
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.trotsupple_size)
                    //-                     = `☆`.repeat(5 - review.trotsupple_size)
                    //-             .reviewplacement(style="float:left;") Stiff
                    //-             .reviewplacement(style="float:right;") Flexible
                    //- .review__header.col-md-12.pr-1.pl-1
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.front_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Technique - Frontleg
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.front_size)
                    //-                     = `☆`.repeat(5 - review.front_size)
                    //-             .reviewplacement(style="float:left;") Long
                    //-             .reviewplacement(style="float:right;") Quick
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.hind_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Technique - Hindleg
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.hind_size)
                    //-                     = `☆`.repeat(5 - review.hind_size)
                    //-             .reviewplacement(style="float:left;") Tight
                    //-             .reviewplacement(style="float:right;") Open
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.canterlength_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             p(style="text-align: left") Canter - Length
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.canterlength_size)
                    //-                     = `☆`.repeat(5 - review.canterlength_size)
                    //-             .reviewplacement(style="float:left;") Short
                    //-             .reviewplacement(style="float:right;") Long
                    //-     .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${review.cantersupple_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1
                    //-             | Canter - Suppleness
                    //-             p
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.cantersupple_size)
                    //-                     = `☆`.repeat(5 - review.cantersupple_size)
                    //-             .reviewplacement(style="float:left;") Stiff
                    //-             .reviewplacement(style="float:right;") Flexible
                    //- .review__header.col-md-12.pr-1.pl-1
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.careful_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1 Carefullnes
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.careful_size)
                    //-                     = `☆`.repeat(5 - review.careful_size)
                    //-             .reviewplacement(style="float:left;") Uncareful
                    //-             .reviewplacement(style="float:right;") Quick
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.scope_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1 Scope
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.scope_size)
                    //-                     = `☆`.repeat(5 - review.scope_size)
                    //-             .reviewplacement(style="float:left;") Little
                    //-             .reviewplacement(style="float:right;") Lot
                    //-     .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${review.back_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1 Technique - Back
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.back_size)
                    //-                     = `☆`.repeat(5 - review.back_size)
                    //-             .reviewplacement(style="float:left;") Hollow
                    //-             .reviewplacement(style="float:right;") Round
                    //-     .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${review.character_size} out of 5 stars`)
                    //-         .reviewtitle.col-md-4.pr-1.pl-1 Character
                    //-         .starstext.col-md-8
                    //-             .star_together
                    //-                 .reviewer__stars
                    //-                     = `★`.repeat(review.character_size)
                    //-                     = `☆`.repeat(5 - review.character_size)
                    //-             .reviewplacement(style="float:left;") Difficult
                    //-             .reviewplacement(style="float:right;") Easy