extends layout

include mixins/_vetCard

block content
    .small-header
      img.small-header-img(src="/images/photos/LogoFull-DarkBG.png")
    .stallions-box.justify-content-md-center
      h4 Breeding Services
      h3(style="margin-bottom: 4%;") Look for a service in your neighboorhood
      .row.justify-content-md-center.mt-5
        .search-vets.input-group.col-md-4
          input.search__input.form-control.py-2.border-right-0.border(type="search" value="Search by name" name="search")
          span.input-group-append
            button.btn.btn-outline-secondary.border-left-0.border(type="button")
              i.fa.fa-search
          .search__results.col-md-12
      .row.justify-content-md-center.mt-4
        .col-md-7
          ul.tags
            each s in services
                li.tag
                    a.tag__link(href=`/vets/${s._id}` class=(s._id === service ? 'tag__link--active' : ''))
                        span.tag__text= s._id
                        span.tag__count= s.count
      .row.lying-ad.ml-auto.mr-auto.justify-content-center
        a(href="http://www.domani-equestrian.com")
          img.d-block.d-sm-none(src="/uploads/Ad4.gif" style="width:300px;margin-top:5%;margin-bottom:5%;")
          img.d-none.d-sm-block.d-md-none(src="/uploads/Ad3.gif" style="width:500px;margin-top:5%;margin-bottom:5%;")
          img.d-none.d-md-block.d-lg-none(src="/uploads/Ad2.gif" style="width:750px;margin-top:5%;margin-bottom:5%;")
          img.d-none.d-lg-block(src="/uploads/Ad1.gif" style="width:990px;margin-top:5%;margin-bottom:5%;")
    .stallions-container.row.ml-0.mr-0.justify-content-md-center
      each vet in vets
        +vetCard(vet)