extends layout

block content
    // == Start Page Content Wrapper ==
    .page-wrapper
    // == Start Service Hero Area ==
    section.service-hero-area.hv-100.parallaxBg.bg-img(data-bg='/uploads/Stal.jpg')
        .container.h-100
            .row.align-items-center.h-100
                .col-lg-11.text-center.m-auto
                    .about-us-content.white.mt-sm-70.mt-md-70
                        h2= __("Pensionstalling")
                        p.paragraph-width
                        |   Star Stables (Strobbe - Raman Stables) verhuurt sinds de zomer van 2011 luxe paardenboxen met eigen uitloop op Domein 't Kattenheye.
    // == End Service Hero Area ==
    // == Start Our Services Area ==
    section.our-services-wrapper.mt-120.mt-md-80.mt-sm-60.mb-110.mb-md-70.mb-sm-50
        .container
            .row.mtm-30
                // Start Single Service Item
                .col-sm-6.col-lg-4
                    .service-item-wrap
                        figure.service-thumb
                        img(src='/uploads/groepstal.jpg' alt='Service')
                        .single-desc-item-wrap.mt-24
                        h3.mb-20 Groepsstalling
                        p
                            | Voor ons pension in groepstalling voorzien we huisvesting in verschillende groepen in open en ruime stallen.
                        ul.showcase-desc-list
                            li Open stallen
                            li Verwarmde drinkbakken
                            li Hooi à volonté
                            li 's Zomers: vers gemaaid gras of weidegang
                            li 's Winters: voordroog
                            li Tarief: 265 euro/pony en 285/paard
                // End Single Service Item
                // Start Single Service Item
                .col-sm-6.col-lg-4
                    .service-item-wrap
                        figure.service-thumb
                        img(src='/uploads/binnenpiste1.jpg' alt='Service')
                        .single-desc-item-wrap.mt-24
                        h3.mb-20 Weide & privéstal
                        p
                            | Voor ons pension in weide & privéstal voorzien we overdag huisvesting in de kudde en 's avonds een aparte ruime stal
                        ul.showcase-desc-list
                            li Goed verlichte en luchtige stallen (min. 11m2)
                            li Hooi à volonté
                            li 's Zomers: vers gemaaid gras of weidegang
                            li 's Winters: voordroog
                            li Aparte weidegang/paddock: 50 euro/maand
                            li Tarief: 305 euro/pony en 325/paard
                    // End Single Service Item
                // Start Single Service Item
                .col-sm-6.col-lg-4
                    .service-item-wrap
                        figure.service-thumb
                        img(src='/uploads/paddockstal1.jpg' alt='Paddockstal')
                        .single-desc-item-wrap.mt-24
                        h3.mb-20 Paddockstal
                        p
                            | Voor ons pension in een paddockstal voorzien we overdag huisvesting in een stal met aparte paddock
                        ul.showcase-desc-list
                            li Goed verlichte en luchtige stallen (min. 11m2)
                            li Goed en voldoende hooi en krachtvoer
                            li Langs de binnenpiste
                            li Paard kan zelf kiezen tussen binnen & buiten
                            li Mogelijkheid ze binnen/buiten te laten zetten
                            li Tarief: 330 euro/pony en 350/paard
                // End Single Service Item
    // == End Our Services Area ==
    // == Start Our Services Feature Area ==
    section.our-services-feature-area.bg-offwhite.pt-60.pt-md-66.pt-sm-46.pb-98.pb-md-60.pb-sm-40
        .container
            .row
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-shield-alt
                        .feature-info
                            h3 Eigen zadelkastje
                            p
                                | Berg uw spullen veilig op (slot niet inbegrepen)
                        // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-mug-hot
                        .feature-info
                            h3 Drankautomaat & WC
                            p
                                | Geniet ten alle tijden van een drankje of ga rustig naar de wc
                        // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-sun
                        .feature-info
                            h3 Mooie buitenpiste
                            p
                                | Rijd of longeer uw paard in onze buitenpiste van 40m x 20m
                    // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-cloud-showers-heavy
                        .feature-info
                            h3 Nieuwe binnenpiste
                            p
                                | Regen of sneeuw vormt geen enkel probleem dankzij onze binnenpiste van 42m x 20m
                    // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-sync
                        .feature-info
                            h3 Longeercirkel & stapmolen
                            p
                                | Longeer uw paard in onze aparte longeercirkel of zet hem aan het werk in onze stapmolen.
                    // End Single Services Feature
                // Start Single Services Feature
                .col-lg-4.col-sm-6
                    .single-welcome-feature.d-flex
                        .feature-icon
                            i.fas.fa-parking
                        .feature-info
                            h3 Parkeerruimte
                            p
                                | Plaats bij ons uw trailer of menkarretje voor 15 euro/maand buiten of voor 50 euro/maand overdekt.
                    // End Single Services Feature
        // == End Our Services Feature Area ==
    // == End Page Content Wrapper ==
