extends layout

include mixins/_stallionCard
include mixins/_pagination

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __(title)
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
                    = ` / ${__(title)}`
                // end-container
    section.stallions.smallSlider.page-block-large
      .container.wow.zoomIn(data-wow-duration='0.50s', data-wow-delay='0.50s', style='visibility: visible; animation-duration: 0.5s; animation-delay: 0.5s; animation-name: zoomIn;')
        .col-md-12
            each horse in horses
                .bx-wrapper(style='max-width: 100%; margin: 0px auto;margin-bottom:100px;')
                  .bx-viewport(style='width: 100%; overflow: hidden; position: relative; height: 100%;')
                    ul.bxslider(style='width: auto; position: relative;')
                        li
                            if horse.updatedFile.length > 0
                                //-console.log(horse.updatedFile);
                                img.img-responsve(src=`/uploads/${horse.updatedFile[0]}`, onerror="this.src = '/images/icons/favicon.png';" alt=horse.birthname, width='725', height='475' style="height:none !important;")
                            else
                                img.img-responsve(src=`/uploads/${horse.file.reverse()[0]}`, onerror="this.src = '/images/icons/favicon.png';" alt=horse.birthname, width='725', height='475' style="height:none !important;")
                            .project-data
                              ul
                                  li
                                      i.fa.fa-building.squareSmall.outline
                                      strong Name
                                      = horse.birthname
                                  li
                                      i.fa.fa-paint-brush.squareSmall.outline
                                      strong Pedigree
                                      = `${horse.sire} x ${horse.damsire}`
                                  li
                                      i.fa.fa-calendar.squareSmall.outline
                                      strong Age
                                      = `° ${h.moment(horse.dateOfBirth).format('YYYY')}`
                                  li
                                      i.fas.fa-arrows-alt-v.squareSmall.outline
                                      strong Level
                                      = `${horse.level}m level`
                              a.btn.btn-dark.btn-lg(href=`/${locale}/horse/${horse.slug}`, title='View Details')
                                  | View Details
                                  i.fa.fa-chevron-circle-right
