extends layout

include mixins/_reviewForm
include mixins/_review
include mixins/_commentaar
include mixins/_commentaarForm

block content
    .small-header
      h4.small-header-img(style="color:#98878f;min-height: 20vh;line-height: 20vh;font-size:3rem !important;") #{stallion.sportname}
    .stallions-individual.justify-content-md-center
      .col-md-9.stallion__action(style="margin-left:auto;margin-right:auto;")
                if user && stallion.ordersemen==true
                    .offset-md-1.col-md-3.stallion__action-edit
                      a.btn-pink(href=`/orderSemen/${stallion._id}`)= i18n.__("Order Semen")
                    .offset-md-4.stallion__action-edit.stallion__action--heart
                        form.heart(method="POST" action=`/api/stallions/${stallion._id}/heart`)
                            -const heartStrings = user.hearts.map(obj => obj.toString())
                            -const heartClass = heartStrings.includes(stallion._id.toString()) ? 'heart__button--hearted' : ''
                            button.heart__button(type="submit" name="heart" class=heartClass)
                                    != h.icon('heart')
                else if user && stallion.ordersemen==false
                    .offset-md-8.stallion__action-edit.stallion__action--heart
                        form.heart(method="POST" action=`/api/stallions/${stallion._id}/heart`)
                            -const heartStrings = user.hearts.map(obj => obj.toString())
                            -const heartClass = heartStrings.includes(stallion._id.toString()) ? 'heart__button--hearted' : ''
                            button.heart__button(type="submit" name="heart" class=heartClass)
                                    != h.icon('heart')
                if user && stallion.owner.equals(user._id)
                    .stallion__action--edit(style="vertical-align: middle !important;margin-right:10px !important;")
                        a(href=`/stallions/${stallion._id}/edit`)
                            != h.icon('pencil')
                if !user && stallion.ordersemen==true
                    .offset-md-1.col-md-3.stallion__action-edit
                      a.btn-pink(href=`/orderSemen/${stallion._id}`)= i18n.__("Order Semen")
                if !user && stallion.ordersemen==false
                  .offset-md-8.stallion__action-edit
                    div.addthis_inline_share_toolbox
                else if !user
                  .offset-md-4.stallion__action-edit
                    div.addthis_inline_share_toolbox
                else
                  .stallion__action-edit
                    div.addthis_inline_share_toolbox
      .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;")
        //
          <div class="row">
          <div class="col-md-7 offset-md-5"><h3 class="title">Pedigree</h3></div>
          </div>
        .row
          .col-md-5
            #carousel-custom.carousel.slide(data-ride="carousel")
              // Wrapper for slides
              .carousel-inner(style="height:325px;max-height:325px;")
                .carousel-item.active
                  img(src=`/uploads/${stallion.file[0] || 'stallion.png'}` onerror="this.src = '../images/icons/favicon.png';" alt=`${stallion.birthname}` style="max-height: 100%;width: auto;margin-left: auto;margin-right: auto;max-width:100%;")
                -for (var j=1; j < stallion.file.length-1; j++)
                for file in stallion.file
                  .carousel-item
                   img(src=`/uploads/${stallion.file[j] || 'stallion.png'}` onerror="this.src = '../images/icons/favicon.png';" alt=`${stallion.birthname}` style="max-height: 100%;width: auto;margin-left: auto;margin-right: auto;max-width:100%;")
                //- for offspring, m in stallion.fileOffspring
                //-   .carousel-item
                //-    img(src=`/uploads/${stallion.fileOffspring[m] || 'stallion.png'}` alt=`${stallion.birthname}` style="max-height: 100%;width: auto;margin-left: auto;margin-right: auto;max-width:100%;")
                // Controls
                a.left.carousel-control(href="#carousel-custom" data-slide="prev")
                  span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href="#carousel-custom" data-slide="next")
                  span.glyphicon.glyphicon-chevron-right
              // Indicators
              ol.carousel-indicators
                li.active(data-target="#carousel-custom" data-slide-to="0")
                  img(src=`/uploads/${stallion.file[0] || 'stallion.png'}` onerror="this.src = '../images/icons/favicon.png';" alt=`${stallion.birthname}` style="max-height:50px;")
                -for (var j=1; j < (stallion.file.length-1); j++)
                for file in stallion.file
                  li(data-target="#carousel-custom" data-slide-to="1")
                    img(src=`/uploads/${stallion.file[j] || 'stallion.png'}` onerror="this.src = '../images/icons/favicon.png';" alt=`${stallion.birthname}` style="max-height:50px;")
                //- for offspring, m in stallion.fileOffspring
                //-   li(data-target="#carousel-custom" data-slide-to=m)
                //-    img(src=`/uploads/${stallion.fileOffspring[m] || 'stallion.png'}` alt=`${stallion.birthname}` style="max-height:50px;")

          .col-md-7
            .pedigree.row.justify-content-md-center.d-flex.align-items-center(style="height:350px!important;")
              .col-md-12(style="margin-top:20px;")
                table#pedigree(border="0" cellpadding="0" cellspacing="0" style="width:100%;box-shadow: 0 0 10px rgba(0,0,0,0.1);")
                  tbody
                    tr
                      td(rowspan="8" style="border-bottom:2px solid #192230;color: #414141;font-weight: 550;") #{stallion.sire}
                      td(rowspan="4" style="color: #414141;font-weight: 550;") #{stallion.siresire}
                      td(rowspan="2" style="color: #414141;font-weight: 550;") #{stallion.siresiresire}
                    tr
                    tr
                      td(rowspan="2") #{stallion.siresiredam}
                    tr
                    tr
                      td(width="25%" rowspan="4" style="border-bottom:2px solid #192230") #{stallion.siredam}
                      td(width="25%" rowspan="2" style="color: #414141;font-weight: 550;") #{stallion.siredamsire}
                    tr
                    tr
                      td(width="25%" rowspan="2" style="border-bottom:2px solid #192230") #{stallion.siredamdam}
                    tr
                    tr
                      td(width="25%" rowspan="8") #{stallion.dam}
                      td(width="25%" rowspan="4" style="color: #414141;font-weight: 550;") #{stallion.damsire}
                      td(width="25%" rowspan="2" style="color: #414141;font-weight: 550;") #{stallion.damsiresire}
                    tr
                    tr
                      td(width="25%" rowspan="2") #{stallion.damsiredam}
                    tr
                    tr
                      td(width="25%" rowspan="4") #{stallion.damdam}
                      td(width="25%" rowspan="2" style="color: #414141;font-weight: 550;") #{stallion.damdamsire}
                    tr
                    tr
                      td(width="25%" rowspan="2") #{stallion.damdamdam}
                    tr
        .row
          .col-md-5
            h3.title(style="margin-left:20px;")= i18n.__("Facts")
          .col-md-7
            h3.title= i18n.__("Description")
        .row
          .col-md-5
            .stallion-info(style="margin-top:0%;")
              .stallion-text
                p.left-key= i18n.__("Birthname")
                p.right-value #{stallion.birthname}
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Sportname")
                p.right-value #{stallion.sportname}
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Height")
                p.right-value #{stallion.height} cm
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Breeder")
                p.right-value #{stallion.breeder}
              .stallion-text
                p.left-key= i18n.__("Date Of Birth")
                p.right-value= h.moment(stallion.dateOfBirth).format('DD/MM/YYYY')
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Color")
                p.right-value #{stallion.color}
              .stallion-text
                p.left-key= i18n.__("Level")
                p.right-value= `${Number(stallion.level).toFixed(2)} m`
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Studbook")
                p.right-value #{stallion.studbook}
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("LFG")
                p.right-value #{stallion.lfg}
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("WFFS")
                p.right-value #{stallion.wffs}
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Red Factor")
                p.right-value #{stallion.redfactor}
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Category")
                p.right-value
                  each category in stallion.category
                    | #{category}
                    br
                div(style="clear: both;")
              if stallion.xxox!==null && stallion.xxox!==0
                .stallion-text
                  p.left-key= i18n.__("xxox")
                  p.right-value #{stallion.xxox} %
                  div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Approved for")
                p.right-value
                  each app in stallion.approved
                      =`${app}, ` 
                div(style="clear: both;")
              if stallion.labels!==""
                .stallion-text
                  p.left-key= i18n.__("Labels")
                  p.right-value= stallion.labels
                  div(style="clear: both;")
              if stallion.damline!==""
                .stallion-text
                  p.left-key= i18n.__("Dam Line")
                  p.right-value= stallion.damline
                  div(style="clear: both;")
              if stallion.studfee!==0
                .stallion-text
                  p.left-key= i18n.__("Studfee")
                  p.right-value= `${stallion.studfee} euro`
                  div(style="clear: both;")
              if stallion.freshfrom!==null
                .stallion-text
                    p.left-key= i18n.__("Available Fresh")
                    p.right-value= `From ${h.moment(stallion.freshfrom).format('DD/MM/YYYY')} until ${h.moment(stallion.freshuntil).format('DD/MM/YYYY')}`
                    div(style="clear: both;")
              .stallion-text
                    p.left-key= i18n.__("Studfee/straw")
                    if stallion.studfeestraw==0
                        p.right-value= i18n.__("No straws")
                    else
                        p.right-value= `${stallion.studfeestraw} euro`
                    div(style="clear: both;")
              if stallion.semen!==0
                .stallion-text
                  p.left-key= i18n.__("Semen")
                  p.right-value= stallion.semen
                  div(style="clear: both;")
              if stallion.semendescription!==""
                .stallion-text
                  p.left-key= i18n.__("Semen Description")
                  p.right-value= stallion.semendescription
                  div(style="clear: both;")
              if stallion.available!==""
                .stallion-text
                  p.left-key= i18n.__("Available in")
                  p.right-value 
                    each a in stallion.available
                      =`${a}, ` 
                  div(style="clear: both;")      
          .col-md-7
            p(style="text-align: justify;color:#414141;")= stallion.description
            .row
              .col-md-6
                if stallion.feilink!==""
                  h3.title2= i18n.__("Results")
                  if stallion.result[0]!==""
                      ul.results
                        each result in stallion.result
                            li #{result}
              .col-md-6
                if stallion.feilink!=="" || stallion.offspring[0]!==""
                  h3.title2= i18n.__("Offspring")
                  if stallion.offspring[0]!==""
                    ul.results
                        each offspring in stallion.offspring
                            li #{offspring}
            .row
              .col-md-6
                if stallion.feilink!==""
                  a.btn-brand(target="_blank" href=stallion.feilink)= i18n.__("More Results")
              if stallion.ordersemen==true
                .col-md-6
                  a.btn-pink(href=`/orderSemen/${stallion._id}`)= i18n.__("Order Semen")
              else if stallion.feilink!=="" && stallion.ordersemen!==true
                .col-md-6
                  a.btn-pink(href="/contact")= i18n.__("Coming Soon")
        if stallion.youtube.length>=1 && stallion.youtube[0]!==""
          .container-fluid(style="max-width:100%!important;padding-right:0px!important;margin-bottom:75px;")
            h3.title= i18n.__("Videos")
            if stallion.youtube.length==1
              .row.justify-content-between
                .col-md-12(style="display:inline-block;")
                 iframe(width='100%', height='500', src=`${stallion.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            else if stallion.youtube.length==2
              .row.justify-content-between
                .col-md-6(style="display:inline-block")
                 iframe(width='100%', height='325' src=`${stallion.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-6(style="display:inline-block;")
                 iframe(width='100%', height='325', src=`${stallion.youtube[1]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
            else if stallion.youtube.length==3
              .row.justify-content-between
                .col-md-4(style="display:inline-block")
                  iframe(width='100%', height='325' src=`${stallion.youtube[0]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-4(style="display:inline-block;")
                  iframe(width='100%', height='325', src=`${stallion.youtube[1]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
                .col-md-4(style="display:inline-block;")
                  iframe(width='100%', height='325', src=`${stallion.youtube[2]}`, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
        if (stallion.fileOffspring.length-1)>0
          .container-fluid(style="max-width:100%!important;padding-right:0px!important;margin-top:10px;")
            h3.title= i18n.__("Pictures Offspring")
            if (stallion.fileOffspring.length-1)>=5
              #carouselOffspring.carousel.slide(data-ride='carousel', data-interval='9000')
                .carousel-inner.test.row.w-100.mx-auto(role='listbox')
                  -for (var k=0; k < (stallion.fileOffspring.length-1); k++)
                  each file in stallion.fileOffspring 
                    if stallion.fileOffspring[k]==stallion.fileOffspring[0]        
                      .carousel-item.count.col-md-3.active
                        img.img-fluid.mx-auto.d-block(src=`/uploads/${stallion.fileOffspring[k] || 'stallion.png'}`, alt=stallion.slug)
                    else
                      .carousel-item.count.col-md-3
                        img.img-fluid.mx-auto.d-block(src=`/uploads/${stallion.fileOffspring[k] || 'stallion.png'}`, alt=stallion.slug)
                a.carousel-control-prev(href='#carouselOffspring', role='button', data-slide='prev')
                      i.fa.fa-chevron-left.fa-lg.text-muted
                      span.sr-only= i18n.__("Previous")
                a.carousel-control-next.text-faded(href='#carouselOffspring', role='button', data-slide='next')
                      i.fa.fa-chevron-right.fa-lg.text-muted
                      span.sr-only= i18n.__("Next")
            else
              .row.justify-content-between
                each file, j in stallion.fileOffspring
                  if stallion.fileOffspring.length==1
                    .col-md-12
                      img.stallion-img(src=`/uploads/${stallion.fileOffspring[j] || 'stallion.png'}`, alt=stallion.slug)
                  else if stallion.fileOffspring.length==2
                    .col-md-6
                      img.stallion-img(src=`/uploads/${stallion.fileOffspring[j] || 'stallion.png'}`, alt=stallion.slug)
                  else if stallion.fileOffspring.length==3
                    .col-md-4
                      img.stallion-img(src=`/uploads/${stallion.fileOffspring[j] || 'stallion.png'}`, alt=stallion.slug)
                  else
                    .col-md-3
                      img.stallion-img(src=`/uploads/${stallion.fileOffspring[j] || 'stallion.png'}`, alt=stallion.slug)


              //- - const groupBy3 = arr => arr.reduce((acc, item) => {
              //- -    let last = acc[acc.length - 1]
              //- -    if(last.length === 3) {
              //- -      acc.push(last = []);
              //- -    }
              //- -    last.push(item)
              //- -    return acc;
              //- - }, [[]])

              //- each group in groupBy3(stallion.fileOffspring)
              //-   .row
              //-     each item in group
              //-       .col-md-3
              //-         .well
              //-           img(src=stallion.fileOffspring)

        .row
            h3.title(style="margin-left:auto;")= `${i18n.__("Last updated")} ${h.moment(stallion.updated).format('DD/MM/YYYY')}`
        //- .row
        //-   h3 Distribution Points
        //- .row
        //-   -let result = [];
        //-   each vet in vets
        //-     -for (var j=0; j < vet.stallionlist.length; j++)
        //-       if stallion._id.equals(vet.stallionlist[j])
        //-         = vet.location.address
        //-         br
        //-         -result.push(vet.name, vet.location.coordinates)
        //- img(style="width:100%;height:300PX;" src=h.staticMap(stallion.location.coordinates)) 
      #mapstallion(style="width:100%;height:300PX;")= i18n.__("Loading") 
    //.stallions-individual.justify-content-md-center  
      .stallions-page.col-md-9(style="margin-left:auto;margin-right:auto;margin-top:0;")

    if user
      +reviewForm(stallion)
    if user && stallion.reviews.length>=1
      .reviews
            +review(stallion.reviews)

    if user
      .review-container.justify-content-md-center
        .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;margin-top:0;")
          .row
            .col-md-9
              h3.title= i18n.__("Comments")
          if user && stallion.commentaar.length==0
            p(style="text-align: justify;color:#414141;margin-bottom:4rem;font-size:1rem;") There are no reviews yet. Feel free to enter one yourself!
          else
            each commentaar in stallion.commentaar
              +commentaar(commentaar)
          .row.justify-content-md-center
              +commentaarForm(stallion)

block scripts
      script(src="https://code.jquery.com/jquery-3.1.1.slim.js")
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      script.
        function checkScroll(){
        var startY = $('.navbar').height() * 5; //The point where the navbar changes in px
        if($(window).scrollTop() > startY){
        $('.navbar').addClass("bg-blue");
        }else{
        $('.navbar').removeClass("bg-blue");
        }
        }
        if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
        checkScroll();
        });
        }
      script.
        //- function initMap() {
        //-   var myLatLng = {lat: Number(`#{stallion.location.coordinates[1]}`), lng: Number(`#{stallion.location.coordinates[0]}`)};
        //-   console.log(myLatLng);
          
        //-   var map = new google.maps.Map(document.getElementById('mapstallion'), {
        //-     zoom: 10,
        //-     center: myLatLng
        //-   });


        //-   var image = '/images/icons/marker.png';
        //-   var beachMarker = new google.maps.Marker({
        //-   position: myLatLng,
        //-   map: map,
        //-   icon: image
        //- });
        //- }

        function initMap() {
            var map = new google.maps.Map(document.getElementById('mapstallion'), {
              zoom: 8,
              center: {lat: Number(`#{stallion.location.coordinates[1]}`), lng: Number(`#{stallion.location.coordinates[0]}`)}
            });

            setCenterMarkers(map);
            setStallionMarkers(map);
          }

          // Data for the markers consisting of a name, a LatLng and a zIndex for the
          // order in which these markers should display on top of each other.
          var results = [];
              for (var vet of !{JSON.stringify(vets)}) {
                  for (var z=0; z < vet.stallionlist.length; z++) {
                    if (`#{stallion._id}` == vet.stallionlist[z]) {
                      results.push([vet.name, vet.location.coordinates[1], vet.location.coordinates[0]]);
                    };
              }};


          function setCenterMarkers(map) {
            // Adds markers to the map.
            var image = '/images/icons/marker.png';
            var centermarker = '/images/icons/markercenter.png';

            for (var g = 0; g < results.length; g++) {
              var result = results[g];
              var marker = new google.maps.Marker({
                position: {lat: Number(result[1]), lng: Number(result[2])},
                map: map,
                icon: centermarker,
                title: result[0],
                
              });
            }
          }
          function setStallionMarkers(map) {
              // Adds markers to the map.
              var image = '/images/icons/marker.png';

              var myLatLng = {lat: Number(`#{stallion.location.coordinates[1]}`), lng: Number(`#{stallion.location.coordinates[0]}`)};
              console.log(myLatLng);
          
              var beachMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: image
              });
                  
                };
              
            
      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)
      script.
            $('#carouselOffspring').on('slide.bs.carousel', function (e) {
                var $e = $(e.relatedTarget);
                var idx = $e.index();
                var itemsPerSlide = 4;
                var totalItems = $('.count').length;
                
                if (idx >= totalItems-(itemsPerSlide-1)) {
                    var it = itemsPerSlide - (totalItems - idx);
                    for (var i=0; i<it; i++) {
                        // append slides to end
                        if (e.direction=="left") {
                            $('.count').eq(i).appendTo('.test');
                        }
                        else {
                            $('.count').eq(0).appendTo('.test');
                        }
                    }
                }
              });