extends layout

block content
  .inner
    h2 Top #{stallions.length} Stallions
    table.table
      thead
        td photo
        td ranking
        td name
        td reviews
        td Average Rating
      each stallion, i in stallions
        tr
          td
            a(href=`/stallion/${stallion.slug}`)
              img(width=200 src=`/uploads/${stallion.photo || 'stallion.png'}` alt=stallion.birthname)
          td #{i + 1}
          td
           a(href=`/stallion/${stallion.slug}`)
             p #{stallion.birthname}
          td= stallion.reviews.length
          td #{Math.round(stallion.averageSizeRating)} / 5
          td #{stallion.averageSumRating} +1