extends layout

include mixins/_commentaarVet
include mixins/_commentaarVetForm
include mixins/_vetStallionCard

block content
    .small-header
      h4.small-header-img(style="color:#98878f;min-height: 30vh;line-height: 30vh;") #{vet.name}
    .stallions-individual.justify-content-md-center
      .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;")
        //
          <div class="row">
          <div class="col-md-7 offset-md-5"><h3 class="title">Pedigree</h3></div>
          </div>
        .row
          .col-md-7.offset-md-5.pl-0
            h3.title= i18n.__("Description")
        .row
          .col-md-5
            .stallion-info(style="margin-top:0%;")
              .stallion-text
                p.left-key= i18n.__("Name")
                p.right-value= vet.name
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Location")
                p.right-value= vet.location.address
                div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Phone1")
                p.right-value= vet.phone1
                div(style="clear: both;")
              if vet.phone2!==""
                .stallion-text
                  p.left-key= i18n.__("Phone2")
                  p.right-value= vet.phone2
              if vet.fax!==""
                .stallion-text
                  p.left-key= i18n.__("Faxnumber")
                  p.right-value= vet.fax
                  div(style="clear: both;")
              .stallion-text
                p.left-key= i18n.__("Email")
                p.right-value= vet.email
              .stallion-text
                p.left-key= i18n.__("Services")
                p.right-value
                  each s in vet.services
                    = i18n.__(s)
                    br
                div(style="clear: both;")
              if vet.prices!==""
                .stallion-text
                  p.left-key= i18n.__("Prices")
                  p.right-value
                    a(href=vet.prices)= i18n.__("Click here")
                  div(style="clear: both;")
              .stallion-text
                p.left-key Website
                p.right-value
                  a(href=vet.website)= i18n.__("Click here")
                div(style="clear: both;")
          .col-md-7.pl-0
            p(style="text-align: justify;color:#414141;")= vet.description
            .row.ml-0
              .col-md-6.pl-0
                h3.title3= i18n.__("Location")
                #mapvet(style="width:100%;height:310PX;")= i18n.__("Loading")
              .col-md-6
                h3.title3= i18n.__("Opening Hours")
                -  var count = 0;
                each day, i in vet.hours.day
                  if count < vet.hours.day.length-1
                      .stallion-text
                          p.left-key(style="color: #414141;")= day
                          p.right-value(style="color: #414141;")= `${h.moment().startOf('day').seconds(vet.hours.starthour[i]).format('HH:mm')} - ${h.moment().startOf('day').seconds(vet.hours.endhour[i]).format('HH:mm')}`
                          div(style="clear: both;")
                  -count++;
                if !vet.hours.day.includes("Monday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Monday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                if !vet.hours.day.includes("Tuesday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Tuesday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                if !vet.hours.day.includes("Wednesday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Wednesday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                if !vet.hours.day.includes("Thursday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Thursday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                if !vet.hours.day.includes("Friday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Friday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                if !vet.hours.day.includes("Saturday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Saturday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                if !vet.hours.day.includes("Sunday")
                  .stallion-text
                          p.left-key(style="color: #414141;")= i18n.__("Sunday")
                          p.right-value(style="color: #414141;")= i18n.__("Closed")
                          div(style="clear: both;")
                p= i18n.__("OtherHours")
    .review-container.justify-content-md-center
      .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;margin-top:0;")
        if vet.stallionlist.length>0
          .row
            .col-md-9
              h3.title= i18n.__("Available stallions")
          .review.row
            .review__header.col-md-12
              each stallion in stallions
                -for (var j=0; j < vet.stallionlist.length && j < 4; j++)
                  if stallion._id.equals(vet.stallionlist[j])
                    +vetStallionCard(stallion)
        if vet.stallionlist.length > 4
          .review__header.col-md-12
            each stallion in stallions
              -for (var k=4; k < vet.stallionlist.length && k < 8; k++)
                if stallion._id.equals(vet.stallionlist[k])
                  +vetStallionCard(stallion)
        if vet.stallionlist.length > 8
          .review__header.col-md-12
            each stallion in stallions
              -for (var l=8; l < vet.stallionlist.length && l < 12; l++)
                if stallion._id.equals(vet.stallionlist[l])
                  +vetStallionCard(stallion)
        if vet.stallionlist.length > 12
          .review__header.col-md-12
            each stallion in stallions
              -for (var m=12; m < vet.stallionlist.length && m < 16; m++)
                if stallion._id.equals(vet.stallionlist[m])
                  +vetStallionCard(stallion)

        if user
          .row
            .col-md-12
              h3.title= i18n.__("Comments")
              if user && vet.commentaarVet.length==0
                p(style="text-align: justify;color:#414141;margin-bottom:4rem;font-size:1rem;") There are no reviews yet. Feel free to enter one yourself!
              else
                each commentaar in vet.commentaarVet
                  +commentaarVet(commentaar)
          .row.justify-content-md-center
                +commentaarVetForm(vet)
block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
      script(src="/dist/App.bundle.js")
      script.
        function checkScroll(){
        var startY = $('.navbar').height() * 5; //The point where the navbar changes in px
        if($(window).scrollTop() > startY){
        $('.navbar').addClass("bg-blue");
        }else{
        $('.navbar').removeClass("bg-blue");
        }
        }
        if($('.navbar').length > 0){
        $(window).on("scroll load resize", function(){
        checkScroll();
        });
        }
      script.
        function initMap() {
          var myLatLng = {lat: Number(`#{vet.location.coordinates[1]}`), lng: Number(`#{vet.location.coordinates[0]}`)};
          console.log(myLatLng);
          
          var map = new google.maps.Map(document.getElementById('mapvet'), {
            zoom: 12,
            center: myLatLng
          });

          var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: `#{vet.location.address}`
          });
        }

      script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&callback=initMap`)