extends layout

include mixins/_vetCard

block content
    .small-header
      img.small-header-img(src="/images/photos/LogoFull-DarkBG.png")
    .stallions-box.justify-content-md-center
      h4=i18n.__("Breeding Services")
      h3(style="margin-bottom: 4%;")=i18n.__("VetsText")
      .row.justify-content-md-center.mt-5
        .input-group.col-md-4
          input#example-search-input.form-control.py-2.border-right-0.border(type="search" value="Search by name")
          span.input-group-append
            button.btn.btn-outline-secondary.border-left-0.border(type="button")
              i.fa.fa-search
      .row.justify-content-md-center.mt-4
        .col-md-7
          ul.tags
            each s in services
                li.tag
                    a.tag__link(href=`/centers/${s._id}` class=(s._id === service ? 'tag__link--active' : ''))
                        span.tag__text= `${i18n.__(s._id)}`
                        span.tag__count= s.count
    .stallions-container.row.ml-0.mr-0.justify-content-md-center
      each vet in vets
        +vetCard(vet)