extends layout

include mixins/_horseCard

block content
    section.breadcrumbs.breadcrumbs2.about.wow.fadeInDown(data-wow-duration='0.25s', data-wow-delay='0.45s')
        .boxedeb
            .container.page-block-small
                .col-md-12.col-sm-12.col-xs-12
                    h2= __(title)
                    span.line
                    .rightText
                    a(href=`/${locale}/home`, title='Home') Home
                    = ` / ${__(title)}`
    // == End Page Header Area ==
    // == Start Page Content Wrapper ==
    .page-wrapper
        .shop-page-content-wrapper.fix.mt-120.mt-md-80.mt-sm-60.mb-md-80.mb-sm-60
            .container
                .row
                    .col-12(style="padding-top:20px;")
                        .product-filter-area.mb-30
                            .product-filter-item.col-md-6.col-sm-6.col-xs-12(style="padding-left:30px;")
                                p.m-0= `${__("Showing")} ${count} ${__("results")}`
                            .product-filter-item.mt-sm-14
                            .product-sorting.col-md-6.col-sm-6.col-xs-12(style="padding-right:30px;")
                                select(name='product-sort' onChange="window.location.href=this.value" style="float:right;margin: 0.5em 0 1.5em;")
                                    option(value=`/${locale}/younghorses`)= __("Default Sorting")
                                    //- option(value=`/${locale}/yearlings/level`)= __("Sort by Level: High to Low")
                                    //- option(value=`/${locale}/yearlings/levelZ`)= __("Sort by Level: Low to High")
                                    option(value=`/${locale}/younghorses/name`)= __("Sort By Name: A to Z")
                                    option(value=`/${locale}/younghorses/nameZ`)= __("Sort By Name: Z to A")
                                    option(value=`/${locale}/younghorses/sire`)= __("Sort By Sire: A to Z")
                                    option(value=`/${locale}/younghorses/sireZ`)= __("Sort By Sire: Z to A")
                                    option(value=`/${locale}/younghorses/dam`)= __("Sort By Dam: A to Z")
                                    option(value=`/${locale}/younghorses/damZ`)= __("Sort By Dam: Z to A")
                .row(style="background-color:#070F1C;color:white;padding-top:20px;padding-bottom:20px;margin:0px 15px;display:flex;justify-content: center;")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/embryos`, title='Expected' style="color:white;")= __("Expected")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/foals`, title='Foals' style="color:white;")= __("Foals")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/yearlings`, title='Yearlings' style="color:white;")= __("Yearlings")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/2-year-olds`, title='Two-year-old' style="color:white;")= __("2-year-olds")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/3-year-olds`, title='Three-year-old' style="color:white;")= __("3-year-olds")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/4-year-olds`, title='Four-year-old' style="color:white;")= __("4-year-olds")
                    div(style="padding: 0px 15px;")
                        a(href=`/${locale}/younghorses-dressage`, title='Young Horses Dressage' style="color:white;")= __("Young Horses Dressage")
                .row.mtm-30.mb-60
                    // Start Single Case Study
                    section.staff.opt.page-block-large(style="padding-top:5em;")
                        .container
                            .col-md-12.col-sm-12.col-xs-12
                                .row
                                    each horse in horses
                                        +horseCard(horse)