mixin articleEditCard(article = {})
  .col-md-4.col-sm-6.col-xs-12.wow.BGlight.zoomIn(data-wow-duration='0.50s', data-wow-delay='0.65s' style="margin-right:15px;")
            if user
                    i.fa.fa-pencil-alt.square.BGsec(href=`/${locale}/news/${article.id}/edit` style="margin-left:10%;")
                    a.btn-brand(href=`/${locale}/news/${article.id}/edit` style="padding:10px;color:#ffffff;") Wijzig dit nieuws
            .info-block-bordered
              .item
                if article.updatedFile.length>1
                  img.img-responsive(src=`/uploads/${article.updatedFile[0] || 'No-Pic.jpg'}`, alt=article.title_EN, width='350', height='229')
                  .overlay
                    a.link(href=`/${locale}/news/${article.slug}`, title=article.title_EN)
                      i.fa.fa-link.square
                else
                  img.img-responsive(src=`/uploads/${article.file[0] || 'No-Pic.jpg'}`, alt=article.title_EN, width='350', height='229')
                  .overlay
                    a.link(href=`/${locale}/news/${article.slug}`, title=article.title_EN)
                      i.fa.fa-link.square
            if (locale === 'nl')
              h5(style="background-color: #ffffff;background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;")
                a(href=`/${locale}/news/${article.id}/edit/`, title=article.title)= article.title
              p(style="color:white;")
                !=article.text_nl.replace(/<(.|\n)*?>/g, '').substr(0, 125) + "..."
            else
              h5(style="background-color: #ffffff;background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;")
                a(href=`/${locale}/news/${article.id}/edit/`, title= article.title_EN)= article.title_EN
              p(style="color:white;")
                !=article.text_en.replace(/<(.|\n)*?>/g, '').substr(0, 125) + "..."