mixin articleHomeCard(article = {})
  if (locale === 'nl')
    // Post item
    .post-item.border
        .post-item-wrap
            .post-image
                a(href=`/${locale}/news/${article.slug}`)
                    img(src=`/uploads/${article.file[0] || 'No-Pic.jpg'}`, alt=article.title_EN)
                span.post-meta-category
                  each tag in article.tags
                    a(href=`/${locale}/news/${article.slug}`)= tag
            .post-item-description
                span.post-meta-date
                    i.fa.fa-calendar-o
                    = `${h.moment(article.updated).format('LL')}`
                if article.title.length <= 40
                  h2
                      a(href=`/${locale}/news/${article.slug}`)= article.title
                else
                  h2
                      a(href=`/${locale}/news/${article.slug}`)= article.title.substr(0, 40) + "..."

                p
                    !=article.text_nl.replace(/<(.|\n)*?>/g, '').substr(0, 125) + "..."
                a.item-link(href=`/${locale}/news/${article.slug}`)
                    = __("Read More")
                    i.icon-chevron-right
    // end: Post item
  else
    // Post item
    .post-item.border
        .post-item-wrap
            if user
                i.fa.fa-pencil-alt.square.BGsec(href=`/${locale}/news/${article.id}/edit` style="margin-left:10%;")
                a.btn-brand(href=`/${locale}/news/${article.id}/edit` style="padding:10px;color:#ffffff;") Wijzig dit nieuws
            .post-image
                a(href=`/${locale}/news/${article.slug}`)
                    img(src=`/uploads/${article.file[0] || 'No-Pic.jpg'}`, alt=article.title_EN)
                span.post-meta-category
                  each tag in article.tags
                    a(href=`/${locale}/news/${article.slug}`)= tag
            .post-item-description
                span.post-meta-date
                    i.fa.fa-calendar-o
                    = `${h.moment(article.updated).format('LL')}`
                if article.title_EN.length <= 40
                  h2
                      a(href=`/${locale}/news/${article.slug}`)= article.title_EN
                else
                  h2
                      a(href=`/${locale}/news/${article.slug}`)= article.title_EN.substr(0, 40) + "..."

                p
                    !=article.text_en.replace(/<(.|\n)*?>/g, '').substr(0, 125) + "..."
                a.item-link(href=`/${locale}/news/${article.slug}`)
                    = __("Read More")
                    i.icon-chevron-right
    // end: Post item
