mixin articleForm(article = {})
  form.js-article-edit-form(action=`/${locale}/addArticle/${article._id || ''}` method="POST" enctype="multipart/form-data")
    .add-container.row.justify-content-md-center
      .col-md-6.text-right
            .form-group.row
              label.col-sm-4.col-form-label(for="title") Titel in Nederlands
              .col-sm-8
                input.form-control(type="text" name="title" value=article.title)
            .form-group.row
              label.col-sm-4.col-form-label(for="title_EN") Titel in Engels
              .col-sm-8
                input.form-control(type="text" name="title_EN" value=article.title_EN)
            .form-group.row
              label.col-sm-4.col-form-label(for="subtitle") Subtitle
              .col-sm-8
                input.form-control(type="text" name="subtitle" value= article.subtitle)
            .form-group.row
              label.col-sm-4.col-form-label(for="subtitle_EN") Subtitle Engels
              .col-sm-8
                input.form-control(type="text" name="subtitle_EN" value= article.subtitle_EN)
      .col-md-6
            .form-group.row.approved
              .col-sm-4.text-right= i18n.__("Category")
              .col-sm-8
                - const choices = ['Auctions', 'Stallion Approvals', 'Stallion Competition', 'Foal Championships', 'Young Horses', 'Jumping in Freedom','Keuring', 'Interviews', 'Promo', 'Other']
                - const tags = article.tags || []
                each choice in choices
                  .form-check(style="text-align:left;").col-sm-6
                    input.form-check-input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
                    label.form-check-label(for="choice") #{choice}
            .form-group.row
              if (article.updatedFile && article.updatedFile.length > 0)
                  .row  
                    for file in article.updatedFile
                      .col-sm-12.sortable-list#image-list3
                        img(src=`/uploads/${file || 'horse.png'}` id=file onerror="this.src = '/images/icons/favicon.png';" alt=`${article.title}` style="max-width:100%;")
                        a.js-remove-image.remove-image(href="#" data-article-id=article._id data-file-name=file data-file-type="file" data-file-type2="updatedFile" data-message=i18n.__("RemoveImageConfirmation")) &#10060;
              else if (article && article.file)
                  .row  
                    for file in article.file
                      .col-sm-12.sortable-list#image-list3
                        img(src=`/uploads/${file || 'horse.png'}` id=file onerror="this.src = '/images/icons/favicon.png';" alt=`${article.title}` style="max-width:100%;")
                        a.js-remove-image.remove-image(href="#" data-article-id=article._id data-file-name=file data-file-type="file" data-file-type2="updatedFile" data-message=i18n.__("RemoveImageConfirmation")) &#10060;
              else
            .form-group.row
              label.col-sm-4.col-form-label(for="Name") Pictures
              .col-sm-8
                #files
                  input#picture(name="file" type="file" accept="image/png, image/jpeg" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    | You can only upload .png or .jpg files
                p#buttonfile
                  a.btn-add-pink(href="javascript:add_file()")
                    i.fa.fa-plus-square(aria-hidden="true")
                    |  Add Files
            #addfile(style="display:none")
              input#picture(name="file[]" type="file" accept="image/png, image/jpeg" multiple="")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['file[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_file()
              {
              var div3 = document.createElement('div');
              // Get template data
              div3.innerHTML = document.getElementById('addfile').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('files').appendChild(div3);
              }

      .col-md-12.text-left
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="text_en") Description EN
                .col-sm-8
                    textarea#mytextareaEN.form-control(name="text_en" rows="8" cols="75" placeholder="Here is your article description in English.")= article.text_en
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="text_nl") Description NL
                .col-sm-8
                    textarea#mytextareaNL.form-control(name="text_nl" rows="8" cols="75" placeholder="Here is your article description in Dutch.")= article.text_nl
    .row.ml-0.mr-0.text-center.justify-content-md-center.pb-5
        .col-8
          button.btn.btn-brand(type="submit" style="width:100%;line-height: normal;") Submit
