mixin commentaarEvent(commentaarEvent)
    .review.row
                    .col-sm-12
                        .panel.post
                            .post-heading
                                .float-left.image
                                    img.img-circle.avatar(src=commentaarEvent.author.gravatar alt="user profile image")
                                .float-left.meta
                                    .title.h5
                                        a(href="#")
                                        b= commentaarEvent.author.name
                                    h6.text-muted.time(datetime=commentaarEvent.created)= h.moment(commentaarEvent.created).fromNow()
                            .post-description
                                p= commentaarEvent.text
                                //.stats
                                    a.btn.btn-brand.stat-item(href="#" style="line-height: 39px;")
                                        i.fa.fa-thumbs-up.icon
                                        | 2
                                    a.btn.btn-pink.stat-item(href="#" style="line-height: 39px;")
                                        i.fa.fa-thumbs-down.icon
                                        | 12