mixin commentaarForm(stallion)
    form.reviewer.col-sm-12(action=`/comments/${stallion._id}` method="POST")
            .stallions-page.text-left(style="margin-left:auto;margin-right:auto;margin-top:0;padding-right:0 !important;padding-left: 0 !important;")
                .row.col-md-9
                    h3.title= i18n.__("AddComment")
                    br
                .review.row 
                    textarea.form-control(name="text" placeholder="Did you use this stallion? Or do you have something to say? =)" style="width:100% !important;")
                input.btn-brand.ml-auto.mr-auto(type="submit" value=`${i18n.__("Add Comment")}`)    