mixin commentaarVetForm(vet)
    form.reviewer.col-sm-12(action=`/commentsVet/${vet._id}` method="POST")
            .text-left(style="margin-left:auto;margin-right:auto;margin-top:0;")
                .row.col-md-9
                    h3.title= i18n.__("Add Comment")
                    br
                .review.row 
                    textarea.form-control(name="text" placeholder="Do you have experience with this vet? Or do you have something to say? =)" style="width:100% !important;")
                    .reviewer__meta(style="width:50%")
                        p(style="text-align: justify;color:#414141;margin-top:auto;font-size:1rem;padding-right:2rem;text-align:right;") Rating:
                        .reviewer__stars(style="justify-content:left !important;")
                            each num in [5,4,3,2,1]
                                input(type="radio" required id=`star${num}` name="rating" value=num)
                                label(for=`star${num}`) #{num} Stars
                    input.btn-brand.ml-auto(style="width:50%;" type="submit" value=`${i18n.__("Submit Comment")}`)    