mixin commentaar(commentaar)
    .review.row
                    .col-sm-12
                        .panel.post
                            .post-heading
                                .float-left.image
                                    img.img-circle.avatar(src=commentaar.author.gravatar alt="user profile image")
                                .float-left.meta
                                    .title.h5
                                        a(href="#")
                                        b= commentaar.author.name
                                    h6.text-muted.time(datetime=commentaar.created)= h.moment(commentaar.created).fromNow()
                            .post-description
                                p= commentaar.text
                                //- .stats
                                //-     a.btn.btn-brand.stat-item(href="#" style="line-height: 39px;")
                                //-         i.fa.fa-thumbs-up.icon
                                //-         = commentaar.upvote
                                //-     a.btn.btn-pink.stat-item(href="#" style="line-height: 39px;")
                                //-         i.fa.fa-thumbs-down.icon
                                //-         = commentaar.downvote