mixin eventCard(event = {})
   li
              time(datetime= event.date)
                if user && event.owner.equals(user._id)
                  a(href=`/calendar/${event._id}/edit`)
                    != h.icon('pencil')
                span.day= h.moment(event.date).date(day)
                span.month= h.moment(event.date).format('MMMM')
                span.year= h.moment(event.date).year(year)
                span.time ALL DAY
              a(href=`/calendar/${event.slug}`)
                img.event-img(src=`/uploads/${event.file || 'stallion.png'}` onerror="this.src = '/images/icons/favicon.png';" alt= event.name)
              .info
                a(href=`/calendar/${event.slug}`)
                  h2.title.mt-4= event.name
                  p.desc.mt-2= event.description_en.split(' ').slice(0, 25).join(' ')
                ul
                  if !event.website
                    li(style="width:33%;vertical-align: middle;")
                      a(href=`/calendar/${event.slug}`)
                        span.fa.fa-globe
                        = i18n.__("More info")
                  else
                    li(style="width:33%;vertical-align: middle;")
                      a(href=`${event.website}` target="_blank")
                        span.fa.fa-globe
                        |  Website
                  li(style="width:34%;vertical-align: middle;")
                    a(href=`/calendar/${event.slug}`)
                      i.fa.fa-clock(aria-hidden="true")
                      = event.hour
                  li(style="width:33%;vertical-align: middle;")
                    a(href=`https://www.google.com/maps/dir/?api=1&destination=${event.location.address}`)
                      i.fa.fa-map-marker(aria-hidden="true") &nbsp
                      =event.location.address
              .social
                ul
                  if !event.website
                    li.facebook(style="width:33%;")
                      a(href=`/calendar/${event.slug}`)
                        i.fa.fa-globe
                  else
                    li.facebook(style="width:33%;")
                      a(href=`${event.website}`)
                        i.fa.fa-globe
                  if !event.facebook
                    li.twitter(style="width:34%;")
                      a(href=`/calendar/${event.slug}`)
                        i.fab.fa-facebook-f
                  else
                    li.twitter(style="width:34%;")
                      a(href=`${event.facebook}`)
                        i.fab.fa-facebook-f
                  if !event.twitter
                    li.google-plus(style="width:33%;")
                      a(href=`/calendar/${event.slug}`)
                        i.fab.fa-twitter
                  else
                    li.google-plus(style="width:33%;")
                      a(href=`${event.twitter}`)
                        i.fab.fa-twitter
                  if !event.livestream
                    li.facebook(style="width:34%;")
                      a(href=`/calendar/${event.slug}`)
                        i.fas.fa-video
                  else
                    li.facebook(style="width:34%;")
                      a(href=`${event.livestream}`)
                        i.fas.fa-video
