mixin eventForm(event = {})
  form(action=`/addEvent/${event._id || ''}` method="POST" enctype="multipart/form-data")
    .add-container.row.justify-content-md-center
      .col-md-4.text-right
            .form-group.row
              label.col-sm-4.col-form-label(for="Name")
                strong= `${i18n.__("Name")}*`
              .col-sm-8
                input.form-control(type="text" name="name" value=event.name)
            .form-group.row
              label.col-sm-4.col-form-label(for="address")
                strong= `${i18n.__("Location")}*`
              .col-sm-8
                input.form-control(type="text" id="address" name="location[address]" value=(event.location && event.location.address))
            .form-group.row
              label.col-sm-4.col-form-label(for="date")
                strong= `${i18n.__("Startdate")}*`
              .col-sm-8
                input.form-control(type="date" name="date" value= h.moment(event.date).format('YYYY-MM-DD'))
            .form-group.row
              label.col-sm-4.col-form-label(for="hour")
                strong= `${i18n.__("Starthour")}*`
              if event.hour
                .col-sm-8
                  input.form-control(type="time" name="hour" value= event.hour)
              else
                .col-sm-8
                  input.form-control(type="time" name="hour" value="HH:MM")
            .form-group.row
              label.col-sm-4.col-form-label(for="enddate")
                strong= `${i18n.__("Enddate")}*`
              .col-sm-8
                input.form-control(type="date" name="enddate" value= h.moment(event.enddate).format('YYYY-MM-DD'))
            .form-group.row
              label.col-sm-4.col-form-label(for="endhour")
                strong= `${i18n.__("Endhour")}*`
              if event.endhour
                .col-sm-8
                  input.form-control(type="time" name="endhour" value= event.endhour)
              else
                .col-sm-8
                  input.form-control(type="time" name="endhour" value="HH:MM")
            .form-group.row
              label.col-sm-4.col-form-label(for="email") 
                strong= i18n.__("Email")
              .col-sm-8
                input.form-control(type="text" name="email" value= event.email)
            .form-group.row
              label.col-sm-4.col-form-label(for="website") Website
              .col-sm-8
                input.form-control(type="text" name="website" value=event.website placeholder="https://....")
            .form-group.row
              label.col-sm-4.col-form-label(for="facebook") Facebook
              .col-sm-8
                input.form-control(type="text" name="facebook" value= event.facebook placeholder="https://....")
            .form-group.row
              label.col-sm-4.col-form-label(for="twitter") Twitter
              .col-sm-8
                input.form-control(type="text" name="twitter" value= event.twitter placeholder="https://....")
            .form-group.row
              label.col-sm-4.col-form-label(for="livestream") Livestream
              .col-sm-8
                input.form-control(type="text" name="livestream" value= event.livestream placeholder="https://....")
            .form-group.row
              label.col-sm-4.col-form-label(for="phone")
                strong= `${i18n.__("Phonenumber")}*`
              .col-sm-8
                input.form-control(type="text" name="phone" value= event.phone)
            .form-group.row
              label.col-sm-4.col-form-label(for="Name")
                strong= `${i18n.__("Picture")}*`
              .col-sm-8
                #files
                  input#picture(name="file[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    | You can only upload .png, .jpg or .pdf files
                p#buttonfile
                  a.btn-add-pink(href="javascript:add_file()")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = i18n.__("Add Files")
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lng") Longitude
              .col-sm-8
                input.form-control(type="text" id="lng" name="location[coordinates][0]" value=(event.location && event.location.coordinates[0]))
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lat") Latitude
              .col-sm-8
                input.form-control(type="text" id="lat" name="location[coordinates][1]" value=(event.location && event.location.coordinates[1]))
            #addfile(style="display:none")
              input#picture(name="file[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['file[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_file()
              {
              var div3 = document.createElement('div');
              // Get template data
              div3.innerHTML = document.getElementById('addfile').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('files').appendChild(div3);
              }

      .col-md-4.text-left
            .form-group.row.approved
              .col-sm-4.text-right
                strong= `${i18n.__("Category")} *`
              .col-sm-8
                - const categories = [`${i18n.__('Auction Selection')}`,`${i18n.__('Auction')}`,`${i18n.__('Stallion Approval')}`,`${i18n.__('Keuring')}`,`${i18n.__('Stallion Show')}`,`${i18n.__('Stallion Competition')}`,`${i18n.__('Jumping in Freedom')}`,`${i18n.__('Young Horses')}`,`${i18n.__('Others')}`]
                - const cattags = event.category || []
                each category in categories
                  .form-check.col-sm-12
                    input.form-check-input(type="checkbox" id=category value=category name="category" checked=(cattags.includes(category)))
                    label.form-check-label(for="category") #{category}
              .col-md-4
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="description_en")
                  strong= `${i18n.__('Description in English')} *`
                .col-sm-8
                    textarea.form-control(name="description_en" rows="8" cols="75" placeholder="Here is your event description in English.")= event.description_en
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="description_nl")
                  strong= `${i18n.__('Description in Dutch')}*`
                .col-sm-8
                    textarea.form-control(name="description_nl" rows="8" cols="75" placeholder="Here is your event description in Dutch.")= event.description_nl
    .row.ml-0.mr-0.text-center.justify-content-md-center.pb-5
        .form-group.input-group.offset-sm-4.col-sm-7
          - const termsoptions = [`${i18n.__('Termstext')}`]
              each termsoption in termsoptions
                input.form-check-input(type="checkbox" id=termsoption value=termsoption name="terms" style="vertical-align: middle")
                label.form-check-label(for="termsoption") #{termsoption}
        .col-8
          button.btn.btn-brand(type="submit" style="width:100%;line-height: normal;")= i18n.__('Submit')
