mixin forgotForm()
    h3.prime= i18n.__("Forgot")
    form#contact_form(action=`/${locale}/account/forgot` method="POST")
              .col-md-12
                input#name.form-control(type="email" name="email" placeholder="Enter your email")
              .col-md-12
                      input#security.form-control.hide(type='text', name='security', value='')
                      input#submit.btn.btn-primary.btn-lg(type='submit', value=`${i18n.__("Reset mijn Wachtoowrd!")}`, name='submit')
              //p.text-center
                = i18n.__("No account")
                a(href=`/${locale}/register`)= i18n.__("Sign up")