mixin horseForm(horse = {})
  form#contact-form.contact-form.js-find-sire-form.js-find-dam-form.js-horse-edit-form(action=`/${locale}/addHorse${horse._id ? '/' + horse._id : ''}` method="POST" enctype="multipart/form-data")
    .add-container.pt--100.row.justify-content-md-center
        .col-md-6.text-right
            .form-group.row
              label.col-sm-4.col-form-label(for="birthname")
                strong= `${__("Birthname")}*` 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #birthnamehelp.form-text.text-muted(style="display:none")
                  = __("BirthText")
              .col-sm-8
                input.form-control(type="text" name="birthname" value=horse.birthname)
            .form-group.row
              label.col-sm-4.col-form-label(for="category")
                strong= `${__("Category")}*`
              .col-sm-8
                - const categories = [`${__("Sportpaard")}`, `${__("Fokmerrie")}`, `${__("Dressuur")}`, `${__("Dekhengst")}`, `${__("Jong Paard")}` , `${__("For Sale")}`, `${__("Referentie")}`]
                - const cattags = horse.category || []
                each category in categories
                  .check-box
                    input(type="checkbox" id=category value=category name="category" checked=(cattags.includes(category)))
                    label(for="category") #{category}
            .form-group.row
              label.col-sm-4.col-form-label(for="home")
                strong= `${__("home")}*`
              .col-sm-8
                select.custom-select(name="home")
                  option(value=`${horse.home || "false"}`) #{horse.home || "Homepage or not"}
                  option(value="true") Show on Homepage
                  option(value="false") Not on Homepage
            .form-group.row
              label.col-sm-4.col-form-label(for="dateOfBirth")
                strong= `${__("Date Of Birth")}*`
              if horse.dateOfBirth
                .col-sm-8
                  input.form-control(type="date" name="dateOfBirth" value= h.moment(horse.dateOfBirth).format('YYYY-MM-DD'))
              else
                .col-sm-8
                  input.form-control(type="date" name="dateOfBirth" value=DD-MM-YYYY)
            .form-group.row
              label.col-sm-4.col-form-label(for="level")
                strong= `${__("Level")}*`
              .col-sm-8
                select.custom-select(name="level")
                  option(value=`${horse.level || "0"}`) #{horse.level || "Choose a Level"}
                  option(value="1.60") 1.60 m
                  option(value="1.55") 1.55 m
                  option(value="1.50") 1.50 m
                  option(value="1.45") 1.45 m
                  option(value="1.40") 1.40 m
                  option(value="1.35") 1.35 m
                  option(value="1.30") 1.30 m
                  option(value="1.25") 1.25 m
                  option(value="1.20") 1.20 m
                  option(value="1.15") 1.15 m
                  option(value="1.10") 1.10 m
                  option(value="1.00") 1 m
                  option(value="0") No Competition yet
            .form-group.row
              label.col-sm-4.col-form-label(for="studbook")
                strong= `${__("Studbook")}*`
              .col-sm-8
                select.custom-select(name="studbook")
                  option(value=`${horse.studbook || "No Studbook"}`) #{horse.studbook || "Choose a Studbook"}
                  option(value="Zangersheide") Zangersheide
                  option(value="BWP") BWP
                  option(value="SBS") SBS
                  option(value="AES") AES
                  option(value="KWPN") KWPN
                  option(value="OS") OS
                  option(value="WEST") WEST
                  option(value="Holst") Holst
                  option(value="SF") SF
                  option(value="Hann") Hann
                  option(value="SWB") SWB
                  option(value="Oldbg") Oldbg
                  option(value="DSP") DSP
                  option(value="ISH") ISH
                  option(value="SLS") SLS
                  option(value="RHEIN") RHEIN
                  option(value="MIPAAF") MIPAAF
                  option(value="SHBGB") SHBGB
                  option(value="CH") CH
                  option(value="DWB") DWB
                  option(value="NRPS") NRPS
                  option(value="Meckl") Meckl
                  option(value="Other") Other
            .form-group.row
              label.col-sm-4.col-form-label(for="forsale")
                strong= `${__("forsale")}*`
              .col-sm-8
                select.custom-select(name="forsale")
                  option(value=`${horse.forsale || "false"}`) #{horse.forsale || "For Sale or not"}
                  option(value="true") For Sale
                  option(value="false") Not for sale
            .form-group.row
              label.col-sm-4.col-form-label(for="picture")
                strong= `${__("Pictures")}`
            if (horse.updatedFile && horse.updatedFile.length > 0)
                  .row  
                    for file in horse.updatedFile
                      .col-sm-12.sortable-list#image-list3
                        img(src=`/uploads/${file || 'horse.png'}` id=file onerror="this.src = '/images/icons/favicon.png';" alt=`${horse.birthname}` style="max-width:100%;")
                        a.js-remove-image.remove-image(href="#" data-horse-id=horse._id data-file-name=file data-file-type="file" data-file-type2="updatedFile" data-message=i18n.__("RemoveImageConfirmation")) &#10060;
            else if (horse && horse.file)
                  .row  
                    for file in horse.file
                      .col-sm-12.sortable-list#image-list3
                        img(src=`/uploads/${file || 'horse.png'}` id=file onerror="this.src = '/images/icons/favicon.png';" alt=`${horse.birthname}` style="max-width:100%;")
                        a.js-remove-image.remove-image(href="#" data-horse-id=horse._id data-file-name=file data-file-type="file" data-file-type2="updatedFile" data-message=i18n.__("RemoveImageConfirmation")) &#10060;
            else

            .form-group.row
                  label.col-sm-4.col-form-label(for="picture")
                    strong= `${i18n.__("Pictures")}*`
                  .col-sm-8
                    #files
                      input#file(name="file" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                      //-   small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                      //-     = __("UploadText")
                      //- p#buttonfile
                      //-   a.btn-add-pink(href="javascript:add_file()")
                      //-     i.fa.fa-plus-square(aria-hidden="true")
                      //-     = __("Add Files")
            .form-group.row
              label.col-sm-4.col-form-label(for="pictureOffspring") Pictures Offspring
              .col-sm-8
                #filesOffspring
                  input#fileOffspring(name="fileOffspring[]" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    = __("UploadText")
                p#buttonfileOffspring
                  a.btn-add-pink(href="javascript:add_fileOffspring()")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = __("Add Files")
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="updated") Updated
              .col-sm-8
                input.form-control(type="date" name="updated" value=h.moment(today).format('YYYY-MM-DD'))
            #addfile(style="display:none")
              input#file(name="file[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="" style="padding-top: 10px;padding-bottom: 10px;")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['file[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_file()
              {
              var div3 = document.createElement('div');
              // Get template data
              div3.innerHTML = document.getElementById('addfile').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('files').appendChild(div3);
              }
            #addfileOffspring(style="display:none")
              input#fileOffspring(name="fileOffspring[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['fileOffspring[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_fileOffspring()
              {
              var div4 = document.createElement('div');
              // Get template data
              div4.innerHTML = document.getElementById('addfileOffspring').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('filesOffspring').appendChild(div4);
              }
        .col-md-6.text-right
          .form-group.row
              label.col-sm-4.col-form-label(for="color")
                strong= `${__("Color")}*`
              .col-sm-8
                select.custom-select(name="color")
                  option(value=`${horse.color || "No Color"}`) #{horse.color || "Choose a color"}
                  option(value="Bay")= __("Bay")
                  option(value="Black")= __("Black")
                  option(value="Chestnut")= __("Chestnut")
                  option(value="Grey")= __("Grey")
                  option(value="Piebald")= __("Piebald")
                  option(value="Other")= __("Other")
          .form-group.row
              label.col-sm-4.col-form-label(for="gender")
                strong= `${__("Gender")}*`
              .col-sm-8
                select.custom-select(name="gender")
                  option(value=`${horse.gender || "No Gender"}`) #{horse.gender || "Choose a gender"}
                  option(value="Mare")= __("Mare")
                  option(value="Stallion")= __("Stallion")
                  option(value="Gelding")= __("Gelding")
          .form-group.row
              label.col-sm-4.col-form-label(for="height" )
                strong= `${__("Height cm")}`
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #heighthelp.form-text.text-muted(style="display:none")
                  = __("HeightText")
              .col-sm-8
                input.form-control(type="text" name="height" value=horse.height)
          .form-group.row
              label.col-sm-4.col-form-label(for="price")
                strong= `${__("price")}`
              .col-sm-8
                input.form-control(type="text" name="price" value=horse.price)
          .form-group.row
              label.col-sm-4.col-form-label(for="soldto")
                strong= `${__("Sold to")}`
              .col-sm-8
                input.form-control(type="text" name="soldto" value=horse.soldto)
          .form-group.row
              label.col-sm-4.col-form-label(for="feilink")= __("FEI Results")
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #feihelp.form-text.text-muted(style="display:none")
                  = __("FEIText")
              .col-sm-8
                input.form-control(type="text" name="feilink" value=horse.feilink)
          .form-group.row.sperm
            label.col-sm-4.col-form-label(for="damline" )= __("Dam line")
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #damlinehelp.form-text.text-muted(style="display:none")
                =__("DamlineText")
            .col-sm-8
              input.form-control(type="text" name="damline" value=horse.damline)
          .form-group.row
            label.col-sm-4.col-form-label(for="youtube")=__("YouTube Link")
            .col-sm-8
              if horse.youtube
                #youtube
                  -for (var j=0; j < horse.youtube.length; j++)
                    input.form-control(name="youtube[]" value=horse.youtube[j] style="margin-bottom: 1rem !important;")
                p#addvideo
                  a.btn-add-pink(href="javascript:add_video()" style="margin-top:-5px;")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = __("Add Video")
              else
                    #youtube
                      input.form-control(type="text" name="youtube[]" value=horse.youtube)
                      small#youtubeHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                        =__("YouTubeText")
                    p#addvideo
                      a.btn-add-pink(href="javascript:add_video()" style="margin-top:-5px;")
                        i.fa.fa-plus-square(aria-hidden="true")
                        = __("Add Video")
        #addlink(style="display:none")
          .youtubefeed
            input.form-control(type="text" name="youtube[]" value="")
    .container.page-block.text-center.wow
        h3 
          strong= `${__("Pedigree")}*`
        .row
          table#pedigreeadd(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
            tbody
            tr
                td(rowspan="8" style="border-bottom:2px solid #192230")
                    input.form-control.js-sire-name(type="text" value=horse.sire name="sire" placeholder=__("Father"))
                td(rowspan="4")
                    input.form-control(type="text" name="siresire" placeholder=__("Father of Father") value=horse.siresire)
                td(rowspan="2")
                    input.form-control(type="text" name="siresiresire" placeholder=__("Father of Father of Father") value=horse.siresiresire)
            tr
            tr
                td(rowspan="2")
                    input.form-control(type="text" name="siresiredam" placeholder=__("Mother of Father of Father") value=horse.siresiredam)
            tr
            tr
                td(width="25%" rowspan="4" style="border-bottom:2px solid #192230")
                    input.form-control(type="text" name="siredam" placeholder=__("Mother of Father") value=horse.siredam)
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="siredamsire" placeholder=__("Father of Mother of Father") value=horse.siredamsire)
            tr
            tr
                td(width="25%" rowspan="2" style="border-bottom:2px solid #192230")
                    input.form-control(type="text" name="siredamdam" placeholder=__("Mother of Mother of Father") value=horse.siredamdam)
            tr
            tr
                td(width="25%" rowspan="8")
                    input.form-control.js-dam-name(type="text" name="dam" placeholder=__("Mother") value=horse.dam)
                td(width="25%" rowspan="4")
                    input.form-control(type="text" name="damsire" placeholder=__("Father of Mother") value=horse.damsire)
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damsiresire" placeholder=__("Father of Father of Mother") value=horse.damsiresire)
            tr
            tr
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damsiredam" placeholder=__("Mother of Father of Mother") value=horse.damsiredam)
            tr
            tr
                td(width="25%" rowspan="4")
                    input.form-control(type="text" name="damdam" placeholder=__("Mother of Mother") value=horse.damdam)
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damdamsire" placeholder=__("Father of Mother of Mother") value=horse.damdamsire)
            tr
            tr
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damdamdam" placeholder=__("Mother of Mother of Mother") value=horse.damdamdam)
            tr
    .container.page-block.text-center.wow
        .col-md-6(style="display:inline-block;")
            .form-group.row.text-right
                label.col-sm-2.col-form-label(for="description")
                  strong= `${__("Description")}`
                .col-sm-10
                    textarea#mytextareaNL.form-control(name="description" rows="13" cols="75" placeholder="Here is your horse's description in Dutch.")= horse.description
            .form-group.row
                label.col-sm-2.col-form-label(for="results")=__("Results")
                if horse.result
                  #results.col-sm-10
                    #palmares.palmares
                      -for (var i = 0; i < horse.result.length; i++)
                        input(name="result[]" class="col-12" value=horse.result[i])
                    p#addnew
                        a.btn-add-pink(href="javascript:add_feed()")
                          i.fa.fa-plus-square(aria-hidden="true")
                          = __("Add Results")
                else
                  #results.col-sm-10
                      #palmares.palmares
                        input(type="text" name="result[]" class="col-12" placeholder="22/07/2018 - 1st place - CSIO5* Aachen 1m60 GP - Harrie Smolders" size="50" value=horse.result)
                        small#offspringHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                          =__("ResultText")
                      p#addnew
                        a.btn-add-pink(href="javascript:add_feed()")
                          i.fa.fa-plus-square(aria-hidden="true")
                          = __("Add Results")

            #addresult(style="display:none")
                .resultfeed
                    input(type="text" name="result[]" value="")
        .col-md-6(style="display:inline-block;")
            .form-group.row.text-right
                label.col-sm-2.col-form-label(for="descriptionEN")
                  strong= `${__("Description")}`
                .col-sm-10
                    textarea#mytextareaEN.form-control(name="descriptionEN" rows="13" cols="75" placeholder="Here is your horse's description in English.")= horse.descriptionEN
            .form-group.row
                label.col-sm-2.col-form-label(for="offspring")= __("Offspring")
                if horse.offspring
                  #offspringlist.col-sm-10
                    #offspring.offspring
                      -for (var i = 0; i < horse.offspring.length; i++)
                        input(name="offspring[]" value=horse.offspring[i])
                    p#addoffspring
                      a.btn-add-pink(href="javascript:add_offspring()")
                        i.fa.fa-plus-square(aria-hidden="true")
                        = __("Add More")
                else
                  #offspringlist.col-sm-10
                      #offspring.offspring
                        input(type="text" name="offspring[]" class="col-12" placeholder="Emerald van 't Ruytershof - ds. Carthago Z - 1m60 with Harrie Smolders'" size="50" value=horse.offspring)
                        small#offspringHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                          =__("OffspringText")
                      p#addoffspring
                        a.btn-add-pink(href="javascript:add_offspring()")
                          i.fa.fa-plus-square(aria-hidden="true")
                          = __("Add More")

            #addchild(style="display:none")
                .childfeed
                    input(type="text" name="offspring[]" value="")
    .container.page-block.text-center.wow
      if relateds
        .row.justify-content-md-center
            .col-md-4.text-right
                  .form-group.row.ml-2
                    h4= __("Related horses")
            .col-md-4.text-right
        .row.justify-content-center.mb-5
              .offset-md-1.col-md-12
                each related in relateds
                    .form-check(style="text-align:left;display:inline-block;").col-sm-4
                      - const relatednames = [`${related.birthname}`]
                      - const horseids = [`${related._id}`]
                      - const horsetags = horse.horselist || []
                      each horseid in horseids
                        input.form-check-input(type="checkbox" id=related.birthname value=related._id name="horselist" checked=(horsetags.includes(horseid)) style="vertical-align: middle")
                        label.form-check-label(for="related") #{relatednames}
    .form-row.text-center.justify-content-md-center.pb-5
        .col-sm-8.col-12
          button.btn.btn-primary.btn-rounded.font-weight-semibold(type="submit" style="width:100%;line-height: normal;")= __("Submit")

block append scripts
  script.
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById(termsoption);
        // Get the output text
        var text = document.getElementById("text");
        // If the checkbox is checked, display the output text
        if (checkBox.checked == true){
          text.style.display = "block";
        } else {
          text.style.display = "none";
        }
      }