mixin horseHomeCard(horse = {})
                  // Start Single Case Study TEST
                  .col-lg-4.col-md-6
                    .single-portfolio-wrap
                      figure.portfolio-thumb
                        img(src=`/uploads/${horse.file[0] || 'No-Pic.jpg'}`, alt=horse.birthname)
                        figcaption.portfolio-details
                          .port-info
                            h3
                              a(href=`/${locale}/horse/${horse.slug}`)= horse.birthname
                            nav.nav.portfolio-cate
                              a(href=`/${locale}/horse/${horse.slug}`)= `${horse.sire} x ${horse.damsire}`
                              if horse.level > 0
                                a(href=`/${locale}/horse/${horse.slug}`)= `° ${h.moment(horse.dateOfBirth).format('YYYY')} - ${horse.level} level`
                              else
                                a(href=`/${locale}/horse/${horse.slug}`)= `° ${h.moment(horse.dateOfBirth).format('YYYY')} - ${horse.gender}`
                          a.btn-view-work(href=`/${locale}/horse/${horse.slug}`)
                            = __("More info")
                            i.fa.fa-long-arrow-r