mixin horseCard(horse = {})
    .col-md-4.col-sm-6.col-xs-6.wow.zoomIn(data-wow-duration='0.50s', data-wow-delay='0.75s')
        .team.rectangle
            .img
                a(href=`/${locale}/horse/${horse.slug}`, title=horse.birthname)
                    -var d = new Date("2021-03-07T00:00:00.000+00:00");
                    if !horse.file[0]
                        img.img-responsive(src=`/uploads/No-Pic.jpg`, alt=horse.birthname)
                    else if horse.updated >= d
                        img.img-responsive(src=`/uploads/${horse.file[0]}`, alt=horse.birthname)
                    else if horse.updatedFile.length > 0
                        img.img-responsive(src=`/uploads/${horse.updatedFile[0]}`, alt=horse.birthname)
                    else if horse.file.reverse()
                        img.img-responsive(src=`/uploads/${horse.file[0]}`, alt=horse.birthname)
                    else
                        img.img-responsive(src=`/uploads/${horse.file[0]}`, alt=horse.birthname)
            // end img
            .info
                a(href=`/${locale}/horse/${horse.slug}`, title=horse.birthname)
                    h5(style="text-transform: uppercase;")= horse.birthname
                        small(style="text-transform: uppercase;")= `${horse.sire} x ${horse.damsire}`
            // end info
            ul.social
                li
                    p=`° ${h.moment(horse.dateOfBirth).format('YYYY')}`
                li
                    p=`${__(horse.gender)}`
                if horse.level>0
                    li
                        p=`${horse.level}m level`
        // end team