mixin loginForm()
            form#contact_form(action=`/${locale}/login` method="POST")
              .col-md-6
                input#name.form-control(type="email" name="email" placeholder="Emailadres")
              .col-md-6
                input#name.form-control(type="password" name="password" placeholder="Wachtwoord")
              .col-md-12
                      input#security.form-control.hide(type='text', name='security', value='')
                      input#submit.btn.btn-primary.btn-lg(type='submit', value='Verzend', name='submit' style="margin-bottom:50px;")
              //p.text-center
                = i18n.__("No account")
                a(href=`/${locale}/register`)= i18n.__("Sign up")