mixin mareOwnedCard(mare)
    .stallions--heart
            .row.text-center
                .col-md-3(style="line-height:52px;")
                    p.account-text #{mare.birthname}
                .col-md-3(style="line-height:52px;")
                    p.account-text #{mare.sire} x #{mare.siredam}
                .col-md-2(style="line-height:52px;")
                    p.account-text #{h.moment(mare.dateOfBirth).format('DD-MM-YYYY')}
                .col-md-2
                    a.btn-brand(href=`/mare/${mare.slug}`)= i18n.__("View")
                .col-md-2
                    a.btn-pink(href=`/mares/${mare._id}/edit`)= i18n.__("Edit")
