mixin orderSemenForm(stallion)
  form(action=`/addOrder/${stallion._id}` method="POST" enctype="multipart/form-data")
    .add-container.row.justify-content-md-center
        .col-md-4.text-right
            .form-group.row
              label.col-sm-4.col-form-label(for="stallionname")= `${i18n.__("Stallion Name")}*` 
              .col-sm-8
                input.form-control(type="text" name="stallionname" value=stallion.sportname placeholder=stallion.sportname)
            .form-group.row
              label.col-sm-4.col-form-label(for="sementype")= `${i18n.__("Type of Semen")}*` 
              .col-sm-8
                each semen in stallion.semen
                  .form-check(style="text-align:left;").col-sm-6
                    input.form-check-input(type="checkbox" id=sementype value=semen name="sementype")
                    label.form-check-label(for="sementype") #{semen}
            .form-grouw.row
              .col-sm-7
                h3= i18n.__("Mare Details")
            if user
              .form-group.row
                label.col-sm-4.col-form-label(for="mareid")= `${i18n.__("Your Mares")}*`
                .col-sm-8
                  select.custom-select(name="mareid" id="selectmare" )
                    option(value="0")= i18n.__("Select a mare")
                    each mare in mares
                      option(value=mare._id id="selectmare" name="mareid") #{mare.birthname}
            .form-group.row
              label.col-sm-4.col-form-label(for="marename")= `${i18n.__("Mare Name")}*` 
              .col-sm-8
                input.form-control(type="text" name="marename" value=marename)
            .form-group.row
              label.col-sm-4.col-form-label(for="UELN"  onmouseover="document.getElementById('sportnamehelp').style.display = 'block';" onmouseout="document.getElementById('sportnamehelp').style.display = 'none';")= `${i18n.__("UELN nr Mare")}*` 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #sportnamehelp.form-text.text-muted(style="display:none")
                  = i18n.__("UELNText")
              .col-sm-8
                input.form-control(type="text" name="UELN" value=UELN)
            .form-group.row
              label.col-sm-4.col-form-label(for="dateOfBirthMare")= `${i18n.__("Date of Birth mare")}*` 
              if dateOfBirth
                .col-sm-8
                  input.form-control(type="date" name="dateOfBirthMare" value= h.moment(dateOfBirthMare).format('YYYY-MM-DD'))
              else
                .col-sm-8
                  input.form-control(type="date" name="dateOfBirthMare" value=dateOfBirthMare)
            .form-group.row
              label.col-sm-4.col-form-label(for="studbookmare")= `${i18n.__("Studbook")}*`
              .col-sm-8
                select.custom-select(name="studbookmare")
                  - const studbooks = ['Select a Studbook', 'Zangersheide', 'BWP', 'SBS', 'KWPN', 'AES', 'OS', 'SF', 'Holst', 'Hann', 'Oldbg', 'Westf', 'SWB', 'ISH', 'DSP', 'Rhein', 'Meckl', 'Other' ]
                  each studbook in studbooks
                    option(value=studbook) #{studbook}
            .form-group.row
              label.col-sm-4.col-form-label(for="siremare")= `${i18n.__("Sire of the mare")}*` 
              .col-sm-8
                input.form-control(type="text" name="siremare" value=siremare)
            .form-group.row
              label.col-sm-4.col-form-label(for="damsiremare")= `${i18n.__("Damsire of the mare")}*` 
              .col-sm-8
                input.form-control(type="text" name="damsiremare" value=damsiremare)
            .form-group.row
              label.col-sm-4.col-form-label(for="file")= i18n.__("File")
              .col-sm-8
                #files
                  input#file(name="file[]" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    = i18n.__("UploadText")
        .col-md-4.text-right
          .form-grouw.row
            .col-sm-6
                h3= i18n.__("Insemination Details")
          .form-group.row.sperm
            .col-sm-4= i18n.__("Insemination type")
            .col-sm-8
              - const inseminationoptions = [`${i18n.__("First Insemination")}`, `${i18n.__("Re-insemination")}`, `${i18n.__("New Heat Cycle")}`]
              - const inseminationtags = insemination || []
              each inseminationoption in inseminationoptions
                .form-check(style="text-align:left;").col-sm-6
                  input.form-check-input(type="checkbox" id=inseminationoption value=inseminationoption name="insemination" checked=(inseminationtags.includes(inseminationoption)))
                  label.form-check-label(for="inseminationoption") #{inseminationoption}
          .form-group.row.sperm
            .col-sm-4= i18n.__("Previous Year")
            .col-sm-8
              - const previousoptions = [`${i18n.__("No foal before")}`, `${i18n.__("Foal Before")}`]
              - const previoustags = previous || []
              each previousoption in previousoptions
                .form-check(style="text-align:left;").col-sm-6
                  input.form-check-input(type="checkbox" id=previousoption value=previousoption name="previous" checked=(previoustags.includes(previousoption)))
                  label.form-check-label(for="previousoption") #{previousoption}
          .form-group.row.approved
            .col-sm-4= `${i18n.__("Embryotransplantation")}*`
            .col-sm-8
              - const etoptions = [`${i18n.__("Yes")}`, `${i18n.__("No")}`]
              - const ettags = etoption || []
              each etoption in etoptions
                .form-check(style="text-align:left;").col-sm-6
                  input.form-check-input(type="checkbox" id=etoption value=etoption name="etoption" checked=(ettags.includes(etoption)))
                  label.form-check-label(for="etoption") #{etoption}
          .form-group.row
              label.col-sm-4.col-form-label(for="breedingass")= i18n.__("Breeding Association")
              .col-sm-8
                input.form-control(type="text" name="breedingass" value=breedingass)
          .form-group.row
              label.col-sm-4.col-form-label(for="membershipnr")= i18n.__("Membership Number")
              .col-sm-8
                input.form-control(type="text" name="membershipnr" value=membershipnr)
          .form-group.row.sperm
            .col-sm-4(onmouseover="document.getElementById('deliveryhelp').style.display = 'block';" onmouseout="document.getElementById('deliveryhelp').style.display = 'none';")= `${i18n.__("Delivery Location")}*` 
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #deliveryhelp.form-text.text-muted(style="display:none")
                = i18n.__("DeliveryText")
            .col-sm-8
              - const deliveryoptions = [`${i18n.__("Owner")}`, `${i18n.__("Vet")}`,`${i18n.__("Other")}`]
              - const deliverytags = delivery || []
              each deliveryoption in deliveryoptions
                .form-check(style="text-align:left;padding-left: 25px !important;").col-sm-4
                  input.form-check-input(type="checkbox" id=deliveryoption value=deliveryoption name="delivery" checked=(deliverytags.includes(deliveryoption)))
                  label.form-check-label(for="deliveryoption") #{deliveryoption}
          .form-group.row
            label.col-sm-4.col-form-label(for="deliveryDate" onmouseover="document.getElementById('freshfromhelp').style.display = 'block';" onmouseout="document.getElementById('freshfromhelp').style.display = 'none';")= i18n.__("Semen required on")
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #freshfromhelp.form-text.text-muted(style="display:none")
                  = i18n.__("DeliveryTimeText")
            if deliveryDate
              .col-sm-8
                input.form-control(type="date" name="deliveryDate" value= h.moment(deliveryDate).format('YYYY-MM-DD'))
            else
              .col-sm-8
                input.form-control(type="date" name="deliveryDate" value=deliveryDate)
          .form-group.row.approved
            .col-sm-4= `${i18n.__("Shipping Type")}*` 
            .col-sm-8
              - const shipoptions = [`${i18n.__("Same Day Delivery")}`,`${i18n.__("Overnight Express")}`, `${i18n.__("Pick Up")}`, `${i18n.__("Other")}`]
              - const shiptags = shipoption || []
              each shipoption in shipoptions
                .form-check(style="text-align:left;padding-left: 25px !important;").col-sm-6
                  input.form-check-input(type="checkbox" id=shipoption value=shipoption name="shipoption" checked=(shiptags.includes(shipoption)))
                  label.form-check-label(for="shipoption") #{shipoption}
          .form-group.row
                label.col-sm-4.col-form-label(for="locationowner" onmouseover="document.getElementById('locationhelp').style.display = 'block';" onmouseout="document.getElementById('locationhelp').style.display = 'none';")= i18n.__("Alternative Delivery Address") 
                  i#infoname.fa.fa-info-circle(aria-hidden="true")
                  #locationhelp.form-text.text-muted(style="display:none")
                    = i18n.__("AlternativeAddText")
                .col-sm-8
                  input.form-control(type="text" id="address" name="locationother[address]" value=(locationotger && locationother.address))
          .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="lng") Longitude
                .col-sm-8
                  input.form-control(type="text" id="lng" name="locationother[coordinates][0]" value=(locationother && locationother.coordinates[0]))
          .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="lat") Latitude
                .col-sm-8
                  input.form-control(type="text" id="lat" name="locationother[coordinates][1]" value=(locationother && locationother.coordinates[1]))
          .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="emailstallionowner") Email Stallion Owner
                .col-sm-8
                  input.form-control(type="text" id="emailstallionowner" name="emailstallionowner" value=stallion.owner.email)

    .add-container.row.justify-content-md-center
      .col-md-4.text-right
            .form-grouw.row
              .col-sm-6
                  h3= i18n.__("Mare Owner Details")
            if user
              .form-group.row
                label.col-sm-4.col-form-label(for="nameowner")= `${i18n.__("Full Name Owner")}*`
                .col-sm-8
                  input.form-control(type="text" name="nameowner" value=user.name)
            else
              .form-group.row
                label.col-sm-4.col-form-label(for="nameowner")= `${i18n.__("Full Name Owner")}*`
                .col-sm-8
                  input.form-control(type="text" name="nameowner" value=nameowner)
            if user
              .form-group.row
                label.col-sm-4.col-form-label(for="locationowner" onmouseover="document.getElementById('locationhelp').style.display = 'block';" onmouseout="document.getElementById('locationhelp').style.display = 'none';")= `${i18n.__("Address Owner")}*` 
                  i#infoname.fa.fa-info-circle(aria-hidden="true")
                  #locationhelp.form-text.text-muted(style="display:none")
                    = i18n.__("OwnerAddText")
                .col-sm-8
                  input.form-control(type="text" id="addressowner" name="locationowner[address]" value=(user.location && user.location.address))
            else
              .form-group.row
                label.col-sm-4.col-form-label(for="locationowner" onmouseover="document.getElementById('locationhelp').style.display = 'block';" onmouseout="document.getElementById('locationhelp').style.display = 'none';")= `${i18n.__("Address Owner")}*` 
                  i#infoname.fa.fa-info-circle(aria-hidden="true")
                  #locationhelp.form-text.text-muted(style="display:none")
                    = i18n.__("OwnerAddText")
                .col-sm-8
                  input.form-control(type="text" id="addressowner" name="locationowner[address]" value=(locationowner && locationowner.address))
            .form-group.row
                label.col-sm-4.col-form-label(for="VAT" onmouseover="document.getElementById('xxoxhelp').style.display = 'block';" onmouseout="document.getElementById('xxoxhelp').style.display = 'none';")= i18n.__("VAT number")
                  i#infoname.fa.fa-info-circle(aria-hidden="true")
                  #xxoxhelp.form-text.text-muted(style="display:none")
                    = i18n.__("VATText")
                .col-sm-8
                  input.form-control(type="text" name="VAT" value=VAT)
            if user
              .form-group.row
                label.col-sm-4.col-form-label(for="phoneowner1")= `${i18n.__("Phonenumber")}*`
                .col-sm-8
                  input.form-control(type="text" name="phoneowner1" value=user.phone)
            else
              .form-group.row
                label.col-sm-4.col-form-label(for="phoneowner1")= `${i18n.__("Phonenumber")}*`
                .col-sm-8
                  input.form-control(type="text" name="phoneowner1" value=phoneowner1)
            .form-group.row
                label.col-sm-4.col-form-label(for="phoneowner2")= i18n.__("Mobile number")
                .col-sm-8
                  input.form-control(type="text" name="phoneowner2" value=phoneowner2)
            if user
              .form-group.row
                label.col-sm-4.col-form-label(for="emailowner")= `${i18n.__("Email")}*`
                .col-sm-8
                  input.form-control(type="text" name="emailowner" value=user.email)
            else
              .form-group.row
                label.col-sm-4.col-form-label(for="emailowner")= `${i18n.__("Email")}*`
                .col-sm-8
                  input.form-control(type="text" name="emailowner" value=emailowner)
            if user
              .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="lng") Longitude
                .col-sm-8
                  input.form-control(type="text" id="lngowner" name="locationowner[coordinates][0]" value=(user.location && user.location.coordinates[0]))
              .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="lat") Latitude
                .col-sm-8
                  input.form-control(type="text" id="latowner" name="locationowner[coordinates][1]" value=(user.location && user.location.coordinates[1]))
            else
              .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="lng") Longitude
                .col-sm-8
                  input.form-control(type="text" id="lngowner" name="locationowner[coordinates][0]" value=(locationowner && locationowner.coordinates[0]))
              .form-group.row(style="display:none")
                label.col-sm-4.col-form-label(for="lat") Latitude
                .col-sm-8
                  input.form-control(type="text" id="latowner" name="locationowner[coordinates][1]" value=(locationowner && locationowner.coordinates[1]))
      .col-md-4.text-right      
          .form-grouw.row
              .col-sm-6
                h3= i18n.__("Veterinarian Details")
          .form-group.row
              label.col-sm-4.col-form-label(for="namevet")= `${i18n.__("Full Name Vet")}*`
              .col-sm-8
                input.form-control(type="text" name="namevet" value=namevet)
          .form-group.row
              label.col-sm-4.col-form-label(for="locationvet")= `${i18n.__("Address Vet")}*` 
              .col-sm-8
                input.form-control(type="text" id="addressvet" name="locationvet[address]" value=(locationvet && locationvet.address))
          .form-group.row
              label.col-sm-4.col-form-label(for="phonevet1")= `${i18n.__("Phone Vet")}*`
              .col-sm-8
                input.form-control(type="text" name="phonevet1" value=phonevet1)
          .form-group.row
              label.col-sm-4.col-form-label(for="phonevet2")= i18n.__("Mobile Vet")
              .col-sm-8
                input.form-control(type="text" name="phonevet2" value=phonevet2)
          .form-group.row
              label.col-sm-4.col-form-label(for="emailvet")= i18n.__("Email Vet")
              .col-sm-8
                input.form-control(type="text" name="emailvet" value=emailvet)
          .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lng") Longitude
              .col-sm-8
                input.form-control(type="text" id="lngvet" name="locationvet[coordinates][0]" value=(locationvet && locationvet.coordinates[0]))
          .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lat") Latitude
              .col-sm-8
                input.form-control(type="text" id="latvet" name="locationvet[coordinates][1]" value=(locationvet && locationvet.coordinates[1]))

    .row.justify-content-md-center
        .col-md-8
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="comments")= i18n.__("Comments")
                .col-sm-8
                    textarea.form-control(name="comments" rows="5" cols="20" placeholder="Additional text." style="width: 30vw !important;")= comments
            .form-group.input-group.offset-sm-4.col-sm-8
              - const termsoptions = [`${i18n.__("Termstext")}`]
              each termsoption in termsoptions
                input.form-check-input(type="checkbox" id=termsoption value=termsoption name="terms" style="vertical-align: middle")
                label.form-check-label(for="termsoption") #{termsoption}
    .form-row.text-center.justify-content-md-center.pb-5
        .col-8
          button.btn.btn-brand(type="submit" style="width:100%;line-height: normal;")= i18n.__("Submit")
