mixin orderOverview(order)
    .add-container.row.justify-content-md-center
        .col-md-4.text-right
            .form-group.row
              .col-sm-4(for="stallionname")= i18n.__("Stallion Name")* 
              .col-sm-8
                p= order.stallionname
            .form-group.row
              .col-sm-4(for="sementype")= i18n.__("Type of Semen")* 
              .col-sm-8
                p=order.sementype
            .form-group.row
              .col-sm-4(for="marename")= i18n.__("Mare Name")* 
              .col-sm-8
                p= order.marename
            .form-group.row
              .col-sm-4(for="UELN")= i18n.__("UELN nr Mare")* 
              .col-sm-8
                p=order.UELN
            .form-group.row
              .col-sm-4(for="dateOfBirthMare")= i18n.__("Date of Birth mare")* 
              .col-sm-8
                  p= h.moment(order.dateOfBirthMare).format('YYYY-MM-DD')
            .form-group.row
              .col-sm-4(for="studbookmare")= `${i18n.__("Studbook")}*`
              .col-sm-8
                p= order.studbookmare
            .form-group.row
              .col-sm-4(for="siremare")= i18n.__("Sire of the mare")* 
              .col-sm-8
                p=order.siremare
            .form-group.row
              .col-sm-4(for="damsiremare")= i18n.__("Damsire of the mare")* 
              .col-sm-8
                p=order.damsiremare
        .col-md-4.text-right
          .form-group.row
            .col-sm-4= i18n.__("Insemination type")
            .col-sm-8
              p=order.insemination
          .form-group.row
            .col-sm-4= i18n.__("Previous Year")
            .col-sm-8
              p=order.previous
          .form-group.row
            .col-sm-4= i18n.__("Embryotransplantation")*
            .col-sm-8
              p=order.etoption
          if order.breedingass!=""
            .form-group.row
              .col-sm-4(for="breedingass")= i18n.__("Breeding Association")
              .col-sm-8
                p=order.breedingass
          if order.membershipnr!=""
            .form-group.row
              .col-sm-4(for="membershipnr")= i18n.__("Membership Number")
              .col-sm-8
                p=order.membershipnr
          .form-group.row
            .col-sm-4= i18n.__("Delivery Location")
            .col-sm-8
              p= order.delivery
          .form-group.row
            .col-sm-4(for="deliveryDate")= i18n.__("Semen required on")
            .col-sm-8
              p=h.moment(order.deliveryDate).format('YYYY-MM-DD')
          .form-group.row
            .col-sm-4= i18n.__("Shipping Type")* 
            .col-sm-8
              p=order.shipoption
          if order.deliveryLocation.address!==undefined
            .form-group.row
                .col-sm-4(for="locationother")= i18n.__("Alternative Delivery Address") 
                .col-sm-8
                  p= order.deliveryLocation.address
          if order.comments!==""
            .form-group.row
                .col-sm-4(for="comments")= i18n.__("Comments")
                .col-sm-8
                  p= order.comments

    .add-container.row.justify-content-md-center
      .col-md-4.text-right
            .form-grouw.row
              .col-sm-6
                  h3= i18n.__("Mare Owner Details")
            .form-group.row
                .col-sm-4(for="nameowner")= i18n.__("Full Name Owner")*
                .col-sm-8
                  p=order.nameowner
            .form-group.row
                .col-sm-4(for="locationowner")= i18n.__("Address Owner")* 
                .col-sm-8
                  p= order.locationowner.address
            if order.VAT!=""
              .form-group.row
                .col-sm-4(for="VAT" )= i18n.__("VAT number")
                .col-sm-8
                  p=order.VAT
            .form-group.row
                .col-sm-4(for="phoneowner1")= i18n.__("Phonenumber")*
                .col-sm-8
                  p=order.phoneowner1
            if order.phoneowner2!=""
              .form-group.row
                .col-sm-4(for="phoneowner2")= i18n.__("Mobile number")
                .col-sm-8
                  p=order.phoneowner2
            .form-group.row
                .col-sm-4(for="emailowner")= i18n.__("Email")*
                .col-sm-8
                  p=order.emailowner
      .col-md-4.text-right      
          .form-grouw.row
              .col-sm-6
                h3= i18n.__("Veterinarian Details")
          .form-group.row
              .col-sm-4(for="namevet")= i18n.__("Full Name Vet")*
              .col-sm-8
                p=order.namevet
          .form-group.row
              .col-sm-4(for="locationvet")= i18n.__("Address Vet")* 
              .col-sm-8
                p= order.locationvet.address
          .form-group.row
              .col-sm-4(for="phonevet1")= i18n.__("Phone Vet")*
              .col-sm-8
                p=order.phonevet1
          if order.phonevet2!=""
            .form-group.row
              .col-sm-4(for="phonevet2")= i18n.__("Mobile Vet")
              .col-sm-8
                p=order.phonevet2
          .form-group.row
              .col-sm-4(for="emailvet")= i18n.__("Email")
              .col-sm-8
                p=order.emailvet

    .row.justify-content-md-center
        .col-md-8
            .form-group.input-group.offset-sm-4.col-sm-8
              p= order.terms
