mixin orderCard(order)
    .stallions--heart
            .row.text-center
                .col-md-2(style="line-height:52px;")
                    p.account-text= `${i18n.__("Orderdate")}: ${h.moment(order.created).format('DD-MM-YYYY')}`
                .col-md-2(style="line-height:52px;")
                    p.account-text ##{order._id}
                .col-md-3(style="line-height:52px;")
                    p.account-text #{order.stallionname} x #{order.marename}
                .col-md-3(style="line-height:52px;")
                    p.account-text= `${i18n.__("DeliverySemen")}: #{h.moment(order.deliveryDate).format('DD-MM-YYYY')}`
                .col-md-2  
                    a.btn-brand(href=`/order/${order._id}`)= i18n.__("View")
