mixin pagination(page, pages, count)
    .pagination.col-md-8
        .pagination__prev
            if page > 1
                a(href=`/embryyos/page/${page-1}`)= i18n.__("Previous")
        .pagination__text
            p= `${i18n.__("Page")} ${page} ${i18n.__("of")} ${pages}`
        .pagination__next
            if page < pages
                 a(href=`/embryos/page/${parseFloat(page)+1}`)= i18n.__("Next")

