mixin review(review)
    -  var count = 0;
    -  var test = stallion.slug
    each average, i in averages
        if stallion.slug == average.slug
            .review-container.justify-content-md-center
                    .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;margin-top:0;")
                        .row
                            .col-md-9
                                h3.title(style="padding-top:20px;")= `${i18n.__("AverageBQ")} ${stallion.reviews.length} ${i18n.__("reviews")}`
                            .col-md-3
                                -for (var j=0; j < review.length && j < 4; j++)
                                    img.avatarreview(src=review[j].author.gravatar + '&d=retro' style=`z-index:${j}`)
                                -var h = review.length -j
                                if h > 0
                                    .container(style="position: relative;text-align: center;color: white;margin-left: -20px;height: 60px;display: initial;margin-bottom: 12%;border-radius: 50%;")
                                        img.avatarreview(src="https://dummyimage.com/150x150/192230/192230" style=`z-index:${h}`)
                                        .centered(style="position: absolute;top: 12%;left: 36%;transform: translate(-50%, -50%);font-size: 11px;")
                                            p= `& ${h} others`
                                    

                        .review.row
                            .review__header.col-md-12.pr-1.pl-1
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageSizeRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Size")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageSizeRating)
                                                = `☆`.repeat(5 - average.averageSizeRating)
                                        .reviewplacement(style="float:left;")=i18n.__("Small")
                                        .reviewplacement(style="float:right;")=i18n.__("Large")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageModelRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Geometric model")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageModelRating)
                                                = `☆`.repeat(5 - average.averageModelRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Square")
                                        .reviewplacement(style="float:right;")= i18n.__("Rectangular")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageTypeRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Type")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageTypeRating)
                                                = `☆`.repeat(5 - average.averageTypeRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Short-legged")
                                        .reviewplacement(style="float:right;")= i18n.__("Long-legged")
                                .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${average.averageHeadRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Head")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageHeadRating)
                                                = `☆`.repeat(5 - average.averageHeadRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Log")
                                        .reviewplacement(style="float:right;")= i18n.__("Chique")
                            .review__header.col-md-12.pr-1.pl-1
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageNeckRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Neck")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageNeckRating)
                                                = `☆`.repeat(5 - average.averageNeckRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Horizontal")
                                        .reviewplacement(style="float:right;")= i18n.__("Vertical")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageOrientationRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Geometric orientation")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageOrientationRating)
                                                = `☆`.repeat(5 - average.averageOrientationRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Downhill")
                                        .reviewplacement(style="float:right;")= i18n.__("Uphill")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageWalkLengthRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Walk")} - ${i18n.__("length")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageWalkLengthRating)
                                                = `☆`.repeat(5 - average.averageWalkLengthRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Short")
                                        .reviewplacement(style="float:right;")= i18n.__("Long")
                                .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${average.averageWalkSuppleRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Walk")} - ${i18n.__("Suppleness")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageWalkSuppleRating)
                                                = `☆`.repeat(5 - average.averageWalkSuppleRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Stiff")
                                        .reviewplacement(style="float:right;")= i18n.__("Flexible")
                            .review__header.col-md-12.pr-1.pl-1
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageBraveRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Braveness")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageBraveRating)
                                                = `☆`.repeat(5 - average.averageBraveRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Spooky")
                                        .reviewplacement(style="float:right;")= i18n.__("Brave")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageBloodRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= i18n.__("Blood")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageBloodRating)
                                                = `☆`.repeat(5 - average.averageBloodRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Little")
                                        .reviewplacement(style="float:right;")= i18n.__("Lot")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageTrotLengthRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Trot")} - ${i18n.__("length")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageTrotLengthRating)
                                                = `☆`.repeat(5 - average.averageTrotLengthRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Short")
                                        .reviewplacement(style="float:right;")= i18n.__("Long")
                                .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${average.averageTrotSuppleRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Trot")} - ${i18n.__("Suppleness")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageTrotSuppleRating)
                                                = `☆`.repeat(5 - average.averageTrotSuppleRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Stiff")
                                        .reviewplacement(style="float:right;")= i18n.__("Flexible")
                            .review__header.col-md-12.pr-1.pl-1
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageFrontRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Technique")} - ${i18n.__("Frontleg")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageFrontRating)
                                                = `☆`.repeat(5 - average.averageFrontRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Long")
                                        .reviewplacement(style="float:right;")= i18n.__("Quick")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageHindRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Technique")} - ${i18n.__("Hindleg")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageHindRating)
                                                = `☆`.repeat(5 - average.averageHindRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Tight")
                                        .reviewplacement(style="float:right;")= i18n.__("Open")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageCanterLengthRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        p(style="text-align: left")= `${i18n.__("Canter")} - ${i18n.__("length")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageCanterLengthRating)
                                                = `☆`.repeat(5 - average.averageCanterLengthRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Short")
                                        .reviewplacement(style="float:right;")= i18n.__("Long")
                                .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${average.averageCanterSuppleRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1
                                        = `${i18n.__("Canter")} - ${i18n.__("Suppleness")}`
                                        p
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageCanterSuppleRating)
                                                = `☆`.repeat(5 - average.averageCanterSuppleRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Stiff")
                                        .reviewplacement(style="float:right;")= i18n.__("Flexible")
                            .review__header.col-md-12.pr-1.pl-1
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageCarefulRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1= i18n.__("Carefulnes")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageCarefulRating)
                                                = `☆`.repeat(5 - average.averageCarefulRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Uncareful")
                                        .reviewplacement(style="float:right;")= i18n.__("Careful")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageScopeRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1= i18n.__("Scope")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageScopeRating)
                                                = `☆`.repeat(5 - average.averageScopeRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Little")
                                        .reviewplacement(style="float:right;")= i18n.__("Lot")
                                .review__stars.col-md-3.pr-1.pl-1(title=`Rated ${average.averageBackRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1= `${i18n.__("Technique")} - ${i18n.__("Back")}`
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageBackRating)
                                                = `☆`.repeat(5 - average.averageBackRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Hollow")
                                        .reviewplacement(style="float:right;")= i18n.__("Round")
                                .review__stars.col-md-3.pr-1.pl-1.border-right-0(title=`Rated ${average.averageCharacterRating} out of 5 stars`)
                                    .reviewtitle.col-md-4.pr-1.pl-1= i18n.__("Character")
                                    .starstext.col-md-8
                                        .star_together
                                            .reviewer__stars
                                                = `★`.repeat(average.averageCharacterRating)
                                                = `☆`.repeat(5 - average.averageCharacterRating)
                                        .reviewplacement(style="float:left;")= i18n.__("Difficult")
                                        .reviewplacement(style="float:right;")= i18n.__("Easy")