mixin reviewForm(stallion)
    form.reviewer(action=`/reviews/${stallion._id}` method="POST")
        .review-container.justify-content-md-center
            .col-md-9.stallions-page.text-left(style="margin-left:auto;margin-right:auto;margin-top:0;")
                .row
                    .col-md-9
                        h3.title= i18n.__("Breeding Qualities")
                .review.row
                    .review__header.col-md-12.pr-1.pl-1
                        .review__stars.col-md-3.pr-1.pl-1
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Size")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star${num}` name="rating_size" value=num)
                                            label(for=`star${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Small")
                                .reviewplacement(style="float:right;")=i18n.__("Large")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Geometric model")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_model${num}` name="model_size" value=num)
                                            label(for=`star_model${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Square")
                                .reviewplacement(style="float:right;")= i18n.__("Rectangular")
                        .review__stars.col-md-3.pr-1.pl-1
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Type")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_type${num}` name="type_size" value=num)
                                            label(for=`star_type${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Short-legged")
                                .reviewplacement(style="float:right;")= i18n.__("Long-legged")
                        .review__stars.col-md-3.pr-1.pl-1.border-right-0
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Head")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_head${num}` name="head_size" value=num)
                                            label(for=`star_head${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Log")
                                .reviewplacement(style="float:right;")= i18n.__("Chique")
                    .review__header.col-md-12.pr-1.pl-1
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Neck")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_neck${num}` name="neck_size" value=num)
                                            label(for=`star_neck${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Horizontal")
                                .reviewplacement(style="float:right;")= i18n.__("Vertical")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Geometric orientation")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_orientation${num}` name="orientation_size" value=num)
                                            label(for=`star_orientation${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Downhill")
                                .reviewplacement(style="float:right;")= i18n.__("Uphill")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Walk")} - ${i18n.__("Length")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_walklength${num}` name="walklength_size" value=num)
                                            label(for=`star_walklength${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Short")
                                .reviewplacement(style="float:right;")= i18n.__("Long")
                        .review__stars.col-md-3.pr-1.pl-1.border-right-0
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Walk")} - ${i18n.__("Suppleness")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_walksupple${num}` name="walksupple_size" value=num)
                                            label(for=`star_walksupple${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Stiff")
                                .reviewplacement(style="float:right;")= i18n.__("Flexible")
                    .review__header.col-md-12.pr-1.pl-1
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Braveness")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_brave${num}` name="brave_size" value=num)
                                            label(for=`star_brave${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Spooky")
                                .reviewplacement(style="float:right;")= i18n.__("Brave")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= i18n.__("Blood")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_blood${num}` name="blood_size" value=num)
                                            label(for=`star_blood${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Little")
                                .reviewplacement(style="float:right;")= i18n.__("Lot")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Trot")} - ${i18n.__("Length")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_trotlength${num}` name="trotlength_size" value=num)
                                            label(for=`star_trotlength${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Short")
                                .reviewplacement(style="float:right;")= i18n.__("Long")
                        .review__stars.col-md-3.pr-1.pl-1.border-right-0
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Trot")} - ${i18n.__("Suppleness")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_trotsupple${num}` name="trotsupple_size" value=num)
                                            label(for=`star_trotsupple${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Stiff")
                                .reviewplacement(style="float:right;")= i18n.__("Flexible")
                    .review__header.col-md-12.pr-1.pl-1
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Technique")} - ${i18n.__("Frontleg")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_front${num}` name="front_size" value=num)
                                            label(for=`star_front${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Long")
                                .reviewplacement(style="float:right;")= i18n.__("Quick")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Technique")} - ${i18n.__("Hindleg")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_hind${num}` name="hind_size" value=num)
                                            label(for=`star_hind${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Tight")
                                .reviewplacement(style="float:right;")= i18n.__("Open")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Canter")} - ${i18n.__("Length")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_canterlength${num}` name="canterlength_size" value=num)
                                            label(for=`star_canterlength${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Short")
                                .reviewplacement(style="float:right;")= i18n.__("Long")
                        .review__stars.col-md-3.pr-1.pl-1.border-right-0 
                            .reviewtitle.col-md-4.pr-1.pl-1
                                p(style="text-align: left")= `${i18n.__("Canter")} - ${i18n.__("Suppleness")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_cantersupple${num}` name="cantersupple_size" value=num)
                                            label(for=`star_cantersupple${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Stiff")
                                .reviewplacement(style="float:right;")= i18n.__("Flexible")
                    .review__header.col-md-12.pr-1.pl-1
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1= i18n.__("Carefulnes")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_careful${num}` name="careful_size" value=num)
                                            label(for=`star_careful${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Uncareful")
                                .reviewplacement(style="float:right;")= i18n.__("Careful")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1= i18n.__("Scope")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_scope${num}` name="scope_size" value=num)
                                            label(for=`star_scope${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Little")
                                .reviewplacement(style="float:right;")= i18n.__("Lot")
                        .review__stars.col-md-3.pr-1.pl-1 
                            .reviewtitle.col-md-4.pr-1.pl-1= `${i18n.__("Technique")} - ${i18n.__("Back")}`
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_back${num}` name="back_size" value=num)
                                            label(for=`star_back${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Hollow")
                                .reviewplacement(style="float:right;")= i18n.__("Round")
                        .review__stars.col-md-3.pr-1.pl-1.border-right-0 
                            .reviewtitle.col-md-4.pr-1.pl-1= i18n.__("Character")
                            .starstext.col-md-8
                                .star_together
                                    .reviewer__stars
                                        each num in [5,4,3,2,1]
                                            input(type="radio" required id=`star_character${num}` name="character_size" value=num)
                                            label(for=`star_character${num}`)= `${num} ${i18n.__("Stars")}`
                                .reviewplacement(style="float:left;")= i18n.__("Difficult")
                                .reviewplacement(style="float:right;")= i18n.__("Easy")  
                input.btn-brand.ml-auto.mr-auto(type="submit" value= i18n.__("Submit Review"))