mixin stallionCard(horse = {})
                    li
                        img.img-responsive(src=`/uploads/${horse.file || 'stallion.png'}` onerror="this.src = '/images/icons/favicon.png';", width='725', height='475', alt='Project Name')
                        .project-data
                            ul
                                li
                                    i.fas.fa-chess-knight.squareSmall.outline
                                    strong Name
                                    = horse.birthname
                                li
                                    i.fas.fa-dna.squareSmall.outline
                                    strong Pedigree
                                    = `${horse.sire} x ${horse.damsire}`
                                li
                                    i.far.fa-calendar-alt.squareSmall.outline
                                    strong Age
                                    = `° ${h.moment(horse.dateOfBirth).format('YYYY')}`
                                li
                                    i.fas.fa-ruler-vertical.squareSmall.outline
                                    strong Level
                                    = `${horse.level}m level`
                            a.btn.btn-dark.btn-lg(href=`/${locale}/horse/${horse.slug}`, title='View Details')
                                | View Details
                                i.fa.fa-chevron-circle-right