mixin stallionForm(stallion = {})
  form(action=`/addStallion/${stallion._id || ''}` method="POST" enctype="multipart/form-data")
    .add-container.row.justify-content-md-center
        .col-md-4.text-right
            .form-group.row
              label.col-sm-4.col-form-label(for="birthname" onmouseover="document.getElementById('birthnamehelp').style.display = 'block';" onmouseout="document.getElementById('birthnamehelp').style.display = 'none';")
                strong= `${i18n.__("Birthname")}*` 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #birthnamehelp.form-text.text-muted(style="display:none")
                  = i18n.__("BirthText")
              .col-sm-8
                input.form-control(type="text" name="birthname" value=stallion.birthname)
            .form-group.row
              label.col-sm-4.col-form-label(for="sportname"  onmouseover="document.getElementById('sportnamehelp').style.display = 'block';" onmouseout="document.getElementById('sportnamehelp').style.display = 'none';") 
                strong= `${i18n.__("Sportname")}*`
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #sportnamehelp.form-text.text-muted(style="display:none")
                  = i18n.__("SportText")
              .col-sm-8
                input.form-control(type="text" name="sportname" value=stallion.sportname)
            .form-group.row
              label.col-sm-4.col-form-label(for="category")
                strong= `${i18n.__("Category")}*`
              .col-sm-8
                - const categories = [`${i18n.__("Jumping")}`, `${i18n.__("Dressage")}`, `${i18n.__("Eventing")}`, `${i18n.__("Pony")}`, `${i18n.__("Other")}`]
                - const cattags = stallion.category || []
                each category in categories
                  .form-check
                    input.form-check-input(type="checkbox" id=category value=category name="category" checked=(cattags.includes(category)))
                    label.form-check-label(for="category") #{category}
            .form-group.row
              label.col-sm-4.col-form-label(for="dateOfBirth")
                strong= `${i18n.__("Date Of Birth")}*`
              if stallion.dateOfBirth
                .col-sm-8
                  input.form-control(type="date" name="dateOfBirth" value= h.moment(stallion.dateOfBirth).format('YYYY-MM-DD'))
              else
                .col-sm-8
                  input.form-control(type="date" name="dateOfBirth" value=DD-MM-YYYY)
            .form-group.row
              label.col-sm-4.col-form-label(for="breeder")
                strong= `${i18n.__("Breeder")}*`
              .col-sm-8
                input.form-control(type="text" name="breeder" value=stallion.breeder)
            .form-group.row
              label.col-sm-4.col-form-label(for="level")
                strong= `${i18n.__("Level")}*`
              .col-sm-8
                select.custom-select(name="level")
                  option(value=`${stallion.level || "No Level"}`) #{stallion.level || "Choose a Level"}
                  option(value="1.60") 1.60 m
                  option(value="1.55") 1.55 m
                  option(value="1.50") 1.50 m
                  option(value="1.45") 1.45 m
                  option(value="1.40") 1.40 m
                  option(value="1.35") 1.35 m
                  option(value="1.30") 1.30 m
                  option(value="1.25") 1.25 m
                  option(value="1.20") 1.20 m
                  option(value="1.15") 1.15 m
                  option(value="1.10") 1.10 m
                  option(value="1.00") 1 m
                  option(value="0") No Competition yet
            .form-group.row
              label.col-sm-4.col-form-label(for="studbook")
                strong= `${i18n.__("Studbook")}*`
              .col-sm-8
                select.custom-select(name="studbook")
                  option(value=`${stallion.studbook || "No Studbook"}`) #{stallion.studbook || "Choose a Studbook"}
                  option(value="Zangersheide") Zangersheide
                  option(value="BWP") BWP
                  option(value="SBS") SBS
                  option(value="AES") AES
                  option(value="KWPN") KWPN
                  option(value="OS") OS
                  option(value="WEST") WEST
                  option(value="Holst") Holst
                  option(value="SF") SF
                  option(value="Hann") Hann
                  option(value="SWB") SWB
                  option(value="Oldbg") Oldbg
                  option(value="DSP") DSP
                  option(value="ISH") ISH
                  option(value="SLS") SLS
                  option(value="RHEIN") RHEIN
                  option(value="MIPAAF") MIPAAF
                  option(value="SHBGB") SHBGB
                  option(value="CH") CH
                  option(value="DWB") DWB
                  option(value="NRPS") NRPS
                  option(value="Meckl") Meckl
                  option(value="Other") Other
            .form-group.row
              label.col-sm-4.col-form-label(for="color")
                strong= `${i18n.__("Color")}*`
              .col-sm-8
                select.custom-select(name="color")
                  option(value=`${stallion.color || "No Color"}`) #{stallion.color || "Choose a color"}
                  option(value="Bay")= i18n.__("Bay")
                  option(value="Black")= i18n.__("Black")
                  option(value="Chestnut")= i18n.__("Chestnut")
                  option(value="Grey")= i18n.__("Grey")
                  option(value="Piebald")= i18n.__("Piebald")
                  option(value="Other")= i18n.__("Other")
            .form-group.row
              label.col-sm-4.col-form-label(for="height" onmouseover="document.getElementById('heighthelp').style.display = 'block';" onmouseout="document.getElementById('heighthelp').style.display = 'none';")
                strong= `${i18n.__("Height cm")}*`
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #heighthelp.form-text.text-muted(style="display:none")
                  = i18n.__("HeightText")
              .col-sm-8
                input.form-control(type="text" name="height" value=stallion.height)
            .form-group.row
              label.col-sm-4.col-form-label(for="location" onmouseover="document.getElementById('locationhelp').style.display = 'block';" onmouseout="document.getElementById('locationhelp').style.display = 'none';")
                strong= `${i18n.__("Location")}*` 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #locationhelp.form-text.text-muted(style="display:none")
                  = i18n.__("LocationText")
              .col-sm-8
                input.form-control(type="text" id="address" name="location[address]" value=(stallion.location && stallion.location.address))
            .form-group.row
              label.col-sm-4.col-form-label(for="xxox" onmouseover="document.getElementById('xxoxhelp').style.display = 'block';" onmouseout="document.getElementById('xxoxhelp').style.display = 'none';")= i18n.__("xxox")
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #xxoxhelp.form-text.text-muted(style="display:none")
                  = i18n.__("xxoxText")
              .col-sm-8
                input.form-control(type="text" name="xxox" value=stallion.xxox)
            .form-group.row
              label.col-sm-4.col-form-label(for="feilink" onmouseover="document.getElementById('feihelp').style.display = 'block';" onmouseout="document.getElementById('feihelp').style.display = 'none';")= i18n.__("FEI Results")
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #feihelp.form-text.text-muted(style="display:none")
                  = i18n.__("FEIText")
              .col-sm-8
                input.form-control(type="text" name="feilink" value=stallion.feilink)
            .form-group.row
              label.col-sm-4.col-form-label(for="picture")
                strong= `${i18n.__("Pictures")}*`
              .col-sm-8
                #files
                  input#file(name="file[]" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    = i18n.__("UploadText")
                p#buttonfile
                  a.btn-add-pink(href="javascript:add_file()")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = i18n.__("Add Files")
            .form-group.row
              label.col-sm-4.col-form-label(for="pictureOffspring") Pictures Offspring
              .col-sm-8
                #filesOffspring
                  input#fileOffspring(name="fileOffspring[]" type="file" accept="image/png, image/jpeg, image/gif, application/pdf" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    = i18n.__("UploadText")
                p#buttonfileOffspring
                  a.btn-add-pink(href="javascript:add_fileOffspring()")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = i18n.__("Add Files")
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lng") Longitude
              .col-sm-8
                input.form-control(type="text" id="lng" name="location[coordinates][0]" value=(stallion.location && stallion.location.coordinates[0]))
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lat") Latitude
              .col-sm-8
                input.form-control(type="text" id="lat" name="location[coordinates][1]" value=(stallion.location && stallion.location.coordinates[1]))
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="updated") Updated
              .col-sm-8
                input.form-control(type="date" name="updated" value=h.moment(today).format('YYYY-MM-DD'))
            #addfile(style="display:none")
              input#file(name="file[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="" style="padding-top: 10px;padding-bottom: 10px;")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['file[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_file()
              {
              var div3 = document.createElement('div');
              // Get template data
              div3.innerHTML = document.getElementById('addfile').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('files').appendChild(div3);
              }
            #addfileOffspring(style="display:none")
              input#fileOffspring(name="fileOffspring[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['fileOffspring[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_fileOffspring()
              {
              var div4 = document.createElement('div');
              // Get template data
              div4.innerHTML = document.getElementById('addfileOffspring').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('filesOffspring').appendChild(div4);
              }
        .col-md-4.text-right
          .form-group.row.approved
            .col-sm-4 
              strong= `${i18n.__("Approved for")}*`
            .col-sm-8
              - const studbooks = ['Z', 'BWP', 'SBS', 'KWPN', 'AES', 'OS', 'SF', 'Holst', 'Hann', 'Oldbg', 'Westf', 'SWB', 'ISH', 'DSP', 'Rhein', 'Meckl', 'Other' ]
              - const studtags = stallion.approved || []
              each studbook in studbooks
                .form-check(style="text-align:left;").col-sm-3.col-3
                  input.form-check-input(type="checkbox" id=studbook value=studbook name="approved" checked=(studtags.includes(studbook)))
                  label.form-check-label(for="studbook") #{studbook}
          .form-group.row.sperm
            .col-sm-4
              strong= `${i18n.__("Semen Type")}*`
            .col-sm-8
              - const spermoptions = [`${i18n.__("Fresh")}`, `${i18n.__("Frozen")}`, `${i18n.__("ICSI")}`, `${i18n.__("Unavailable")}`]
              - const spermtags = stallion.semen || []
              each spermoption in spermoptions
                .form-check(style="text-align:left;").col-sm-3.col-3
                  input.form-check-input(type="checkbox" id=spermoption value=spermoption name="semen" checked=(spermtags.includes(spermoption)))
                  label.form-check-label(for="spermoption") #{spermoption}
          .form-group.row
            label.col-sm-4.col-form-label(for="freshfrom" onmouseover="document.getElementById('freshfromhelp').style.display = 'block';" onmouseout="document.getElementById('freshfromhelp').style.display = 'none';") Fresh from 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #freshfromhelp.form-text.text-muted(style="display:none")
                  =i18n.__("FreshStartText")
            if stallion.freshfrom
              .col-sm-8
                input.form-control(type="date" name="freshfrom" value= h.moment(stallion.freshfrom).format('YYYY-MM-DD'))
            else
              .col-sm-8
                input.form-control(type="date" name="freshfrom" value=DD-MM-YYYY)
          .form-group.row
            label.col-sm-4.col-form-label(for="freshuntil" onmouseover="document.getElementById('freshuntilhelp').style.display = 'block';" onmouseout="document.getElementById('freshuntilhelp').style.display = 'none';") until 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #freshuntilhelp.form-text.text-muted(style="display:none")
                  =i18n.__("FreshEndText")
            if stallion.freshuntil
              .col-sm-8
                input.form-control(type="date" name="freshuntil" value= h.moment(stallion.freshuntil).format('YYYY-MM-DD'))
            else
              .col-sm-8
                input.form-control(type="date" name="freshuntil" value=DD-MM-YYYY)
          .form-group.row
            label.col-sm-4.col-form-label(for="studfee" onmouseover="document.getElementById('studfeehelp').style.display = 'block';" onmouseout="document.getElementById('studfeehelp').style.display = 'none';")
              strong= `${i18n.__("SemenPrice")} €*`
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #studfeehelp.form-text.text-muted(style="display:none")
                =i18n.__("SemenPriceText")
            .col-sm-8
              input.form-control(type="text" name="studfee" value=stallion.studfee)
          .form-group.row
            label.col-sm-4.col-form-label(for="studfeestraw" onmouseover="document.getElementById('studfeestrawhelp').style.display = 'block';" onmouseout="document.getElementById('studfeestrawhelp').style.display = 'none';")
              strong= `${i18n.__("Price/straw")} €*` 
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #studfeestrawhelp.form-text.text-muted(style="display:none")
                =i18n.__("StrawText")
            .col-sm-8
              input.form-control(type="text" name="studfeestraw" value=stallion.studfeestraw)
          .form-group.row.sperm
            label.col-sm-4.col-form-label(for="semendescription" onmouseover="document.getElementById('semenhelp').style.display = 'block';" onmouseout="document.getElementById('semenhelp').style.display = 'none';") Semen description 
                i#infoname.fa.fa-info-circle(aria-hidden="true")
                #semenhelp.form-text.text-muted(style="display:none")
                  =i18n.__("SemenDescriptionText")
            .col-sm-8
              input.form-control(type="text" name="semendescription" value=stallion.semendescription)
          .form-group.row.approved
            .col-sm-4
              strong= `${i18n.__("LFG")}*`
            .col-sm-8
              - const lfgoptions = [`${i18n.__("Yes")}`, `${i18n.__("No")}`]
              - const lfgtags = stallion.lfg || []
              each lfgoption in lfgoptions
                .form-check(style="text-align:left;").col-sm-6.col-6
                  input.form-check-input(type="checkbox" id=lfgoption value=lfgoption name="lfg" checked=(lfgtags.includes(lfgoption)))
                  label.form-check-label(for="lfgoption") #{lfgoption}
          .form-group.row.approved
            .col-sm-4(onmouseover="document.getElementById('availablehelp').style.display = 'block';" onmouseout="document.getElementById('availablehelp').style.display = 'none';")
              strong= `${i18n.__("Available in")}*`
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #availablehelp.form-text.text-muted(style="display:none")
                =i18n.__("AvailableText")
            .col-sm-8
              - const availableoptions = [`${i18n.__("Belgium")}`, `${i18n.__("Netherlands")}`, `${i18n.__("France")}`, `${i18n.__("Germany")}`, `${i18n.__("USA")}`, `${i18n.__("Canada")}`, `${i18n.__("Africa")}`, `${i18n.__("Asia")}`, `${i18n.__("Rest of Europe")}`]
              - const availabletags = stallion.available || []
              each availableoption in availableoptions
                .form-check(style="text-align:left;padding-left: 25px !important;").col-sm-4.col-4
                  input.form-check-input(type="checkbox" id=availableoption value=availableoption name="available" checked=(availabletags.includes(availableoption)))
                  label.form-check-label(for="availableoption") #{availableoption}
          .form-group.row.approved
            .col-sm-4(onmouseover="document.getElementById('redhelp').style.display = 'block';" onmouseout="document.getElementById('redhelp').style.display = 'none';")
              strong= `${i18n.__("Red Factor")}*` 
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #redhelp.form-text.text-muted(style="display:none")
                =i18n.__("RedText")
            .col-sm-8
              - const redoptions = [`${i18n.__("Carrier")}`, `${i18n.__("No carrier")}`, `${i18n.__("Unknown")}`]
              - const redtags = stallion.redfactor || []
              each redoption in redoptions
                .form-check(style="text-align:left;padding-left: 25px !important;").col-sm-4.col-4
                  input.form-check-input(type="checkbox" id=redoption value=redoption name="redfactor" checked=(redtags.includes(redoption)))
                  label.form-check-label(for="redoption") #{redoption}
          .form-group.row.sperm
            .col-sm-4(onmouseover="document.getElementById('wffshelp').style.display = 'block';" onmouseout="document.getElementById('wffshelp').style.display = 'none';")
              strong= `${i18n.__("WFFS")}*`
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #wffshelp.form-text.text-muted(style="display:none")
                =i18n.__("WFFSText")
            .col-sm-8
              - const wffsoptions = [`${i18n.__("Carrier")}`, `${i18n.__("No carrier")}`, `${i18n.__("Unknown")}`]
              - const wffstags = stallion.wffs || []
              each wffsoption in wffsoptions
                .form-check(style="text-align:left;padding-left: 25px !important;").col-sm-4.col-4
                  input.form-check-input(type="checkbox" id=wffsoption value=wffsoption name="wffs" checked=(wffstags.includes(wffsoption)))
                  label.form-check-label(for="wffsoption") #{wffsoption}
          .form-group.row.sperm
            label.col-sm-4.col-form-label(for="labels" onmouseover="document.getElementById('labelshelp').style.display = 'block';" onmouseout="document.getElementById('labelshelp').style.display = 'none';")= i18n.__("Labels") 
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #labelshelp.form-text.text-muted(style="display:none")
                =i18n.__("LabelText")
            .col-sm-8
              input.form-control(type="text" name="labels" value=stallion.labels)
          .form-group.row.sperm
            label.col-sm-4.col-form-label(for="damline" onmouseover="document.getElementById('damlinehelp').style.display = 'block';" onmouseout="document.getElementById('damlinehelp').style.display = 'none';")= i18n.__("Dam line")
              i#infoname.fa.fa-info-circle(aria-hidden="true")
              #damlinehelp.form-text.text-muted(style="display:none")
                =i18n.__("DamlineText")
            .col-sm-8
              input.form-control(type="text" name="damline" value=stallion.damline)
          .form-group.row
            label.col-sm-4.col-form-label(for="youtube")=i18n.__("YouTube Link")
            .col-sm-8
              if stallion.youtube
                #youtube
                  -for (var j=0; j < stallion.youtube.length; j++)
                    input.form-control(name="youtube[]" value=stallion.youtube[j] style="margin-bottom: 1rem !important;")
                p#addvideo
                  a.btn-add-pink(href="javascript:add_video()" style="margin-top:-5px;")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = i18n.__("Add Video")
              else
                    #youtube
                      input.form-control(type="text" name="youtube[]" value=stallion.youtube)
                      small#youtubeHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                        =i18n.__("YouTubeText")
                    p#addvideo
                      a.btn-add-pink(href="javascript:add_video()" style="margin-top:-5px;")
                        i.fa.fa-plus-square(aria-hidden="true")
                        = i18n.__("Add Video")
        #addlink(style="display:none")
          .youtubefeed
            input.form-control(type="text" name="youtube[]" value="")
    .row.justify-content-md-center
      if vets
        .col-md-4.text-right
              .form-group.row.ml-2
                h4= i18n.__("Vets available")
        .col-md-4.text-right
        .row.justify-content-center.mb-5
          .offset-md-1.col-md-6
            each vet in vets
                .form-check(style="text-align:left;").col-sm-3
                  - const vetnames = [`${vet.name}`]
                  - const stallionids = [`${stallion._id}`]
                  - const stalliontags = vet.stallionlist || []
                  each stallionid in stallionids
                    input.form-check-input(type="checkbox" id=stallion.sportname value=stallion._id name="stallionlist" checked=(stalliontags.includes(stallionid)) style="vertical-align: middle")
                    label.form-check-label(for="vet") #{vetnames}
    .pedigree-container.row.justify-content-md-center
        h3 
          strong= `${i18n.__("Pedigree")}*`
        .col-md-6
          table#pedigreeadd(border="0" cellpadding="0" cellspacing="0" style="width:100%;")
            tbody
            tr
                td(rowspan="8" style="border-bottom:2px solid #192230")
                    input.form-control(type="text" value=stallion.sire name="sire" placeholder="Father")
                td(rowspan="4")
                    input.form-control(type="text" name="siresire" placeholder="Father of Father" value=stallion.siresire)
                td(rowspan="2")
                    input.form-control(type="text" name="siresiresire" placeholder="Father of Father of Father" value=stallion.siresiresire)
            tr
            tr
                td(rowspan="2")
                    input.form-control(type="text" name="siresiredam" placeholder="Mother of Father of Father" value=stallion.siresiredam)
            tr
            tr
                td(width="25%" rowspan="4" style="border-bottom:2px solid #192230")
                    input.form-control(type="text" name="siredam" placeholder="Mother of Father" value=stallion.siredam)
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="siredamsire" placeholder="Father of Mother of Father" value=stallion.siredamsire)
            tr
            tr
                td(width="25%" rowspan="2" style="border-bottom:2px solid #192230")
                    input.form-control(type="text" name="siredamdam" placeholder="Mother of Mother of Father" value=stallion.siredamdam)
            tr
            tr
                td(width="25%" rowspan="8")
                    input.form-control(type="text" name="dam" placeholder="Mother" value=stallion.dam)
                td(width="25%" rowspan="4")
                    input.form-control(type="text" name="damsire" placeholder="Father of Mother" value=stallion.damsire)
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damsiresire" placeholder="Father of Father of Mother" value=stallion.damsiresire)
            tr
            tr
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damsiredam" placeholder="Mother of Father of Mother" value=stallion.damsiredam)
            tr
            tr
                td(width="25%" rowspan="4")
                    input.form-control(type="text" name="damdam" placeholder="Mother of Mother" value=stallion.damdam)
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damdamsire" placeholder="Father of Mother of Mother" value=stallion.damdamsire)
            tr
            tr
                td(width="25%" rowspan="2")
                    input.form-control(type="text" name="damdamdam" placeholder="Mother of Mother of Mother" value=stallion.damdamdam)
            tr
    .text-container.row.justify-content-md-center
        .col-md-4
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="description")
                  strong= `${i18n.__("Description")}*`
                .col-sm-8
                    textarea.form-control(name="description" rows="13" cols="75" placeholder="Here is your stallion's description.")= stallion.description
        .col-md-4.text-right
            .form-group.row
                label.col-sm-4.col-form-label(for="results")=i18n.__("Results")
                if stallion.result
                  #results.col-sm-8
                    #palmares.palmares
                      -for (var i = 0; i < stallion.result.length; i++)
                        input(name="result[]" class="col-12" value=stallion.result[i])
                    p#addnew
                        a.btn-add-pink(href="javascript:add_feed()")
                          i.fa.fa-plus-square(aria-hidden="true")
                          = i18n.__("Add Results")
                else
                  #results.col-sm-8
                      #palmares.palmares
                        input(type="text" name="result[]" class="col-12" placeholder="22/07/2018 - 1st place - CSIO5* Aachen 1m60 GP - Harrie Smolders" size="50" value=stallion.result)
                        small#offspringHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                          =i18n.__("ResultText")
                      p#addnew
                        a.btn-add-pink(href="javascript:add_feed()")
                          i.fa.fa-plus-square(aria-hidden="true")
                          = i18n.__("Add Results")
            .form-group.row
                label.col-sm-4.col-form-label(for="offspring")= i18n.__("Offspring")
                if stallion.offspring
                  #offspringlist.col-sm-8
                    #offspring.offspring
                      -for (var i = 0; i < stallion.offspring.length; i++)
                        input(name="offspring[]" value=stallion.offspring[i])
                    p#addoffspring
                      a.btn-add-pink(href="javascript:add_offspring()")
                        i.fa.fa-plus-square(aria-hidden="true")
                        = i18n.__("Add More")
                else
                  #offspringlist.col-sm-8
                      #offspring.offspring
                        input(type="text" name="offspring[]" class="col-12" placeholder="Emerald van 't Ruytershof - ds. Carthago Z - 1m60 with Harrie Smolders'" size="50" value=stallion.offspring)
                        small#offspringHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                          =i18n.__("OffspringText")
                      p#addoffspring
                        a.btn-add-pink(href="javascript:add_offspring()")
                          i.fa.fa-plus-square(aria-hidden="true")
                          = i18n.__("Add More")
            #addresult(style="display:none")
                .resultfeed
                    input(type="text" name="result[]" value="")
            #addchild(style="display:none")
                .childfeed
                    input(type="text" name="offspring[]" value="")
    .form-row.text-center.justify-content-md-center.pb-5
        .col-sm-8.col-12
          .form-group.input-group.offset-sm-4.col-sm-8
              - const termsoptions = [`${i18n.__("Termstext")}`]
              each termsoption in termsoptions
                input.form-check-input(type="checkbox" id=termsoption value=termsoption name="terms" style="vertical-align: middle;margin-left:15px;")
                label.form-check-label(for="termsoption") #{termsoption}
          button.btn.btn-brand(type="submit" style="width:100%;line-height: normal;")= i18n.__("Submit")
