mixin stallionAccountCard(stallion)
    .stallions--heart
            .row.text-center
                .col-md-1(style="line-height:52px;")
                    form.heart(method="POST" action=`/api/stallions/${stallion._id}/heart`)
                        -const heartStrings = user.hearts.map(obj => obj.toString())
                        -const heartClass = heartStrings.includes(stallion._id.toString()) ? 'heart__button--hearted' : ''
                        button.heart__button(type="submit" name="heart" class=heartClass style="vertical-align: sub;")
                            != h.icon('heart')
                .col-md-3(style="line-height:52px;") #{stallion.birthname}
                .col-md-5(style="line-height:52px;") #{stallion.sire} x #{stallion.damsire}
                .col-md-3
                    a.btn-brand(href=`/stallion/${stallion.slug}`)=i18n.__("View")
                    