mixin stallionOwnedCard(stallion)
    .stallions--heart
            .row.text-center
                .col-md-3(style="line-height:52px;")
                    p.account-text #{stallion.birthname}
                .col-md-3(style="line-height:52px;")
                    p.account-text #{stallion.sire} x #{stallion.damsire}
                .col-md-2
                    a.btn-brand(href=`/stallion/${stallion.slug}`)=i18n.__("View")
                .col-md-2
                    a.btn-pink(href=`/stallions/${stallion._id}/edit`)=i18n.__("Edit")
                .col-md-2
                    if stallion.online==true
                        a.btn-blue(href=`/stallion/${stallion.slug}`) Online
                    else
                        a.btn-darkblue(href=`/stallion/${stallion.slug}`) Offline
