mixin vetCard(vet = {})
    .stallions.col-md-3.card.p-0
        .stallion__action(style="text-align:center;")
                if user && vet.owner.equals(user._id)
                    .stallion__action--edit.stallion__action-pencil
                        a(href=`/centers/${vet._id}/edit`)
                            != h.icon('pencil')
                if vet.commentaarVet
                    .stallion__action--edit
                        .stallion__action.stallion__action--count
                            != h.icon('review')
                            span= vet.commentaarVet.length
        .imagediv
          a(href=`/centers/${vet.slug}` style="width:100%;height:100%;")
            img.stallion-img(src=`/uploads/${vet.file || 'stallion.png'}` onerror="this.src = '/images/icons/favicon.png';")
        h3= vet.name
        .stallion-info
          .stallion-text
            p.left-key= i18n.__("Location")
            p.right-value= vet.location.address
            div(style="clear: both;")
          .stallion-text
            p.left-key= i18n.__("Phone1")
            p.right-value= vet.phone1
          if vet.phone2!==""
            .stallion-text
              p.left-key= i18n.__("Phone2")
              p.right-value= vet.phone2
              div(style="clear: both;")
          .stallion-text
            p.left-key= i18n.__("Email")
            p.right-value= vet.email
            div(style="clear: both;")
          .stallion-text
            p.left-key= i18n.__("Services")
            p.right-value
              each s in vet.services
                = i18n.__(s)
                br
            div(style="clear: both;")
        a.btn-brand-news.btn-bottom(href=`/centers/${vet.slug}`)= i18n.__("View Breeding Center")
