mixin vetForm(vet = {})
  form(action=`/addVet/${vet._id || ''}` method="POST" enctype="multipart/form-data")
    .add-container.row.justify-content-md-center
      .col-md-4.text-right
            .form-group.row
              label.col-sm-4.col-form-label(for="Name")
                strong= `${i18n.__("Name")}*`
              .col-sm-8
                input.form-control(type="text" name="name" value= vet.name)
            .form-group.row
              label.col-sm-4.col-form-label(for="address")
                strong= i18n.__("Location")
              .col-sm-8
                input.form-control(type="text" id="address" name="location[address]" value=(vet.location && vet.location.address))
            .form-group.row
              label.col-sm-4.col-form-label(for="phone1")
                strong= `${i18n.__("Phone1")}*`
              .col-sm-8
                input.form-control(type="text" name="phone1" value=vet.phone1)
            .form-group.row
              label.col-sm-4.col-form-label(for="phone2")= i18n.__("Phone2")
              .col-sm-8
                input.form-control(type="text" name="phone2" value= vet.phone2)
            .form-group.row
              label.col-sm-4.col-form-label(for="fax")= i18n.__("Faxnumber")
              .col-sm-8
                input.form-control(type="text" name="fax" value= vet.fax)
            .form-group.row
              label.col-sm-4.col-form-label(for="email")
                strong= `${i18n.__("Email")}*`
              .col-sm-8
                input.form-control(type="text" name="email" value= vet.email)
            .form-group.row
              label.col-sm-4.col-form-label(for="website") Website
              .col-sm-8
                input.form-control(type="text" name="website" value= vet.website placeholder="https://...")
            .form-group.row
              label.col-sm-4.col-form-label(for="prices")= i18n.__("Prices")
              .col-sm-8
                input.form-control(type="text" name="prices" value= vet.prices placeholder="https://...")
            .form-group.row
              label.col-sm-4.col-form-label(for="Name")
                strong= `${i18n.__("Pictures")}*`
              .col-sm-8
                #files
                  input#picture(name="file[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="")
                  small#fileHelpBlock.form-text.text-muted(style="margin-bottom: 0.75rem;")
                    = i18n.__("UploadText")
                p#buttonfile
                  a.btn-add-pink(href="javascript:add_file()")
                    i.fa.fa-plus-square(aria-hidden="true")
                    = i18n.__("Add Files")
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lng") Longitude
              .col-sm-8
                input.form-control(type="text" id="lng" name="location[coordinates][0]" value=(vet.location && vet.location.coordinates[0]))
            .form-group.row(style="display:none")
              label.col-sm-4.col-form-label(for="lat") Latitude
              .col-sm-8
                input.form-control(type="text" id="lat" name="location[coordinates][1]" value=(vet.location && vet.location.coordinates[1]))
            #addfile(style="display:none")
              input#picture(name="file[]" type="file" accept="image/png, image/jpeg, application/pdf" multiple="")
            script(type="text/javascript").
              function validate(frm)
              {
              var ele = frm.elements['file[]'];
              if (! ele.length)
              {
              alert(ele.value);
              }
              for(var i=0; i<ele.length; i++)
              {
              alert(ele[i].value);
              }
              return true;
              }
              function add_file()
              {
              var div3 = document.createElement('div');
              // Get template data
              div3.innerHTML = document.getElementById('addfile').innerHTML;
              // append to our form, so that template data
              //become part of form
              document.getElementById('files').appendChild(div3);
              }

      .col-md-4.text-left
            .form-group.row.approved
              .col-sm-4.text-right
                strong= `${i18n.__("Services")}*`
              .col-sm-8
                - const choices = [`${i18n.__("ET")}`, `${i18n.__("Semen Collection")}`, `${i18n.__("Semen Freezing")}`, `${i18n.__("Semen Storage")}`, `${i18n.__("Insemination Fresh")}`,`${i18n.__("Insemination Frozen")}`, `${i18n.__("Stallion Owner")}`, `${i18n.__("ICSI")}`, `${i18n.__("OPU")}`, `${i18n.__("Birth Guidance")}`, `${i18n.__("Surrogate")}`, `${i18n.__("Foster")}`, `${i18n.__("Livery")}`, `${i18n.__("Training Stallion")}`]
                - const services = vet.services || []
                each choice in choices
                  .form-check.col-sm-6
                    input.form-check-input(type="checkbox" id=choice value=choice name="services" checked=(services.includes(choice)))
                    label.form-check-label(for="choice") #{choice}
              .col-md-4
            .form-group.row.text-right
                label.col-sm-4.col-form-label(for="description")
                  strong= `${i18n.__("Description")}*`
                .col-sm-8
                    textarea.form-control(name="description" rows="8" cols="75" placeholder="Here you can write your information")= vet.description
            .form-group.row
              label.col-sm-4.col-form-label(for="Name")
                strong= `${i18n.__("Opening Hours")}*`
              #hours.col-sm-8(name="hours[]" style="display: flex;\
              -ms-flex-wrap: wrap;\
              flex-wrap: wrap;\
              margin-right: -15px;\
              margin-left: -15px;")
                div(style="display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;")
                  i.far.fa-clock(style="line-height: 1.5")
                  .col-sm-3
                    if !vet.hours
                      select.weekday(name="hours[day]")
                          option(value="Monday")= i18n.__("Mon")
                          option(value="Tuesday")= i18n.__("Tue")
                          option(value="Wednesday")= i18n.__("Wed")
                          option(value="Thursday")= i18n.__("Thu")
                          option(value="Friday")= i18n.__("Fri")
                          option(value="Saturday")= i18n.__("Sat")
                          option(value="Sunday")= i18n.__("Sun")
                    else
                      each day in vet.hours.day
                        select.weekday(name="hours[day]")
                          option(value=`${day || "Day of the Week"}`) #{day || "Choose a Day of the Week"}
                          option(value="Monday")= i18n.__("Mon")
                          option(value="Tuesday")= i18n.__("Tue")
                          option(value="Wednesday")= i18n.__("Wed")
                          option(value="Thursday")= i18n.__("Thu")
                          option(value="Friday")= i18n.__("Fri")
                          option(value="Saturday")= i18n.__("Sat")
                          option(value="Sunday")= i18n.__("Sun")
                      
                  .col-sm-4
                    if !vet.hours
                      select.hours-start(name="hours[starthour]")
                        option(value=0) 00:00
                        option(value=1800) 00:30 
                        option(value=3600) 01:00
                        option(value=5400) 01:30 
                        option(value=7200) 02:00 
                        option(value=9000) 02:30 
                        option(value=10800) 03:00 
                        option(value=12600) 03:30 
                        option(value=14400) 04:00 
                        option(value=16200) 04:30 
                        option(value=18000) 05:00 
                        option(value=19800) 05:30 
                        option(value=21600) 06:00 
                        option(value=23400) 06:30 
                        option(value=25200) 07:00 
                        option(value=27000) 07:30 
                        option(value=28800) 08:00 
                        option(value=30600) 08:30 
                        option(value=32400 selected) 09:00 
                        option(value=34200) 09:30 
                        option(value=36000) 10:00 
                        option(value=37800) 10:30 
                        option(value=39600) 11:00 
                        option(value=41400) 11:30 
                        option(value=43200) 12:00
                        option(value=45000) 12:30 
                        option(value=46800) 13:00 
                        option(value=48600) 13:30 
                        option(value=50400) 14:00 
                        option(value=52200) 14:30 
                        option(value=54000) 15:00 
                        option(value=55800) 15:30 
                        option(value=57600) 16:00 
                        option(value=59400) 16:30 
                        option(value=61200) 17:00 
                        option(value=63000) 17:30 
                        option(value=64800) 18:00 
                        option(value=66600) 18:30 
                        option(value=68400) 19:00 
                        option(value=70200) 19:30 
                        option(value=72000) 20:00 
                        option(value=73800) 20:30 
                        option(value=75600) 21:00 
                        option(value=77400) 21:30 
                        option(value=79200) 22:00 
                        option(value=81000) 22:30 
                        option(value=82800) 23:00 
                        option(value=84600) 23:30 
                    else
                      each starthour in vet.hours.starthour
                        select.hours-start(name="hours[starthour]")
                          option(value=`${h.moment.utc(starthour*1000).format('HH:mm') || "Starthour"}` selected) #{h.moment.utc(starthour*1000).format('HH:mm') || "Choose a starthour"}
                          option(value=0) 00:00
                          option(value=1800) 00:30 
                          option(value=3600) 01:00
                          option(value=5400) 01:30 
                          option(value=7200) 02:00 
                          option(value=9000) 02:30 
                          option(value=10800) 03:00 
                          option(value=12600) 03:30 
                          option(value=14400) 04:00 
                          option(value=16200) 04:30 
                          option(value=18000) 05:00 
                          option(value=19800) 05:30 
                          option(value=21600) 06:00 
                          option(value=23400) 06:30 
                          option(value=25200) 07:00 
                          option(value=27000) 07:30 
                          option(value=28800) 08:00 
                          option(value=30600) 08:30 
                          option(value=32400) 09:00 
                          option(value=34200) 09:30 
                          option(value=36000) 10:00 
                          option(value=37800) 10:30 
                          option(value=39600) 11:00 
                          option(value=41400) 11:30 
                          option(value=43200) 12:00
                          option(value=45000) 12:30 
                          option(value=46800) 13:00 
                          option(value=48600) 13:30 
                          option(value=50400) 14:00 
                          option(value=52200) 14:30 
                          option(value=54000) 15:00 
                          option(value=55800) 15:30 
                          option(value=57600) 16:00 
                          option(value=59400) 16:30 
                          option(value=61200) 17:00 
                          option(value=63000) 17:30 
                          option(value=64800) 18:00 
                          option(value=66600) 18:30 
                          option(value=68400) 19:00 
                          option(value=70200) 19:30 
                          option(value=72000) 20:00 
                          option(value=73800) 20:30 
                          option(value=75600) 21:00 
                          option(value=77400) 21:30 
                          option(value=79200) 22:00 
                          option(value=81000) 22:30 
                          option(value=82800) 23:00 
                          option(value=84600) 23:30 
                  .col-sm-4
                    if !vet.hours
                      select.hours-end(name="hours[endhour]")
                        option(value=1800) 00:30 
                        option(value=3600) 01:00
                        option(value=5400) 01:30 
                        option(value=7200) 02:00 
                        option(value=9000) 02:30 
                        option(value=10800) 03:00 
                        option(value=12600) 03:30 
                        option(value=14400) 04:00 
                        option(value=16200) 04:30 
                        option(value=18000) 05:00 
                        option(value=19800) 05:30 
                        option(value=21600) 06:00 
                        option(value=23400) 06:30 
                        option(value=25200) 07:00 
                        option(value=27000) 07:30 
                        option(value=28800) 08:00 
                        option(value=30600) 08:30 
                        option(value=32400) 09:00 
                        option(value=34200) 09:30 
                        option(value=36000) 10:00 
                        option(value=37800) 10:30 
                        option(value=39600) 11:00 
                        option(value=41400) 11:30 
                        option(value=43200) 12:00
                        option(value=45000) 12:30 
                        option(value=46800) 13:00 
                        option(value=48600) 13:30 
                        option(value=50400) 14:00 
                        option(value=52200) 14:30 
                        option(value=54000) 15:00
                        option(value=55800) 15:30 
                        option(value=57600) 16:00 
                        option(value=59400) 16:30 
                        option(value=61200 selected) 17:00 
                        option(value=63000) 17:30 
                        option(value=64800) 18:00 
                        option(value=66600) 18:30 
                        option(value=68400) 19:00 
                        option(value=70200) 19:30 
                        option(value=72000) 20:00 
                        option(value=73800) 20:30 
                        option(value=75600) 21:00 
                        option(value=77400) 21:30 
                        option(value=79200) 22:00 
                        option(value=81000) 22:30 
                        option(value=82800) 23:00 
                        option(value=84600) 23:30 
                        option(value=86400) 24:00
                    else
                      each endhour in vet.hours.endhour
                        select.hours-end(name="hours[endhour]")
                          option(value=`${h.moment.utc(endhour*1000).format('HH:mm') || "Endhour"}` selected) #{h.moment.utc(endhour*1000).format('HH:mm') || "Choose an endhour"}
                          option(value=1800) 00:30 
                          option(value=3600) 01:00
                          option(value=5400) 01:30 
                          option(value=7200) 02:00 
                          option(value=9000) 02:30 
                          option(value=10800) 03:00 
                          option(value=12600) 03:30 
                          option(value=14400) 04:00 
                          option(value=16200) 04:30 
                          option(value=18000) 05:00 
                          option(value=19800) 05:30 
                          option(value=21600) 06:00 
                          option(value=23400) 06:30 
                          option(value=25200) 07:00 
                          option(value=27000) 07:30 
                          option(value=28800) 08:00 
                          option(value=30600) 08:30 
                          option(value=32400) 09:00 
                          option(value=34200) 09:30 
                          option(value=36000) 10:00 
                          option(value=37800) 10:30 
                          option(value=39600) 11:00 
                          option(value=41400) 11:30 
                          option(value=43200) 12:00
                          option(value=45000) 12:30 
                          option(value=46800) 13:00 
                          option(value=48600) 13:30 
                          option(value=50400) 14:00 
                          option(value=52200) 14:30 
                          option(value=54000) 15:00
                          option(value=55800) 15:30 
                          option(value=57600) 16:00 
                          option(value=59400) 16:30 
                          option(value=61200) 17:00 
                          option(value=63000) 17:30 
                          option(value=64800) 18:00 
                          option(value=66600) 18:30 
                          option(value=68400) 19:00 
                          option(value=70200) 19:30 
                          option(value=72000) 20:00 
                          option(value=73800) 20:30 
                          option(value=75600) 21:00 
                          option(value=77400) 21:30 
                          option(value=79200) 22:00 
                          option(value=81000) 22:30 
                          option(value=82800) 23:00 
                          option(value=84600) 23:30 
                          option(value=86400) 24:00
      
              #addhours(style="visibility: hidden;")
                div(name="hours[]" id="hours[]" style="\
                display: flex;\
                -ms-flex-wrap: wrap;\
                flex-wrap: wrap;\
                ")
                  a(href="javascript:remove_hours()")
                    i.fas.fa-trash-alt(style="line-height: 1.5;margin-right: 2px;")
                  .col-sm-3
                    select.weekday(name="hours[day]")
                      option(value="Monday")= i18n.__("Mon")
                      option(value="Tuesday")= i18n.__("Tue")
                      option(value="Wednesday")= i18n.__("Wed")
                      option(value="Thursday")= i18n.__("Thu")
                      option(value="Friday")= i18n.__("Fri")
                      option(value="Saturday")= i18n.__("Sat")
                      option(value="Sunday")= i18n.__("Sun")
                  .col-sm-4
                    select.hours-start(name="hours[starthour]")
                      option(value=0) 00:00
                      option(value=1800) 00:30 
                      option(value=3600) 01:00
                      option(value=5400) 01:30 
                      option(value=7200) 02:00 
                      option(value=9000) 02:30 
                      option(value=10800) 03:00 
                      option(value=12600) 03:30 
                      option(value=14400) 04:00 
                      option(value=16200) 04:30 
                      option(value=18000) 05:00 
                      option(value=19800) 05:30 
                      option(value=21600) 06:00 
                      option(value=23400) 06:30 
                      option(value=25200) 07:00 
                      option(value=27000) 07:30 
                      option(value=28800) 08:00 
                      option(value=30600) 08:30 
                      option(value=32400 selected="") 09:00 
                      option(value=34200) 09:30 
                      option(value=36000) 10:00 
                      option(value=37800) 10:30 
                      option(value=39600) 11:00 
                      option(value=41400) 11:30 
                      option(value=43200) 12:00
                      option(value=45000) 12:30 
                      option(value=46800) 13:00 
                      option(value=48600) 13:30 
                      option(value=50400) 14:00 
                      option(value=52200) 14:30 
                      option(value=54000) 15:00 
                      option(value=55800) 15:30 
                      option(value=57600) 16:00 
                      option(value=59400) 16:30 
                      option(value=61200) 17:00 
                      option(value=63000) 17:30 
                      option(value=64800) 18:00 
                      option(value=66600) 18:30 
                      option(value=68400) 19:00 
                      option(value=70200) 19:30 
                      option(value=72000) 20:00 
                      option(value=73800) 20:30 
                      option(value=75600) 21:00 
                      option(value=77400) 21:30 
                      option(value=79200) 22:00 
                      option(value=81000) 22:30 
                      option(value=82800) 23:00 
                      option(value=84600) 23:30 
                  .col-sm-4
                    select.hours-end(name="hours[endhour]")
                      option(value=1800) 00:30 
                      option(value=3600) 01:00
                      option(value=5400) 01:30 
                      option(value=7200) 02:00 
                      option(value=9000) 02:30 
                      option(value=10800) 03:00 
                      option(value=12600) 03:30 
                      option(value=14400) 04:00 
                      option(value=16200) 04:30 
                      option(value=18000) 05:00 
                      option(value=19800) 05:30 
                      option(value=21600) 06:00 
                      option(value=23400) 06:30 
                      option(value=25200) 07:00 
                      option(value=27000) 07:30 
                      option(value=28800) 08:00 
                      option(value=30600) 08:30 
                      option(value=32400) 09:00 
                      option(value=34200) 09:30 
                      option(value=36000) 10:00 
                      option(value=37800) 10:30 
                      option(value=39600) 11:00 
                      option(value=41400) 11:30 
                      option(value=43200) 12:00
                      option(value=45000) 12:30 
                      option(value=46800) 13:00 
                      option(value=48600) 13:30 
                      option(value=50400) 14:00 
                      option(value=52200) 14:30 
                      option(value=54000) 15:00
                      option(value=55800) 15:30 
                      option(value=57600) 16:00 
                      option(value=59400) 16:30 
                      option(value=61200 selected="") 17:00 
                      option(value=63000) 17:30 
                      option(value=64800) 18:00 
                      option(value=66600) 18:30 
                      option(value=68400) 19:00 
                      option(value=70200) 19:30 
                      option(value=72000) 20:00 
                      option(value=73800) 20:30 
                      option(value=75600) 21:00 
                      option(value=77400) 21:30 
                      option(value=79200) 22:00 
                      option(value=81000) 22:30 
                      option(value=82800) 23:00 
                      option(value=84600) 23:30 
                      option(value=86400) 24:00
            p#buttonhours
                a.btn-add-pink(href="javascript:add_hours()")
                  i.fa.fa-plus-square(aria-hidden="true")
                  = i18n.__("Add Hours")
            script(type="text/javascript").
                function validate(frm)
                {
                var ele = frm.elements['hours[]'];
                if (! ele.length)
                {
                alert(ele.value);
                }
                for(var i=0; i<ele.length; i++)
                {
                alert(ele[i].value);
                }
                return true;
                }
                function add_hours()
                {
                var div9 = document.createElement('div');
                // Get template data
                div9.innerHTML = document.getElementById('addhours').innerHTML;
                // append to our form, so that template data
                //become part of form
                document.getElementById('hours').appendChild(div9);
                }
            script(type="text/javascript").
                function validate(frm)
                {
                var ele = frm.elements['hours[]'];
                if (! ele.length)
                {
                alert(ele.value);
                }
                for(var i=0; i<ele.length; i++)
                {
                alert(ele[i].value);
                }
                return true;
                }
                function remove_hours()
                {
                var element = document.getElementById("hours[]");
                element.parentNode.removeChild(element);
                }
            #addlink(style="display:none")
    .row.justify-content-md-center
      .col-md-4.text-right
            .form-group.row.ml-2
              h4= i18n.__("Stallions available: (optional)")
      .col-md-4.text-right
    .row.justify-content-center.mb-5
      .offset-md-1.col-md-6
        each stallion in stallions
          if stallion.online==true
            .form-check(style="text-align:left;").col-sm-3
              - const stallionnames = [`${stallion.sportname}`]
              - const stallionids = [`${stallion._id}`]
              - const stalliontags = vet.stallionlist || []
              each stallionid in stallionids
                input.form-check-input(type="checkbox" id=stallion.sportname value=stallion._id name="stallionlist" checked=(stalliontags.includes(stallionid)) style="vertical-align: middle")
                label.form-check-label(for="stallion") #{stallionnames}

    .row.ml-0.mr-0.text-center.justify-content-md-center.pb-5
        .form-group.input-group.offset-sm-4.col-sm-7
          - const termsoptions = [`${i18n.__("Termstext")}`]
              each termsoption in termsoptions
                input.form-check-input(type="checkbox" id=termsoption value=termsoption name="terms" style="vertical-align: middle")
                label.form-check-label(for="termsoption") #{termsoption}
        .col-8
          button.btn.btn-brand(type="submit" style="width:100%;line-height: normal;") Submit
