mixin vetStallionCard(stallion)
            .review__stars.col-md-3(style="border-right:0px !important;")
              .stallions.card.p-0
                a(href=`/stallion/${stallion.slug}` style="width:100%;height:100%;")
                    img.stallion-img-vet(src=`/uploads/${stallion.file || 'stallion.png'}` onerror="this.src = '/images/icons/favicon.png';")
                .text(style="height:125px;text-align:center;")
                    h3 #{stallion.sportname}
                    h7(style="text-align:center;margin-bottom:1rem !important;") #{stallion.sire} x #{stallion.damsire}
                a.btn-brand(href=`/stallion/${stallion.slug}`)= i18n.__("View Stallion")